@import 'helpers/bt-mixins';
@import 'variables/_variables-master';

.activity-header {
  &__wrap {
    min-height: 208px;
  }
  &__back {
    left: 35px;
    z-index: 999;
  }
  &__overtitle {
    font-family: font-family(secondary);
    font-size: font-size(body-s);
    line-height: 24px;
    letter-spacing: 1px;
  }
  &__tab-item {
    cursor: pointer;
    line-height: 14px;
    letter-spacing: 0.16px;
    margin-right: 50px;
    color: rgba(color(quaternary), 0.6);
    font-weight: 900;
    &:last-child {
      margin-right: 0;
    }
    &_active {
      color: color(quaternary);
      position: relative;
      &:after {
        content: '';
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 100%;
        height: 5px;
        background: color(primary);
      }
    }
  }
  &__button {
    margin-right: -(spacing(primary));
  }
  &__figure {
    position: fixed;
    z-index: 9;
    pointer-events: none;
    &_left {
      left: 0;
      width: 165px;
      bottom: -640px;
      position: absolute;
    }
    &_top {
      width: 42%;
      height: 130px;
      left: 34%;
      top: 0;
    }
    &_right {
      top: 0;
      right: 0;
      width: 200px;
    }
  }
  &__image {
    width: 100%;
    height: 100%;
  }
  &__content {
    position: relative;
    z-index: 99;
  }
  @include media-breakpoint-down(sm) {
    &__figure {
      display: none;
    }
  }
  @include media-breakpoint-down(lg) {
    &__figure {
      &_left,
      &_right {
        display: none;
      }
    }
  }
}
