<div class="dashboard position-relative">
  <div class="dashboard__fig dashboard__fig_left position-absolute">
    <img
      src="../assets/images/dashboard-left-bg.png"
      alt="shapes-left"
      class="dashboard__image"
    />
  </div>
  <div class="dashboard__fig dashboard__fig_right position-absolute">
    <img
      src="../assets/images/dashboard-right-bg.png"
      alt="shapes-right"
      class="dashboard__image"
    />
  </div>
  <div class="container-fluid">
    <div class="dashboard__boxes">
      <div class="dashboard__header" (click)="openPicker()">
        {{ 'ACTIVITIES.activities_create_secuantiation' | translate }}
      </div>
      <div class="row">
        <div class="dashboard__boxes-container col" *ngFor="let box of boxes">
          <app-statistics-box
            [variant]="box.phases ? 'resume' : 'chart'"
            [data]="box"
            (action)="openEditProjectModal($event)"
          ></app-statistics-box>
        </div>
      </div>
      <div class="dashboard__activities">
        <div class="dashboard__activities-fase">
          <div class="dashboard__activities-fase-header">
            <span class="dashboard__activities-fase-title">{{
              'ACTIVITIES.activities_phase_initial' | translate
            }}</span>
            <span class="dashboard__activities-fase-header-total">
              ({{ activitiesDataInitial?.length }}
              {{
                (activitiesDataInitial?.length === 1
                  ? 'ACTIVITIES.activities_title_activity'
                  : 'ACTIVITIES.activities_title_activities'
                ) | translate
              }})
            </span>
            <span
              class="dashboard__activities-fase-header-add"
              *ngIf="activitiesDataInitial?.length >= 1"
            >
              <app-button
                (click)="openModalUpdate('create', 'INITIAL')"
                class="details-selector__add-btn"
                [theme]="'primary'"
                [variant]="'text'"
                [icon]="'add'"
              >
                {{ 'ACTIVITIES.activities_new_activity' | translate }}
              </app-button>
            </span>
          </div>
          <div
            class="dashboard__activities-fase-no-activities"
            *ngIf="!activitiesDataInitial || activitiesDataInitial.length === 0"
          >
            <div class="dashboard__activities-fase-no-textcontainer">
              <span>
                {{
                  'ACTIVITIES.activities_phase_initial_empty_text_create_1'
                    | translate
                }}
              </span>
              <span class="dashboard__activities-fase-no-strongtext">
                {{
                  'ACTIVITIES.activities_phase_initial_empty_text_create_2'
                    | translate
                }}
              </span>
            </div>
            <app-button
              (click)="openModalUpdate('create', 'INITIAL')"
              class="dashboard__activities-fase-no-activities_button"
              [theme]="'primary'"
              [icon]="'add'"
              id="new-activity-button"
            >
              {{ 'ACTIVITIES.activities_new_activity' | translate }}
            </app-button>
          </div>
          <div
            class="dashboard__activities-components-fase_table"
            *ngIf="activitiesDataInitial && activitiesDataInitial.length > 0"
          >
            <div
              class="draggable-rows"
              *ngFor="let activity of activitiesDataInitial"
            >
              <app-draggable-row
                [element]="activity"
                [dropdownData]="activity.dropdownElements"
                (actionEmited)="executeDropdownActions($event)"
              ></app-draggable-row>
            </div>
          </div>
        </div>
        <div class="dashboard__activities-fase">
          <div class="dashboard__activities-fase-header">
            <span class="dashboard__activities-fase-title">{{
              'ACTIVITIES.activities_phase_development' | translate
            }}</span>
            <span class="dashboard__activities-fase-header-total">
              ({{ activitiesDataDevelop?.length }}
              {{
                (activitiesDataDevelop?.length === 1
                  ? 'ACTIVITIES.activities_title_activity'
                  : 'ACTIVITIES.activities_title_activities'
                ) | translate
              }})
            </span>
            <span
              class="dashboard__activities-fase-header-add"
              *ngIf="activitiesDataDevelop?.length >= 1"
            >
              <app-button
                (click)="openModalUpdate('create', 'DEVELOP')"
                class="details-selector__add-btn"
                [theme]="'primary'"
                [variant]="'text'"
                [icon]="'add'"
              >
                {{ 'ACTIVITIES.activities_new_activity' | translate }}
              </app-button>
            </span>
          </div>
          <div
            class="dashboard__activities-fase-no-activities"
            *ngIf="!activitiesDataDevelop || activitiesDataDevelop.length === 0"
          >
            <div class="dashboard__activities-fase-no-textcontainer">
              <span>
                {{
                  'ACTIVITIES.activities_phase_develop_empty_text_create_1'
                    | translate
                }}
              </span>
              <span class="dashboard__activities-fase-no-strongtext">
                {{
                  'ACTIVITIES.activities_phase_develop_empty_text_create_2'
                    | translate
                }}
              </span>
            </div>
            <app-button
              (click)="openModalUpdate('create', 'DEVELOP')"
              class="dashboard__activities-fase-no-activities_button"
              [theme]="'primary'"
              [icon]="'add'"
            >
              {{ 'ACTIVITIES.activities_new_activity' | translate }}
            </app-button>
          </div>
          <div
            class="dashboard__activities-components-fase_table"
            *ngIf="activitiesDataDevelop && activitiesDataDevelop.length > 0"
          >
            <div
              class="draggable-rows"
              *ngFor="let activity of activitiesDataDevelop"
            >
              <app-draggable-row
                [element]="activity"
                [dropdownData]="activity.dropdownElements"
                (actionEmited)="executeDropdownActions($event)"
              ></app-draggable-row>
            </div>
          </div>
        </div>
        <div class="dashboard__activities-fase">
          <div class="dashboard__activities-fase-header">
            <span class="dashboard__activities-fase-title">{{
              'ACTIVITIES.activities_phase_syntesis' | translate
            }}</span>
            <span class="dashboard__activities-fase-header-total">
              ({{ activitiesDataSynthesis?.length }}
              {{
                (activitiesDataSynthesis?.length === 1
                  ? 'ACTIVITIES.activities_title_activity'
                  : 'ACTIVITIES.activities_title_activities'
                ) | translate
              }})
            </span>
            <span
              class="dashboard__activities-fase-header-add"
              *ngIf="activitiesDataSynthesis?.length >= 1"
            >
              <app-button
                (click)="openModalUpdate('create', 'SYNTHESIS')"
                class="details-selector__add-btn"
                [theme]="'primary'"
                [variant]="'text'"
                [icon]="'add'"
              >
                {{ 'ACTIVITIES.activities_new_activity' | translate }}
              </app-button>
            </span>
          </div>
          <div
            class="dashboard__activities-fase-no-activities"
            *ngIf="
              !activitiesDataSynthesis || activitiesDataSynthesis.length === 0
            "
          >
            <div class="dashboard__activities-fase-no-textcontainer">
              <span>
                {{
                  'ACTIVITIES.activities_phase_synthesis_empty_text_create_1'
                    | translate
                }}
              </span>
              <span class="dashboard__activities-fase-no-strongtext">
                {{
                  'ACTIVITIES.activities_phase_synthesis_empty_text_create_2'
                    | translate
                }}
              </span>
            </div>
            <app-button
              (click)="openModalUpdate('create', 'SYNTHESIS')"
              class="dashboard__activities-fase-no-activities_button"
              [theme]="'primary'"
              [icon]="'add'"
            >
              {{ 'ACTIVITIES.activities_new_activity' | translate }}
            </app-button>
          </div>
          <div
            class="dashboard__activities-components-fase-table"
            *ngIf="
              activitiesDataSynthesis && activitiesDataSynthesis.length > 0
            "
          >
            <div
              class="draggable-rows"
              *ngFor="let activity of activitiesDataSynthesis"
            >
              <app-draggable-row
                [element]="activity"
                [dropdownData]="activity.dropdownElements"
                (actionEmited)="executeDropdownActions($event)"
              ></app-draggable-row>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalDelete>
  <app-modal-info
    id="delete-modal-activity"
    variant="delete"
    theme="secondary"
    [modalTitle]="'ACTIVITIES.activities_delete_label'"
    [description]="'ACTIVITIES.activities_delete_message'"
    [confirmLabel]="'ACTIVITIES.activities_delete'"
    (decline)="declineModal()"
    (confirm)="confirmModalDelete()"
  >
  </app-modal-info>
</ng-template>

<ng-template #modalUpdate>
  <app-modal-form
    variant="input"
    [title]="modalFormData.title"
    [label]="modalFormData.label"
    [confirmLabel]="modalFormData.confirmLabel"
    [innerLabel]="modalFormData.innerLabel"
    [data]="modalFormData.data"
    [maxLength]="modalFormData.maxLength"
    [inputVariant]="modalFormData.inputVariant"
    [buttonDisabled]="isTitleConflict"
    [buttonLoading]="isTitleLoading"
    [error]="modalFormData.inputVariant !== 'number' ? isTitleConflict : false"
    [helperText]="modalFormData.helperText"
    [errorText]="
      modalFormData.inputVariant !== 'number'
        ? isTitleConflict
          ? ('BUSINESS.Error_activity_title_existing'
            | translate
            | TranslateConcat
              : 1
              : ('VARIABLES.experience_type_variable_1'
                  | translate
                  | TranslateCut: localExperienceType))
          : 'PROJECT.Error_textlimit_specified_singleinput'
        : 'ACTIVITIES.activities_card_duration_hours_error'
    "
    (decline)="declineModal()"
    (confirm)="confirmActivityUpdate($event)"
    (getInputValue)="getTitleValueChange($event)"
    [enableValidator]="true"
    [validatorVariant]="modalFormData.validatorVariant"
  >
  </app-modal-form>
</ng-template>
