@import 'helpers/_helpers-master';
.form-input{
  width: 100%;
  margin-bottom: 36px;
  &__wrap{
    position: relative;
    font-family: $font-family-pt-sans;
    color: $color-tertiary;
    background-color: $color-quaternary;
  }
  &__field{
    padding: 12px 18px;
    font-size: $font-size-default;
    letter-spacing: 0;
    line-height: 24px;
    border: none;
    outline: none;
    width: 100%;
    border: 1px solid rgba($color-tertiary,0.1);
    border-radius: 3px;
    &:active, &:focus{
      border: 2px solid $color-primary;
    }
  }
  &__label{
    position: absolute;
    font-size: $font-size-body-label;
    font-weight: bold;
    letter-spacing: 0.2px;
    line-height: 12px;
    top: 0;
    transform: translateY(-50%);
    padding: 2px 5px;
    background-color: inherit;
    left: 12.5px;
  }
}
