.footer {
    background: $primary-font-color;
    padding: 35px 0;
    font-family: $font-family-tertiary;
    color: $white;
    line-height: 24px;
    width: 100%;
    z-index: 1000;
    &__copyright {
        font-weight: $font-weight-normal;
    }
    &__text,&__link{
        font-size: $font-size-body-s;
    }
    &__link {
        @include link-style("footer");
    }
    &__nav {
        list-style: none;
        display: inline-flex;
        margin-bottom: 0;
        flex-flow:row wrap;
        text-transform: uppercase;
        li {
            padding: 0 20px;
            border-right: 1px dotted $color-border;
            a {
                color: $white;
                font-family: $font-family-secondary;
                font-size: $font-size-body-s;
                font-weight: 900;
            }
            &:last-child {
                padding-right: 0;
                border-right: none;
            }
        }
    }

    @include media-breakpoint-down(md) {
        &__copyright,
        &__footer-nav {
            flex: 0 0 100%;
        }
        &__nav {
            padding-left: 0;
            display: block !important;
            margin-bottom: 36px;
            li {
                border: none;
                position: relative;
                padding: 0 0 13px 0;
                &:after {
                    content: '';
                    width: 24px;
                    border-bottom: 1px dotted $color-border;
                    position: absolute;
                    left: 0;
                    bottom: 8px;
                    z-index: 1;
                }
                &:last-child {
                    padding-bottom: 0;
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }
}