<div
  class="activity-editor position-relative"
  [ngClass]="{ 'activity-editor_open': contextualStatus }"
>
  <div class="activity-editor__header" #header (window:resize)="onResize()">
    <app-activity-editor-header
      [title]="activity?.name"
      [currentlyActive]="pageType"
      class="activity-editor__header-wrap"
      [projectId]="projectId"
      [activityId]="activityId"
    ></app-activity-editor-header>
  </div>

  <main [ngStyle]="{ 'padding-top': headerHeight + 'px' }" class="px-6">
    <div class="activity-editor__body">
      <div class="container_s py-7">
        <app-creation *ngIf="pageType === 'creation'"></app-creation>
        <app-definition *ngIf="pageType === 'definition'"> </app-definition>
      </div>
    </div>
  </main>

  <div
    class="activity-editor__contextual-help position-absolute"
    [ngStyle]="{ top: headerHeight + 'px' }"
  >
    <app-contextual-help
      id="editor-contextual-help"
      (status)="getContextualStatus($event)"
    ></app-contextual-help>
  </div>
</div>
