@import 'helpers/_helpers-master';
.image-upload{
    width: 424px;
    min-height: 238px;
    border: 1px dashed $article-border;
    border-radius: 4px;
    &__input{
        visibility: hidden;
    }
    &__label{
        width: 424px;
        font-size: $font-size-body-s;
        line-height: 24px;
        cursor: pointer;
    }
 }
 