<ngx-dropzone class="image-upload d-flex {{files.length?'image-upload_no-border':''}}" (change)="onSelect($event)" 
[multiple]="false" [accept]="acceptedType" [maxFileSize]="maxFileSize" [disableClick]="files.length ? true : false">
    <ngx-dropzone-label>
            <div class="icon-ic_upload image-upload__label-icon"></div>
            <div class="image-upload__label-text">Cargar archivo</div>
    </ngx-dropzone-label>
    <ngx-dropzone-image-preview class="image-upload__preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
    </ngx-dropzone-image-preview>
</ngx-dropzone>
