<div class="add-material__wrapper">
  <ng-container *ngIf="currentMaterialView === 1">
    <div class="add-material__tabset">
      <app-tabset
        [tabs]="addMaterialTabs"
        (activeTab)="getActiveTab($event)"
      ></app-tabset>
    </div>
    <div class="add-material__primary-cards" *ngIf="activeMaterialTab === 0">
      <ng-scrollbar>
        <div class="add-material__card h-100">
          <ng-container *ngIf="entityType === 'instrument'; else otherEntities">
            <div class="add-material__card-wrapper">
              <app-google-card
                variant="FORM"
                cardTitle="ADD_MATERIAL.material_add_type_form"
                cardSubtitle="ADD_MATERIAL.material_add_type_gforms"
                (openModal)="changeView($event)"
              ></app-google-card>
            </div>
            <div class="add-material__card-wrapper">
              <app-google-card
                variant="RUBRICA"
                cardTitle="ADD_INSTRUMENT.instrument_add_type_rubrik"
                [commingSoon]="true"
                (openModal)="changeView($event)"
              ></app-google-card>
            </div>
            <div class="add-material__card-wrapper">
              <app-google-card
                variant="CHECKLIST"
                cardTitle="ADD_INSTRUMENT.instrument_add_type_checklist"
                [commingSoon]="true"
                (openModal)="changeView($event)"
              ></app-google-card>
            </div>
            <div class="add-material__card-wrapper">
              <app-google-card
                variant="DIANA"
                cardTitle="ADD_INSTRUMENT.instrument_add_type_dartboard"
                [commingSoon]="true"
                (openModal)="changeView($event)"
              ></app-google-card>
            </div>
          </ng-container>
          <ng-template #otherEntities>
            <div class="add-material__card-wrapper">
              <app-google-card
                variant="PRESENTATION"
                cardTitle="ADD_MATERIAL.material_add_type_presentation"
                cardSubtitle="ADD_MATERIAL.material_add_type_presentation_gslides"
                (openModal)="changeView($event)"
              ></app-google-card>
            </div>
            <div class="add-material__card-wrapper">
              <app-google-card
                variant="WEB"
                cardTitle="ADD_MATERIAL.material_add_type_web"
                cardSubtitle="ADD_MATERIAL.material_add_type_web_gsites"
                (openModal)="changeView($event)"
              ></app-google-card>
            </div>

            <div class="add-material__card-wrapper">
              <app-google-card
                variant="DOCUMENT"
                cardTitle="ADD_MATERIAL.material_add_type_doc"
                cardSubtitle="ADD_MATERIAL.material_add_type_gdocs"
                (openModal)="changeView($event)"
              ></app-google-card>
            </div>

            <div class="add-material__card-wrapper">
              <app-google-card
                variant="FORM"
                cardTitle="ADD_MATERIAL.material_add_type_form"
                cardSubtitle="ADD_MATERIAL.material_add_type_gforms"
                (openModal)="changeView($event)"
              ></app-google-card>
            </div>

            <div class="add-material__card-wrapper">
              <app-google-card
                variant="SHEET"
                cardTitle="ADD_MATERIAL.material_add_type_table"
                cardSubtitle="ADD_MATERIAL.material_add_type_gsheets"
                (openModal)="changeView($event)"
              ></app-google-card>
            </div>
          </ng-template>
        </div>
      </ng-scrollbar>
    </div>
    <div class="d-flex flex-column" *ngIf="activeMaterialTab === 1">
      <div class="material-link-wrapper">
        <app-material-link
          [linkTitle]="
            entityType === 'instrument'
              ? 'ADD_INSTRUMENT.instrument_add_link_title'
              : 'ADD_MATERIAL.material_add_link_title'
          "
          (updateDetails)="getMaterialDetails($event)"
          id="add-material-link"
        ></app-material-link>
      </div>
    </div>
    <div *ngIf="activeMaterialTab === 2">
      <app-add-file
        [entityType]="entityType"
        (add)="getMaterialDetails($event, true)"
      ></app-add-file>
    </div>
    <div *ngIf="activeMaterialTab === 3">
      <app-picker
        (emitter)="getMaterialDetails($event, true)"
        (cancelemitter)="onDecline($event)"
      ></app-picker>
    </div>
  </ng-container>
  <div *ngIf="currentMaterialView === 2 && !filesLoading" class="presentation">
    <!-- Need to add localization for other types -->
    <h4 class="presentation__title">
      {{
        (selectedType === 'PRESENTATION'
          ? 'ADD_MATERIAL.material_add_material_presentation_choosetemplate_title'
          : selectedType === 'DOCUMENT'
          ? 'ADD_MATERIAL.material_add_material_doc_choosetemplate_title'
          : selectedType === 'WEB'
          ? 'ADD_MATERIAL.material_add_material_web_choosetemplate_title'
          : selectedType === 'FORM'
          ? 'ADD_MATERIAL.material_add_material_form_choosetemplate_title'
          : selectedType === 'SHEET'
          ? 'ADD_MATERIAL.material_add_material_table_choosetemplate_title'
          : ''
        ) | translate
      }}
    </h4>
    <p class="presentation__content">
      {{
        'ADD_MATERIAL.material_add_material_choosetemplate_description'
          | translate
      }}
    </p>
    <div class="add-material__primary-cards">
      <ng-scrollbar>
        <div class="add-material__card">
          <div
            class="add-material__card-wrapper {{
              currentMaterialView === 2
                ? 'add-material__card-wrapper_secondary'
                : ''
            }}"
          >
            <!-- Need to add localization for other types -->
            <app-presentation-card
              variant="create"
              [title]="
                selectedType === 'PRESENTATION'
                  ? 'ADD_MATERIAL.material_add_material_presentation_blank'
                  : selectedType === 'DOCUMENT'
                  ? 'ADD_MATERIAL.material_add_material_doc_blank'
                  : selectedType === 'WEB'
                  ? 'ADD_MATERIAL.material_add_material_web_blank'
                  : selectedType === 'FORM'
                  ? 'ADD_MATERIAL.material_add_material_form_blank'
                  : selectedType === 'SHEET'
                  ? 'ADD_MATERIAL.material_add_material_table_blank'
                  : ''
              "
              [loading]="creationLoading"
              (cardSelect)="createDriveFile()"
            >
            </app-presentation-card>
          </div>
          <ng-container *ngFor="let file of files">
            <div
              class="add-material__card-wrapper {{
                currentMaterialView === 2
                  ? 'add-material__card-wrapper_secondary'
                  : ''
              }}"
            >
              <app-presentation-card
                [title]="file.name"
                [isPremium]="file.pro"
                [imageURL]="file.thumbnaillink"
                [disabled]="creationLoading"
                (cardSelect)="nextModal(file)"
              >
              </app-presentation-card>
            </div>
          </ng-container>
        </div>
      </ng-scrollbar>
    </div>
  </div>
  <ng-container *ngIf="currentMaterialView === 3">
    <div class="preview d-flex">
      <app-button
        class="preview__back"
        variant="back"
        icon="back"
        [disabled]="cloneLoading"
        (click)="previousModal()"
      >
        {{ 'ADD_MATERIAL.material_add_checktemplates_back' | translate }}
      </app-button>
      <label class="preview__title">
        {{ selectedMaterial.name }}
      </label>
      <div class="preview__back"></div>
    </div>
    <div
      [ngClass]="{
        'add-material__iframe-wrapper': selectedType === 'PRESENTATION'
      }"
    >
      <div class="preview__pdf-container">
        <div
          class="preview__scroll-area"
          *ngIf="selectedType === 'PRESENTATION'; else otherTypes"
        >
          <div class="preview__hide-border">
            <iframe
              class="preview__iframe"
              [src]="selectedMaterial.embedLink | safe"
              frameBorder="0"
              (load)="onLoadComplete()"
              title="Preview"
            ></iframe>
            <app-loader
              *ngIf="iframeLoading"
              class="preview__loader"
            ></app-loader>
          </div>
        </div>
        <ng-template #otherTypes>
          <div class="preview__scroll-area preview__scroll-area_other">
            <iframe
              class="preview__iframe_other"
              [src]="selectedMaterial.embedLink | safe"
              frameBorder="0"
              height="100%"
              width="100%"
              (load)="onLoadComplete()"
              title="Preview"
            ></iframe>
          </div>
        </ng-template>
      </div>
    </div>
    <div class="d-flex flex-row">
      <app-button
        class="ml-auto"
        size="small"
        [disabled]="iframeLoading"
        [loading]="cloneLoading"
        (click)="handleClone()"
        >{{
          'ADD_MATERIAL.material_add_checktemplates_button_create' | translate
        }}</app-button
      >
    </div>
  </ng-container>
  <app-loader
    *ngIf="filesLoading || (iframeLoading && selectedType !== 'PRESENTATION')"
  ></app-loader>
</div>
