@import 'helpers/_helpers-master';

.add-material {
  &__tabset {
    margin-top: 28px;
    margin-bottom: 28px;
  }
  &__primary-cards {
    height: 540px;
    overflow: visible;
    margin: 0 -60px;
    .ng-scrollbar {
      min-height: 100%;
    }
  }
  &__card {
    display: flex;
    flex-flow: row wrap;
    margin-left: -10px;
    margin-right: -10px;
    padding: 0 60px;
    &-wrapper {
      padding-left: 10px;
      padding-right: 10px;
      flex: 0 0 20%;
      padding-bottom: 20px;
      &_secondary {
        flex: 0 0 25%;
        padding-right: 15px;
        margin-bottom: spacing(secondary);
      }
    }
  }
  &__iframe-wrapper {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border: 2px solid rgba(color(tertiary), 0.1);
      border-radius: 4px;
      box-shadow: 0 0 0 5px color(quaternary);
      z-index: 1;
      pointer-events: none;
    }
  }
}
.presentation {
  margin-top: 28px;
  &__title {
    font-size: font-size(body);
    font-weight: bold;
    line-height: 32px;
    letter-spacing: 0.2px;
  }
  &__content {
    margin-top: 6px;
    margin-bottom: 24px;
  }
}
.preview {
  z-index: 999;
  white-space: nowrap;

  &__pdf-container {
    height: 571px;
    margin-top: 23px;
    margin-bottom: 33px;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    margin-right: -55px;
  }
  &__iframe {
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);

    &_other {
      border: 2px solid rgba(color(tertiary), 0.1);
      border-radius: 4px;
      overflow: hidden;
    }
  }
  &__hide-border {
    position: relative;
    overflow: hidden;
    &:before {
      content: '';
      display: block;
      padding-top: 58.7%;
    }
    &_disabled {
      pointer-events: none;
    }
  }
  &__scroll-area {
    height: 571px;
    margin-right: 50px;
    &_other {
      margin-right: 55px;
    }
  }
  &__back {
    height: 24px;
    flex: 1 1 auto;
  }
  &__title {
    height: 24px;
    color: color(tertiary);
    font-size: 14px;
    font-weight: bold;
    flex: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
  }

  &__loader {
    top: -20px;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    display: block;
  }
}
:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.iframe {
  pointer-events: none;
}
