<ng-container *ngIf="currentMaterialView === 1">
  <div class="add-material__tabset">
    <app-tabset
      [tabs]="addMaterialTabs"
      (activeTab)="getActiveTab($event)"
    ></app-tabset>
  </div>
  <div class="add-material__card" *ngIf="activeMaterialTab === 0">
    <div class="add-material__card-wrapper">
      <app-google-card
        variant="SLIDE"
        title="ADD_MATERIAL.material_add_type_presentation"
        subtitle="ADD_MATERIAL.material_add_type_presentation_gslides"
        (openModal)="changeView($event)"
      ></app-google-card>
    </div>
    <div class="add-material__card-wrapper">
      <app-google-card
        variant="WEB"
        title="ADD_MATERIAL.material_add_type_web"
        subtitle="ADD_MATERIAL.material_add_type_web_gsites"
      ></app-google-card>
    </div>

    <div class="add-material__card-wrapper">
      <app-google-card
        variant="DOC"
        title="ADD_MATERIAL.material_add_type_doc"
        subtitle="ADD_MATERIAL.material_add_type_gdocs"
      ></app-google-card>
    </div>

    <div class="add-material__card-wrapper">
      <app-google-card
        variant="FORM"
        title="ADD_MATERIAL.material_add_type_form"
        subtitle="ADD_MATERIAL.material_add_type_gforms"
      ></app-google-card>
    </div>

    <div class="add-material__card-wrapper">
      <app-google-card
        variant="SHEET"
        title="ADD_MATERIAL.material_add_type_table"
        subtitle="ADD_MATERIAL.material_add_type_gsheets"
      ></app-google-card>
    </div>
  </div>
  <div class="d-flex flex-column" *ngIf="activeMaterialTab === 1">
    <div class="material-link-wrapper">
      <app-material-link
        linkTitle="ADD_MATERIAL.material_add_link_title"
        (updateDetails)="getMaterialDetails($event)"
      ></app-material-link>
    </div>
  </div>
  <div *ngIf="activeMaterialTab === 2">
    <app-add-file (add)="getMaterialDetails($event, true)"></app-add-file>
  </div>
  <div *ngIf="activeMaterialTab === 3">
    <app-picker (emitter)="getMaterialDetails($event, true)"></app-picker>
  </div>
</ng-container>
<div *ngIf="currentMaterialView === 2" class="presentation">
  <h4 class="presentation__title">
    {{
      'ADD_MATERIAL.material_add_material_presentation_choosetemplate_title'
        | translate
    }}
  </h4>
  <p class="presentation__content">
    {{
      'ADD_MATERIAL.material_add_material_choosetemplate_description'
        | translate
    }}
  </p>
  <div (click)="nextModal()" class="add-material__card">
    <div class="add-material__card-wrapper">
      <app-presentation-card variant="create"> </app-presentation-card>
    </div>
    <div class="add-material__card-wrapper">
      <app-presentation-card> </app-presentation-card>
    </div>
    <div class="add-material__card-wrapper">
      <app-presentation-card [isPremium]="true"> </app-presentation-card>
    </div>
    <div class="add-material__card-wrapper">
      <app-presentation-card [isPremium]="true"> </app-presentation-card>
    </div>
  </div>
</div>
<ng-container *ngIf="currentMaterialView === 3">
  <div class="pdf-viewer d-flex">
    <app-button
      class="pdf-viewer__back"
      variant="back"
      icon="back"
      (click)="previousModal()"
    >
      {{
        'ACTIVITY_CREATION.activity_creation_view_pdf_back_button' | translate
      }}
    </app-button>
    <label class="pdf-viewer__title">
      {{ 'ACTIVITY_CREATION.activity_creation_view_pdf_title' | translate }}
    </label>
  </div>
  <div class="pdf-viewer__pdf-container">
    <pdf-viewer
      [src]="pdfSrc"
      [render-text]="true"
      [show-all]="true"
      [show-borders]="true"
      [zoom]="zoom"
      [original-size]="false"
      [autoresize]="true"
      [fit-to-page]="true"
      [zoom-scale]="zoomScale"
      [(page)]="pageVariable"
      #pdfViewer
    ></pdf-viewer>
  </div>
</ng-container>
