@import 'variables/_variables-master';

.project-form {
  $root: &;
  &__detail-selector-wrapper {
    margin-bottom: spacing(primary) * 3;
    ::ng-deep {
      .details-selector {
        margin-bottom: 0;
      }
    }
  }
}
