<button
  class="btn"
  [ngClass]="{
    btn_outline: variant === 'outlined',
    btn_text: variant === 'text',
    btn_block: variant === 'block',
    btn_icon: variant === 'icon',
    btn_primary: theme === 'primary' && variant !== 'icon',
    btn_secondary: theme === 'secondary',
    btn_success: theme === 'success',
    btn_small: size === 'small',
    btn_medium: size === 'medium'
  }"
  [disabled]="disabled"
>
  <span
    class="btn__icon"
    *ngIf="icon"
    [ngClass]="{
      'icon-ic_check': icon === 'tick',
      'icon-ic_add_small': icon === 'add',
      'icon-ic_locked': icon === 'locked',
      'icon-ic_view_small': icon === 'view',
      'icon-ic_download': icon === 'download',
      'icon-ic_print': icon === 'print',
      'icon-ic_zoom_in': icon === 'zoomIn',
      'icon-ic_zoom_out': icon === 'zoomOut'
    }"
  ></span>
  <ng-content></ng-content>
</button>
