@import 'variables/_variables-master';

.btn {
  $root: &;
  border-radius: 4px;
  font-size: font-size(button);
  line-height: 24px;
  &_outline {
    border: 1px solid color(quinary);
    &#{$root} #{$root}__icon {
      margin-right: 0;
    }
    &#{$root}_teritiary {
      color: color(tertiary);
      border: 2px solid color(tertiary);
    }
  }
  &_primary {
    &#{$root}_text {
      color: color(primary);
    }
    &#{$root}_underlined {
      color: color(quaternary);
      #{$root}__content {
        border-bottom: 1px solid color(quaternary);
      }
    }

    &#{$root}_outline {
      border: 2px solid color(primary);
      background-color: inherit;
      color: color(primary);
      &:hover,
      &:focus,
      &:active {
        background-color: transparent;
      }
    }
    &:disabled {
      background-color: rgba(color(tertiary), 0.1);
      border-color: transparent;
      color: color(quaternary);
    }
    #{$root}__content {
      margin-bottom: -1px;
    }
  }
  &_secondary {
    color: color(quinary);
    background: inherit;
    &#{$root}_medium {
      font-size: font-size(body);
    }
    &:active,
    &:disabled {
      background-color: unset !important;
      border-color: unset !important;
    }
  }
  &_teritiary {
    color: color(quaternary);
    &#{$root}_underlined {
      border: none;
      padding: 0;
      border-radius: 0px;
      min-height: auto;
      background: inherit;
    }
  }
  &_success {
    &:disabled {
      background: color(secondary);
      border-color: color(secondary);
    }
  }
  &__content {
    display: flex;
    align-items: center;
    margin-bottom: -1px;
  }
  &_outline {
    border: 1px solid color(quinary);
  }
  &_text {
    border: none;
    text-transform: capitalize;
    color: color(tertiary);
    font-family: font-family(tertiary);
    letter-spacing: 0.2px;
    padding: 0 17px;
    min-height: auto;
    background: inherit;
    #{$root}__icon {
      margin-right: 2px;
    }
    &:active {
      background: none !important;
    }
    &#{$root}_teritiary {
      color: color(quaternary);
      #{$root}__icon {
        margin-right: 5px;
      }
    }
  }
  &_underlined {
    color: color(tertiary);
    font-family: font-family(tertiary);
    &#{$root} {
      line-height: 14px;
      letter-spacing: 0.16px;
    }
    &#{$root}_small {
      padding: 0;
    }
    #{$root}__content {
      padding-bottom: 5px;
      border-bottom: 1px solid color(tertiary);
    }
    #{$root}__icon {
      margin-top: -3px;
      margin-bottom: 3px;
    }
  }
  &_block {
    min-width: 100%;
    &#{$root}_secondary {
      color: color(tertiary);
    }
  }
  &_no-icon {
    display: inline-block;
  }
  &_small {
    display: inline-flex;
    text-transform: unset;
    min-height: 36px;
    font-family: font-family(tertiary);
    font-weight: 700;
    letter-spacing: normal;
    min-width: auto;
    padding: 4px 14px;
    #{$root}__content {
      margin-bottom: 0 !important;
    }
    #{$root}__icon {
      margin-left: -9px !important;
    }
  }
  &_icon {
    background-color: transparent;
    border: none;
    color: color(tertiary);
    padding: 0;
    min-height: auto;
    margin: 0 7px;
    position: relative;
    &#{$root}_teritiary {
      color: color(quaternary);
    }
    #{$root}__icon {
      margin: 0;
      font-size: 24px;
    }
    #{$root} {
      min-width: auto;
    }
    &:disabled {
      min-height: auto;
      padding: 0;
      color: rgba(color(tertiary), 0.1);
      background-color: transparent;
    }
  }
  &_medium {
    padding-right: 28px;
    padding-left: 28px;
    min-height: 52px;
  }
  &_back {
    background: inherit;
    color: rgba(color(tertiary), 0.5);
    border: none;
    padding: 0;
    min-height: auto;
    &:active {
      background-color: unset !important;
      border-color: unset !important;
    }
    &:disabled {
      background-color: unset;
      color: rgba(color(tertiary), 0.1);
    }
    &#{$root}_teritiary {
      color: color(quaternary);
    }
  }
  &.btn_back #{$root}__icon {
    margin-right: spacing(primary);
  }
  &_loading {
    #{$root}__icon,
    #{$root}__content {
      opacity: 0;
    }
  }
  #{$root}__icon {
    font-size: 24px;
    line-height: 1;
    margin-left: -5px;
    margin-right: 5px;
  }
}
:host {
  display: inline-flex;
  align-self: flex-start;
}
:host(.disabled) {
  pointer-events: none;
}
