@import '../../../../../assets/helpers/_helpers-master';
.project-editor-header  {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 75px;
  display: flex;
  background: $background-primary;
  border-bottom: 1px solid $creator-border;
}

.app-logo{
  height: 26px;
  width: 88px;
  &__link,&__img{
    height: 100%;
    width: 100%;
  }
}
