<div class="steps" id="steps" [ngClass]="{ steps_short: contextualStatus }">
  <div class="steps__bg"></div>
  <div *ngIf="loaded$ | async" class="steps-aside">
    <app-sidebar
      id="steps-sidebar"
      title="{{ 'STEPS_MENU.project_structure_stepsmenu_title' | translate }}"
      [steps]="steps"
    ></app-sidebar>
  </div>
  <div *ngIf="loaded$ | async" class="steps__forms steps__forms_creation">
    <router-outlet></router-outlet>
    <!-- loader for step form data saving -->
    <app-loader *ngIf="editor.validatingProject"></app-loader>
  </div>
  <app-contextual-help
    id="steps-contextual-help"
    (status)="getContextualStatus($event)"
  ></app-contextual-help>
  <app-loader
    id="steps-loader"
    *ngIf="(loaded$ | async) === false"
  ></app-loader>
</div>
