@import 'helpers/_helpers-master';
@import 'helpers/_bt-mixins';

.steps {
  $root: &;
  width: 100%;
  padding: 75px 15px 0 0;
  display: flex;
  margin: 0;
  position: relative;
  height: 100%;
  z-index: 1;
  min-height: 100vh;
  background-color: $color-background-primary;
  margin-left: auto;

  &__head-text {
    font-family: $font-family-tertiary;
    font-size: $font-size-xs;
    line-height: 36px;
    letter-spacing: 0.3px;
    font-weight: 700;
    margin-bottom: 35px;
  }

  &__forms {
    @include transitions(all, 0.5s, ease-in-out);
    display: inline-block;
    width: 100%;

    &_creation {
      max-width: 672px;
      min-width: 430px;
    }
  }

  &_short {
    #{$root}__forms {
      @include media-breakpoint-down(xl) {
        max-width: 672px;
        padding-right: 0;
        width: calc(100% - 768px);
      }
    }
  }

  .step-section {
    scroll-margin-top: 110px;
    display: block;
  }

  &-aside {
    width: 236px;
    min-width: 236px;
    max-width: 280px;
    display: block;
  }

  @include media-breakpoint-up(xl) {
    &__bg {
      background-image: url('../../../../../../images/img_background_shapes.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right center;
      position: fixed;
      top: 75px;
      right: 0;
      width: 100%;
      min-height: 1200px;
      overflow: hidden;
      z-index: -1;
    }
  }

  @include media-breakpoint-up(xxl) {
    &__forms {
      &_creation {
        min-width: 672px;
        width: 49.5%;
        max-width: 800px;
      }
      &_activities {
        width: 100%;
      }
    }

    &-aside {
      width: 14.5%;
    }
  }
}

::ng-deep {
  .project-editor {
    &__goto-step {
      letter-spacing: 0;
      line-height: 24px;
      display: flex;
    }

    &__form {
      display: flex;
      width: 100%;
      min-height: calc(100vh - 75px);
      padding: 28px 40px 57px;
      padding-left: 40px;
      padding-right: 40px;
      flex-direction: column;
      position: relative;
    }

    &__subject-wrapper {
      margin-bottom: 44px;
    }

    &__point {
      font-weight: bold;
      border-bottom: 1px solid $blue-whale;
      cursor: pointer;
      margin: 0 6px;
    }

    &__title {
      font-size: $font-size-sub-s;
      line-height: 28px;
      letter-spacing: 0.2px;
      margin-bottom: 7px;
    }

    &__sub-description {
      margin-bottom: 25px;
    }

    @include media-breakpoint-up(xxl) {
      &__form {
        padding-left: 50px;
        padding-right: 50px;
      }
    }
  }

  .project-form {
    min-height: calc(100vh - 160px);

    &__wrapper {
      margin-bottom: 20px;
    }

    &__subtitle {
      line-height: 28px;
      letter-spacing: 0.2px;
      font-size: $font-size-body;
    }

    &__title {
      line-height: 32px;
      display: flex;
      flex-direction: row;
      padding-bottom: $padding;

      &-number {
        display: flex;
        margin-right: 10px;
      }
    }

    &__description {
      margin-bottom: $margin * 2;
    }
  }
}
