@import 'variables/_variables-master';
@import 'helpers/_helpers-master';
.main-header {
  $root: &;
  background: color(quaternary);
  padding: 16px grid-gutter(primary);
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 73px;
  z-index: 1;
  border-bottom: 1px solid rgba(color(tertiary), 0.1);
  &__figure {
    background: rgba(color(tertiary), 0.05);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    &_user {
      background: color(primary);
      width: 36px;
      height: 36px;
      #{$root}__icon {
        color: rgba(color(quaternary), 0.6);
      }
    }
  }
  &__image {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
  }
  &__figure,
  &__image {
    border-radius: 50%;
  }
  &__user-profile {
    letter-spacing: 0px;
    cursor: pointer;
  }
  &__icon {
    font-size: font-size(s);
    &_default {
      color: rgba(color(tertiary), 0.2);
      font-size: font-size(mob-l);
    }
    &_dropdown {
      margin-top: 2px;
    }
  }
  &__dropdown {
    position: absolute;
    padding: spacing(secondary) / 2 spacing(secondary);
    right: -15px;
    top: 45px;
    border-radius: 5px;
    background: color(quaternary);
    @include dropdown-box-shadow();
    &_item {
      line-height: 32px;
      letter-spacing: normal;
      cursor: pointer;
      display: flex;
      align-items: center;
    }
    &:before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      top: -5px;
      right: 20px;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: 5px solid color(quaternary);
      @include dropdown-box-shadow();
    }
  }
  &__right-section {
    margin-right: -7px;
  }
}
