<!-- Summary view Evaluation Criteria-->
<div class="competency-modal__body">
  <h6 class="competency-modal__body-title">
    {{ blockData | checkCount }}
    {{ 'OBJECTIVES.project_objectives_criteriawindow_critera_selected' | translate }}
  </h6>

  <!-- View when No criteria is selected -->
  <div
    *ngIf="!(blockData | checkCount)"
    class="competency-modal__body-block_no-content d-flex align-items-center justify-content-center"
  >
    <div class="competency-modal__body__no-content-wrapper d-flex align-items-center justify-content-center">
      <h3 class="title_xs competency-modal__body__no-content-wrapper__title">
        {{ 'OBJECTIVES.project_objectives_criteriawindow_empty_title' | translate }}
      </h3>
      <div class="competency-modal__body__no-content-wrapper__description">
        {{ 'OBJECTIVES.project_objectives_criteriawindow_empty_description' | translate }}
      </div>
      <div>
        <app-button (click)="showPrimary()">
          {{'OBJECTIVES.project_objectives_criteriawindow_empty_button' | translate}}
        </app-button>
      </div>
    </div>
  </div>

  <!-- View with Criteria evaluation course and Block -->
  <div *ngIf="blockData | checkCount" class="competency-modal__body_summary">
    <div class="custom-tab__content active">
      <div class="custom-tab__content-body">
        <app-checkbox
          [isHead]="true"
          [colOne]="{value: heading.evaluationCriteria}"
          [colTwo]="colHeading[1] ? {value:  heading[colHeading[1]], size: 'm'} : { value: heading.course, size: 'xs'}"
          [colThree]="colHeading[1] ? {value:  heading.course, size: 'xs'} : { value: heading.block, size: 's'}"
          [colFour]="colHeading[1] ? {value:  heading.block, size: 's'} : ''"
        ></app-checkbox>
        <ng-scrollbar class="custom-scrollbar">
          <div class="custom-tab__content-body-scroll">
            <ng-container *ngFor="let block of blockData; let index = index;">
              <ng-container *ngFor="let criteria of block.evaluationCriteria">
                <app-checkbox
                  *ngIf="criteria.checked"
                  [checkboxData]="criteria"
                  [checkedOnly]="true"
                  [colOne]="{value: criteria.name}"
                  [colTwo]="colHeading[1] ?
                            {value:  criteria.colTwoData, size: 'm'} :
                            { value: criteria.grade.name, size: 'xs'}"
                  [colThree]="colHeading[1] ?
                              {value:  criteria.grade.name, size: 'xs'} :
                              { value: (block.blockIndex + '. ' + block.name), size: 's'}"
                  [colFour]="colHeading[1] ? {value:  (block.blockIndex + '. ' + block.name), size: 's'} : ''"
                  [parentID]="block.id"
                ></app-checkbox>
              </ng-container>
            </ng-container>
          </div>
        </ng-scrollbar>
      </div>
    </div>
  </div>
</div>
