<!-- Summary view item-->
<div class="principal-modal__body">
  <h6 class="principal-modal__body-title">
    {{ blockData | checkCount: modalColumns?.colOneHead?.key }}
    {{ translateData.selectedItem | translate }}
  </h6>

  <!-- View when No item is selected -->
  <div
    *ngIf="!(blockData | checkCount: modalColumns?.colOneHead?.key)"
    class="principal-modal__body-block_no-content d-flex align-items-center justify-content-center"
  >
    <div class="principal-modal__body__no-content-wrapper d-flex align-items-center justify-content-center">
      <h3 class="title_xs principal-modal__body__no-content-wrapper__title">
        {{ translateData.emptyTitle | translate }}
      </h3>
      <div class="principal-modal__body__no-content-wrapper__description">
        {{ translateData.emptyDescription | translate }}
      </div>
      <div>
        <app-button (click)="showPrimary()">
          {{ translateData.emptyButton | translate}}
        </app-button>
      </div>
    </div>
  </div>

  <!-- View with item course and Block -->
  <div *ngIf="blockData | checkCount: modalColumns?.colOneHead?.key" class="principal-modal__body_summary">
    <div class="custom-tab__content active">
      <div class="custom-tab__content-body">
        <app-checkbox
          [isHead]="true"
          [colOne]="{value: heading[modalColumns.colOneHead.key]}"
          [colTwo]="modalColumns.colTwoHead?.key ? {
            value:  heading[modalColumns.colTwoHead.key], size: 'm'
          } : { value: heading[modalColumns.colThreeHead.key], size: 'xs'}"
          [colThree]="modalColumns.colTwoHead?.key ? {
            value:  heading[modalColumns.colThreeHead.key], size: 'xs'
          } :{ value: heading[modalColumns.colFourHead.key], size: 's'}"
          [colFour]="modalColumns.colTwoHead?.key ? {value:  heading[modalColumns.colFourHead.key], size: 's'} : ''"
        ></app-checkbox>
        <ng-scrollbar class="custom-scrollbar">
          <div class="custom-tab__content-body-scroll">
            <ng-container *ngFor="let block of blockData; let index = index;">
              <ng-container *ngFor="let column of block[modalColumns.colOneHead.key]">
                <app-checkbox
                  *ngIf="column.checked"
                  [checkboxData]="column"
                  [checkedOnly]="true"
                  [colOne]="{value: column.colOneData}"
                  [colTwo]="modalColumns.colTwoHead?.key ?
                            {value:  column.colTwoData, size: 'm'} :
                            { value: column.colThreeData, size: 'xs'}"
                  [colThree]="modalColumns.colTwoHead?.key ?
                              {value:  column.colThreeData, size: 'xs'} :
                              { value: column.colFourData, size: 's'}"
                  [colFour]="modalColumns.colTwoHead?.key ? {value:  column.colFourData, size: 's'} : ''"
                  [parentID]="block.id"
                ></app-checkbox>
              </ng-container>
            </ng-container>
          </div>
        </ng-scrollbar>
      </div>
    </div>
  </div>
</div>
