@import 'helpers/bt-mixins';
@import 'variables/_variables-master';
.switch {
  position: relative;

  &_disabled {
    opacity: 0.4;
  }
  &__input {
    display: none;
  }
  &__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 20px;
    width: 44px;
    background-color: rgba(color(tertiary), 0.05);
    -webkit-transition: 0.4s;
    transition: 0.4s;

    &_round {
      border-radius: 10px;
    }
    &_round:before {
      border-radius: 10px;
    }
    &_round:after {
      border-radius: 10px;
    }
  }

  &__slider:before {
    position: absolute;
    content: '';
    height: 20px;
    width: 24px;
    left: 0px;
    bottom: 0px;
    background-color: rgba(color(tertiary), 0.2);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  &__input:checked {
    + .switch__slider {
      background-color: rgba(color(secondary), 0.2);
    }
    + .switch__slider:before {
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
      background-color: color(secondary);
    }
  }
  &__text {
    vertical-align: text-bottom;
    font-size: font-size(body-s);
  }
  &-slider {
    display: inline-block;
    width: 45px;
    height: 17px;
    margin: 0 12px 0 0;
  }
  &-button {
    width: 100%;
    margin: 0;
    &__wrapper {
      box-shadow: inset 0 0 0 1px rgba(color(tertiary), 0.4);
      border-radius: 4px;
    }
    &__item {
      padding: 5px grid-gutter(secondary);
      opacity: 0.6;
      display: flex;
      align-items: center;
      cursor: pointer;
      &_active {
        opacity: 1;
        box-shadow: inset 0 0 0 2px color(tertiary);
      }
      &:first-child {
        border-radius: 4px 0 0 4px;
      }
      &:last-child {
        border-left: none;
        border-radius: 0 4px 4px 0;
      }
    }
    &__text {
      font-weight: bold;
      letter-spacing: 0.16px;
    }
    &__icon {
      font-size: font-size(s);
      margin-right: 5px;
    }
  }
}
