<div class="material-link">
  <div>
    <h2 class="material-link__title mb-4">
      {{ linkTitle | translate }}
    </h2>
    <div class="position-relative mb-7">
      <input
        type="text"
        class="material-link__input w-100"
        [ngClass]="{
          'material-link__input_focus': focus,
          'material-link__input_error': !inputTextChange && status === 'failed'
        }"
        (focus)="setFocus()"
        (blur)="unsetFocus()"
        [(ngModel)]="link"
        (keyup)="handleKeyPress($event)"
        (ngModelChange)="changeStatus()"
        [disabled]="this.status === 'success'"
        #input
      />
      <span
        class="icon icon-ic_enter material-link__icon position-absolute"
        [ngClass]="{
          'material-link__icon_enter': validLink() && inputTextChange && focus,
          'material-link__icon_enter_disabled':
            !validLink() || (validLink() && inputTextChange && !focus),
          ' icon-ic_check material-link__icon_tick':
            !inputTextChange && status === 'success',
          'icon-ic_cross material-link__icon_cross':
            !inputTextChange && status === 'failed'
        }"
        (click)="handleSubmit()"
      ></span>
    </div>
  </div>
  <div
    class="material-link__preview-content position-relative"
    [ngClass]="{
      'material-link__preview-content_border': status === 'loading'
    }"
    *ngIf="
      linkContent?.imageUrl ||
      status === 'loading' ||
      (!inputTextChange && status === 'failed')
    "
  >
    <app-material-card
      variant="PREVIEW"
      [validPreviewLink]="status !== 'failed'"
      [loading]="status === 'loading'"
      [thumbnail]="linkContent?.imageUrl"
      [title]="linkContent?.title"
      [link]="linkContent?.url"
      (delete)="resetAll()"
    ></app-material-card>
    <app-loader *ngIf="status === 'loading'"></app-loader>
  </div>
</div>
