<div class="project-editor__form step-one">
  <app-status [status]='step.state'></app-status>
  <div class="project-form d-flex flex-column justify-content-between">
    <div class="project-form__wrapper">
      <h1 class="project-form__title title_s">
        <span class="project-form__title-number">1.</span>Punto de partida
        <app-info-tooltip></app-info-tooltip>
      </h1>
      <p class="project-form__description" [innerHTML]="'STARTING_POINT.project_startingpoint_description' | translate"
      ></p>
      <app-dropdown
        [config]='countryDropdown'
        [data$]='country$'
        label="STARTING_POINT.project_startingpoint_country"
        placeholder="STARTING_POINT.project_startingpoint_country"
        (dropdownSelect)='onDropdownSelect($event)'
      ></app-dropdown>
      <app-dropdown
        [config]='regionDropdown'
        [data$]='region$'
        label="STARTING_POINT.project_startingpoint_region"
        placeholder="STARTING_POINT.project_startingpoint_region_placeholder"
        (dropdownSelect)='onDropdownSelect($event)'
      ></app-dropdown>
      <app-dropdown
        [config]='academicYearDropdown'
        [data$]='academicYear$'
        label="STARTING_POINT.project_startingpoint_year"
        placeholder="STARTING_POINT.project_startingpoint_year_placeholder"
        (dropdownSelect)='onDropdownSelect($event)'
      ></app-dropdown>
      <app-dropdown
        [config]='gradesDropdown'
        [data$]='grades$'
        label="STARTING_POINT.project_startingpoint_grades"
        placeholder="STARTING_POINT.project_startingpoint_grades_placeholder"
        (dropdownSelect)='onDropdownSelect($event)'
      ></app-dropdown>
      <app-dropdown
        [config]='subjectsDropdown'
        [data$]='subjects$'
        [getInitialData]="true"
        label="STARTING_POINT.project_startingpoint_subjects"
        placeholder="STARTING_POINT.project_startingpoint_subjects_placeholder"
        (dropdownSelect)='onDropdownSelect($event)'
      ></app-dropdown>
    </div>
    <app-button
      [disabled] = 'buttonConfig.disabled'
      [theme]="buttonConfig.submitted ? 'success':'primary'"
      [icon]="'tick'"
      (click)='handleSubmit("DONE")'>
      {{ (buttonConfig.submitted ? buttonConfig.successLabel : buttonConfig.label) | translate }}
    </app-button>
  </div>
</div>
