<div class="project-editor__form step-one">
  <app-status [status]='step.state'></app-status>
  <div class="project-form d-flex flex-column justify-content-between">
    <div class="project-form__wrapper">
      <h1 class="project-form__title title_s">
        <span class="project-form__title-number">1.</span>Punto de partida
        <app-info-tooltip></app-info-tooltip>
      </h1>
      <p class="project-form__description" [innerHTML]="'STARTING_POINT.project_startingpoint_description' | translate"
      ></p>
      <app-dropdown [config]='countryDropdown' (dropdownSelect)='onDropdownSelect($event)'></app-dropdown>
      <app-dropdown [config]='regionDropdown' (dropdownSelect)='onDropdownSelect($event)'></app-dropdown>
      <app-dropdown [config]='academicYearDropdown' (dropdownSelect)='onDropdownSelect($event)'></app-dropdown>
      <app-dropdown [config]='gradesDropdown' (dropdownSelect)='onDropdownSelect($event)'></app-dropdown>
      <app-dropdown [config]='subjectsDropdown' (dropdownSelect)='onDropdownSelect($event)' [getInitialData]="true">
      </app-dropdown>
    </div>
    <app-button
      [disabled] = 'buttonConfig.disabled'
      [theme] = "buttonConfig.submitted ? 'success':'primary'"
      [icon]="'tick'"
      (click)='handleSubmit("DONE")'>
      {{ (buttonConfig.submitted ? buttonConfig.successLabel : buttonConfig.label) | translate }}
    </app-button>
  </div>
</div>
