<div
  class="login d-flex align-items-center justify-content-between"
  *ngIf="!loading"
>
  <div class="login__left-layout m-auto">
    <div class="container-fluid">
      <div class="col d-flex align-items-center justify-content-center">
        <div class="login__wrap">
          <h1 class="title_m login__title">
            {{ 'LOGIN.login_title_title' | translate }}
          </h1>
          <form class="login__form-group">
            <div class="login__input-wrapper">
              <app-input
                variant="email"
                [placeholder]="
                  'LOGIN.login_input_email_placeholder' | translate
                "
                label="LOGIN.login_label_email"
                errorText="LOGIN.Error_login_email"
                [error]="invalid"
                [enableValidator]="enableValidator"
                (inputChange)="validateLogin($event, 'email')"
              ></app-input>
            </div>
            <div class="login__input-wrapper mb-7">
              <app-input
                variant="password"
                [placeholder]="
                  'LOGIN.login_input_password_placeholder' | translate
                "
                [enableValidator]="enableValidator"
                label="LOGIN.login_label_password"
                errorText="LOGIN.Error_login_password"
                [error]="invalid"
                (inputChange)="validateLogin($event, 'password')"
              ></app-input>
            </div>
            <div
              class="login__password d-flex align-items-center justify-content-between mb-9"
            >
              <app-checkbox
                [colOne]="{
                  value: 'LOGIN.login_checkbox_rememberpassword' | translate
                }"
                [checkboxData]="checkboxData"
                >test</app-checkbox
              >
              <div class="login__forgot-password">
                {{ 'LOGIN.login_button-tertiary_forgotpassword' | translate }}
              </div>
            </div>
            <div class="login__button-wrapper mb-4">
              <app-button
                [disabled]="loginDisabled"
                [theme]="'primary'"
                [variant]="'block'"
                (click)="login()"
              >
                {{ 'LOGIN.login_button-primary_login' | translate }}
              </app-button>
            </div>
            <div class="login__button-wrapper">
              <app-button
                [theme]="'secondary'"
                [variant]="'block'"
                (click)="googleLogin()"
              >
                <span class="icon icon-ic_google">
                  <span class="path1"></span>
                  <span class="path2"></span>
                  <span class="path3"></span>
                  <span class="path4"></span>
                </span>
                {{ 'LOGIN.login_button-secondary_sociallogin' | translate }}
              </app-button>
            </div>
            <div class="login__register-link">
              <span>{{
                'LOGIN.login_button-tertiary_signup.one' | translate
              }}</span>
              <span class="login__link ml-1">{{
                'LOGIN.login_button-tertiary_signup.two' | translate
              }}</span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="login__right-layout">
    <app-layout-cover
      [img]="'../assets/images/img_login.png'"
    ></app-layout-cover>
  </div>
</div>
<app-loader *ngIf="loading"></app-loader>
