<div class="project-editor" id="project-editor" *ngIf="!notFound || projectUrl == 'create'">
    <div class="project-editor__bg"></div>
    <app-editor-header [projectData]="titleData" id="project-editor-header" (titleBlur)="handleSubmit($event)"></app-editor-header>
    <app-editor-sidebar [spyActive]="spyActive$ | async" id="project-editor-sidebar" title="{{ 'STEPS_MENU.project_structure_stepsmenu_title' | translate }}" view="{{'STEPS_MENU.project_structure_stepsmenu_output' | translate}}"
     [steps]="steps"></app-editor-sidebar>
    <div class="project-editor__forms" scrollSpy (scrollSpyChange)="onScrollSpyChange($event)">
      <app-step-one data-scrollSpy id="{{steps[0].sectionid}}" class="step-section"[spyActive$]="spyActive$" [step]="steps[0]" [project$]="project$" [stepStatus$]="stepStatus$" (onSubmit)='handleFormSubmit($event)'></app-step-one>
      <app-tematica data-scrollSpy id="{{steps[1].sectionid}}" class="step-section"></app-tematica>
      <app-step-seven data-scrollSpy id="{{steps[6].sectionid}}"></app-step-seven>
      <app-step-eight data-scrollSpy id="{{steps[7].sectionid}}" class="step-section"[spyActive$]="spyActive$" [step]="steps[7]" [project$]="project$" [stepStatus$]="stepStatus$" (onSubmit)='handleFormSubmit($event)'></app-step-eight>
      <app-tematica data-scrollSpy id="{{steps[8].sectionid}}" class="step-section"></app-tematica>
    </div>
</div>
<div *ngIf="notFound">
  Project not found
</div>
 
      

