<div class="subject">
    <div class="subject__header">
        <h2 class="title_xs subject__title m-0">Tecnología</h2>
    </div>
    <ul class="subject__list">
        <li class="subject__item">
            <span class="subject__text">Agrega criterios de evaluación del currículum.</span>
            <span class="subject__add">Añadir</span>
        </li>
        <li class="subject__item">
            <span class="subject__text_evaluation">criterio de evaluation(6)</span>
            <span class="subject__close" (click)="getModal()"><span class="icon icon-ic_share_close"></span></span>
        </li>
        <li class="subject__item">
            <span class="subject__text_normal">Agrega criterios de evaluación del currículum.</span>
            <span class="subject__close" (click)="getModal()"><span class="icon icon-ic_share_close"></span></span>
        </li>
        <li class="subject__item">
            <span class="subject__text_normal">Agrega criterios de evaluación del currículum.</span>
            <span class="subject__close" (click)="getModal()"><span class="icon icon-ic_share_close"></span></span>
        </li>
        <li class="subject__item">
            <span class="subject__text_normal">Agrega criterios de evaluación del currículum.</span>
            <span class="subject__close" (click)="getModal()"><span class="icon icon-ic_share_close"></span></span>
        </li>
        <li class="subject__item">
            <span class="subject__text_normal">Agrega criterios de evaluación del currículum.</span>
            <span class="subject__close" (click)="getModal()"><span class="icon icon-ic_share_close"></span></span>
        </li>
    </ul>
</div>

<div class="subject">
    <div class="subject__header">
        <h2 class="title_xs subject__title m-0">Plástica</h2>
    </div>
    <ul class="subject__list">
        <li class="subject__item">
            <span class="subject__text">Agrega criterios de evaluación del currículum.</span>
            <span class="subject__add">Añadir</span>
        </li>
        <li class="subject__item">
            <span class="subject__text_evaluation">criterio de evaluation(6)</span>
            <span class="subject__close" (click)="getModal()"><span class="icon icon-ic_share_close"></span></span>
        </li>
        <li class="subject__item">
            <span class="subject__text_normal">Agrega criterios de evaluación del currículum.</span>
            <span class="subject__close" (click)="getModal()"><span class="icon icon-ic_share_close"></span></span>
        </li>
        <li class="subject__item">
            <span class="subject__text_normal">Agrega criterios de evaluación del currículum.</span>
            <span class="subject__close" (click)="getModal()"><span class="icon icon-ic_share_close"></span></span>
        </li>
        <li class="subject__item">
            <span class="subject__text_normal">Agrega criterios de evaluación del currículum.</span>
            <span class="subject__close" (click)="getModal()"><span class="icon icon-ic_share_close"></span></span>
        </li>
        <li class="subject__item">
            <span class="subject__text_normal">Agrega criterios de evaluación del currículum.</span>
            <span class="subject__close" (click)="getModal()"><span class="icon icon-ic_share_close"></span></span>
        </li>
    </ul>
</div>

<div class="subject">
    <div class="subject__header">
        <h2 class="title_xs subject__title m-0">Geografía e historia</h2>
    </div>
    <ul class="subject__list">
        <li class="subject__item">
            <span class="subject__text">Agrega criterios de evaluación del currículum.</span>
            <span class="subject__add">Añadir</span>
        </li>
        <li class="subject__item">
            <span class="subject__text_evaluation">criterio de evaluation(6)</span>
            <span class="subject__close" (click)="getModal()"><span class="icon icon-ic_share_close"></span></span>
        </li>
        <li class="subject__item">
            <span class="subject__text_normal">Modal open.</span>
            <span class="subject__close" (click)="getModal()"><span class="icon icon-ic_share_close"></span></span>
        </li>
        <li class="subject__item">
            <span class="subject__text_normal">Agrega criterios de evaluación del currículum.</span>
            <span class="subject__close" (click)="getModal()"><span class="icon icon-ic_share_close"></span></span>
        </li>
        <li class="subject__item">
            <span class="subject__text_normal">Agrega criterios de evaluación del currículum.</span>
            <span class="subject__close" (click)="getModal()"><span class="icon icon-ic_share_close"></span></span>
        </li>
        <li class="subject__item">
            <span class="subject__text_normal">Agrega criterios de evaluación del currículum.</span>
            <span class="subject__close" (click)="getModal()"><span class="icon icon-ic_share_close"></span></span>
        </li>
    </ul>
</div>