@import '../../../../../styles/helpers/_helpers-master';
.project-form{
  &__title{
    &-icon{
      width: 17px;
      height: 17px;
      border-radius: 50%;
      border: 1px solid $primary-font-color;
      position: relative;
      display: inline-block;
      margin-left: $spacer-sm;
      overflow: hidden;
      vertical-align: middle;
      margin-bottom: 2px;
      cursor: pointer;
      .icon-ic_info {
        font-size: 24px;
        margin-left: -4px;
        margin-top: -4px;
        width: 24px;
        height: 24px;
        display: block;
      }
    }
  }
}
