<div
  class="step-status-indicator {{
    status === 'DONE' ? 'step-status-indicator_done' : ''
  }}"
>
  <div class="step-status-indicator__bar step-status-indicator__bar_top"></div>
  <div
    class="step-status-indicator__ball step-status-indicator__ball_top"
  ></div>
  <div class="step-status-indicator__bar"></div>
  <div
    class="step-status-indicator__ball step-status-indicator__ball_bottom"
  ></div>
  <div
    class="step-status-indicator__bar step-status-indicator__bar_bottom"
  ></div>
</div>
