<div class="common-modal__header">
  <h4 class="common-modal__title title_xs">
    <span class="icon icon-ic_locked common-modal__icon mr-2" *ngIf="modalConfig.variant === 'unlock'"></span>
    {{ modalConfig.title | translate }}
  </h4>
  <button
    *ngIf="modalConfig.variant === 'unlock'"
    class="close common-modal__close"
    type="button"
    aria-label="Close"
    (click)="bsModalRef.hide()"
    >
    <span class="icon icon-ic_share_close"></span>
  </button>
</div>
<div class="common-modal__body">
  <div class="common-modal__content">
    {{ modalConfig.description | translate }}
  </div>
</div>
<div class="common-modal__footer">
  <ng-container>
    <div class="common-modal__button-wrapper">
      <app-button 
      [variant]="modalConfig.variant === 'delete' ? 'outlined' : 'contained'" 
      [theme]="modalConfig.variant === 'delete' ? 'secondary' : 'primary'" 
      (click)="onConfirm()" 
      #deleteButton>
        {{ modalConfig.confirmLabel | translate }}
      </app-button>
    </div>
    <div class="common-modal__button-wrapper" *ngIf="modalConfig.variant === 'delete'">
      <app-button [variant]="'text'" [theme]="'secondary'" (click)="onCancel()">
        {{ modalConfig.cancelLabel | translate }}
      </app-button>
    </div>
  </ng-container>
</div>