@import 'helpers/_helpers-master';

.common-modal{
    $root: &;
    max-width: 460px;

    &__header{
        padding: 27px 30px 0px;
        display: flex;
        margin-bottom: 14px;
    }
    &__title{
        font-size: $font-size-sub-s;
        line-height: 28px;
        letter-spacing: .2px;
        display: flex;
        width: 100%;
        margin-bottom: 0;
    }
    &__icon{
        font-size: 24px;
        display: flex;
        margin-right: 16px;
        align-self: center;
    }

    &__close{
        display: flex;
        background-color: transparent;
        border: none;
        color: $context-close-color;
        font-size: 20px;
        margin-right: -8px;
        cursor: pointer;
    }
    &__body{
        padding: 0 30px;
        margin-bottom: 25px;
    }
    &__content{
        line-height: 24px;
    }
    &__footer{
        padding: 0 30px 30px;
        width: 100%;
    }
    &__button-wrapper{
        margin-right: 12px;
        display: inline-flex;
    }
}

