<div
  class="forgot-password d-flex align-items-center justify-content-between"
  *ngIf="!loading"
>
  <div class="forgot-password__left-layout m-auto">
    <div class="container-fluid">
      <div class="col d-flex align-items-center justify-content-center">
        <div class="forgot-password__wrap">
          <h1 class="title_m mb-4">
            {{
              'FORGOT_PASSWORD_PAGE.login_forgot-password_title_forgot-password'
                | translate
            }}
          </h1>
          <h2 class="forgot-password__description mb-8">
            {{
              'FORGOT_PASSWORD_PAGE.login_forgot-password_description_description'
                | translate
            }}
          </h2>
          <form
            class="forgot-password__form-group"
            [formGroup]="forgotPasswordForm"
            (ngSubmit)="sendInstructions()"
          >
            <div class="forgot-password__input-wrapper">
              <app-input
                [isForm]="true"
                variant="email"
                formControlName="email"
                [placeholder]="
                  'LOGIN.login_input_email_placeholder' | translate
                "
                label="LOGIN.login_label_email"
                validatorVariant="text"
              ></app-input>
            </div>

            <div
              class="forgot-password__button-wrapper mb-4 d-flex justify-content-between align-items-center"
            >
              <div>
                <app-button
                  theme="primary"
                  variant="back"
                  icon="left"
                  (click)="backToLogin()"
                >
                  {{ 'GENERAL.platform_button-primary_return' | translate }}
                </app-button>
              </div>
              <app-button
                buttonType="submit"
                theme="primary"
                size="medium"
                [disabled]="forgotPasswordForm.invalid"
              >
                {{
                  'FORGOT_PASSWORD_PAGE.login_forgot-password_button-primary_send-instructions'
                    | translate
                }}
              </app-button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="forgot-password__right-layout">
    <app-layout-cover
      [img]="'../assets/images/reset-password-cover@1x.png'"
    ></app-layout-cover>
  </div>
</div>
<app-loader *ngIf="loading"></app-loader>

<ng-template #forgotPasswordModal>
  <app-modal-info
    id="forgot-password-modal"
    variant="primary"
    [appearance]="'medium'"
    overTitle="GENERAL.platform_popup-onmyway_headline"
    modalTitle="FORGOT_PASSWORD_POP_UP.login_forgot-password_sent-email_title"
    confirmLabel="GENERAL.platform_button-primary_ok"
    (confirm)="confirmSendInstructions()"
  >
    <p>
      {{
        'FORGOT_PASSWORD_POP_UP.login_forgot-password_sent-email_description'
          | translate
      }}
    </p>
  </app-modal-info>
</ng-template>
