@import 'helpers/_helpers-master';
.forgot-password {
  min-height: 100vh;
  &__left-layout {
    max-width: 56.94%;
  }
  &__right-layout {
    min-width: 43.06%;
  }
  &__wrap {
    width: 470px;
    max-width: 100%;
  }
  &__description {
    font-size: $font-size-body;
    letter-spacing: 0.2px;
    line-height: 32px;
  }
  &__input-wrapper {
    margin-bottom: 58px;
    position: relative;
  }
}
