<div class="step-unlock">
    <div class="step-unlock__bg-left"></div>
    <div class="step-unlock__bg-right"></div>
    <h2 class="title_xs step-unlock__title"><span class="icon icon-ic_locked step-unlock__icon"></span>Desbloquea este
        paso</h2>
    <div class="step-unlock__description">
        Para acceder al currículum y seleccionar los criterios de evaluación, tienes que completar el paso “Punto de
        partida”.
    </div>
    <app-button [variant]="'contained'" [theme]="'primary'">IR A PUNTO DE PARTIDA</app-button>
</div>