<div class="step-unlock" *ngIf="StepThree">
  <div class="step-unlock__bg-left"></div>
  <div class="step-unlock__bg-right"></div>
  <h2 class="title_xs step-unlock__title">
    <span class="icon icon-ic_locked step-unlock__icon"></span>
    {{'PROJECT.project_dependancy_title' | translate}}
  </h2>
  <div class="step-unlock__description">
    {{'OBJECTIVES.project_objectives_dependancy_description' | translate}}
  </div>
  <app-button
    [routerLink]="'stepOne'"
    [variant]="'contained'"
    [theme]="'primary'"
  >
    {{'OBJECTIVES.project_objectives_dependancy_button' | translate}}
  </app-button>
</div>
<div class="step-unlock" *ngIf="StepFour">
  <div class="step-unlock__bg-left"></div>
  <div class="step-unlock__bg-right"></div>
  <h2 class="title_xs step-unlock__title">
    <span class="icon icon-ic_locked step-unlock__icon"></span>
    {{'PROJECT.project_dependancy_title' | translate}}
  </h2>
  <div class="step-unlock__description">
    {{'CONTENT.project_content_dependancy_description' | translate}}
  </div>
  <app-button
    [routerLink]="'stepOne'"
    [variant]="'contained'"
    [theme]="'primary'"
  >
    {{'CONTENT.project_content_dependancy_button' | translate}}
  </app-button>
</div>

<div class="step-unlock" *ngIf="StepFive">
  <div class="step-unlock__bg-left"></div>
  <div class="step-unlock__bg-right"></div>
  <h2 class="title_xs step-unlock__title">
    <span class="icon icon-ic_locked step-unlock__icon"></span>
    {{'PROJECT.project_dependancy_title' | translate}}
  </h2>
  <div class="step-unlock__description">
    {{'STANDARDS.project_standards_dependancy_description' | translate}}
  </div>
  <app-button
    [routerLink]="'stepOne'"
    [variant]="'contained'"
    [theme]="'primary'"
  >
    {{'STANDARDS.project_standards_dependancy_button' | translate}}
  </app-button>
</div>
