<accordion [isAnimated]="true" [closeOthers]="oneAtATime">
  <!-- This below should be removed once the integration completed -->
  <accordion-group [isOpen]="isFirstOpen" [panelClass]="customClass" #accordionGroup1 [ngClass]="{ 'help-accordion_active' : accordionGroup1.isOpen }">
    <div accordion-heading class="help-accordion__heading" [ngClass]="{ 'help-accordion_active' : accordionGroup1.isOpen }">
      <div class="help-accordion__heading-icon help-accordion__heading-icon_multi-icon">
        <img src="../../../../../assets/icons/ic_motivate_off.png" class="help-accordion__icon" alt="MOTÍVATE off">
        <img src="../../../../../assets/icons/ic_motivate_on.png" class="help-accordion__icon" alt="MOTÍVATE on">
      </div>
      <h5 class="help-accordion__heading-title">MOTÍVATE</h5>
      <div class="help-accordion__heading-arrow">
        <span class="icon icon-ic_dropdown"></span>
      </div>
    </div>
    <div class="help-accordion__body">
      <h6 class="help-accordion__body-title">Intenta que tu proyecto conecte varias asignaturas.</h6>
      <p class="help-accordion__body-desc">Cuando vas a comprar el pan, utilizas las matemáticas para saber si el cambio es correcto. También la expresión oral, para pedir exactamente la barra que quieres. En un gesto tan sencillo integras dos áreas. </p>
      <p class="help-accordion__body-desc">Los retos de la vida real no se presentan por compartimentos, sino combinados. El ABP intenta acercar el aprendizaje a los desafíos de la vida real. Por eso, idealmente, los proyectos son transdisciplinares o interdisciplinares. </p>
      <a class="help-link" href="" target="_blank">
        <img src="../../../../../assets/images/150.png" alt="Los Objetivos de Desarrollo Sostenible y su vínculo con la educación." class="help-link__img">
        <div class="help-link__body">
          <h5 class="help-link__body-title">Los Objetivos de Desarrollo Sostenible y su vínculo con la educación.</h5>
          <div class="help-link__body-icon">
            <span class="icon icon-ic_web2"></span>
          </div>
        </div>
      </a>
    </div>
  </accordion-group>
  <accordion-group [panelClass]="customClass" #accordionGroup2 [ngClass]="{ 'help-accordion_last help-accordion_active' : accordionGroup2.isOpen }">
    <div accordion-heading class="help-accordion__heading">
      <div class="help-accordion__heading-icon help-accordion__heading-icon_multi-icon">
        <img src="../../../../../assets/icons/ic_inspirate_off.png" class="help-accordion__icon" alt="InspÍRATE off">
        <img src="../../../../../assets/icons/ic_inspirate_on.png" class="help-accordion__icon" alt="InspÍRATE on">
      </div>
      <h5 class="help-accordion__heading-title">InspÍRATE</h5>
      <div class="help-accordion__heading-arrow">
        <span class="icon icon-ic_dropdown"></span>
      </div>
    </div>
    <div class="help-accordion__body">
      <p class="help-accordion__body-desc">Las Lenguas (Castellana, Catalana, Inglés) son las que mejor conectan conotras áreas.</p>
      <h6 class="help-accordion__body-title">Intenta que tu proyecto conecte varias asignaturas.</h6>
      <p class="help-accordion__body-desc">Las Lenguas (Castellana, Catalana, Inglés) son las que</p>
      <ul class="help-accordion__body-list">
        <li class="help-accordion__body-list-item">Neque porro quisquam est, qui dolorem.</li>
        <li class="help-accordion__body-list-item">Duis aute irure dolor in reprehender in voluptate velit esse cillum dolore eu fugiat nulla pariatur mollit anim.</li>
      </ul>
      <a class="help-video-thumb" (click)="videoModal($event)" data-title='Some title' data-url="https://youtu.be/f4cstWWgOh0" data-type="video/youtube">
        <img src="../../../../../assets/images/150.png" alt="image" class="help-video-thumb__img">
        <button class="help-video-thumb__btn"><span class="icon icon-ic_play_white"></span></button>
      </a>
      <p class="help-accordion__body-desc">Las Lenguas (Castellana, Catalana, Inglés) son las que mejor conectan conotras áreas. Desde cualquier asignatura se puede implicar la expresión oral o escrita en un idioma.</p>
      <img src="../../../../../assets/images/150.png" alt="image" class="help-accordion__body-img">
    </div>
  </accordion-group>
  <accordion-group [panelClass]="customClass" #accordionGroup3 [ngClass]="{ 'help-accordion_last help-accordion_active' : accordionGroup3.isOpen }">
    <div accordion-heading class="help-accordion__heading">
        <div class="help-accordion__heading-icon help-accordion__heading-icon_multi-icon">
          <img src="../../../../../assets/icons/ic_ejemplos_off.png" class="help-accordion__icon" alt="ejemplos off">
          <img src="../../../../../assets/icons/ic_ejemplos_on.png" class="help-accordion__icon" alt="ejemplos on">
        </div>
        <h5 class="help-accordion__heading-title">ejemplos</h5>
        <div class="help-accordion__heading-arrow">
          <span class="icon icon-ic_dropdown"></span>
        </div>
    </div>
    <div class="help-accordion__body">
      <a class="help-img-thumb" (click)="openModalWithComponent($event)" data-title='Some title' data-content='../../../../../assets/images/150.png'>
        <img src="../../../../../assets/images/150.png" class="help-img-thumb__img" alt="Some title">
        <span class="help-img-thumb__title">Some title</span>
      </a>
      <a class="help-img-thumb" (click)="openModalWithComponent($event)" data-title='Some title' data-content='../../../../../assets/images/150.png'>
        <img src="../../../../../assets/images/150.png" class="help-img-thumb__img" alt="Some title">
        <span class="help-img-thumb__title">Some title</span>
      </a>
      <a class="help-img-thumb" (click)="openModalWithComponent($event)" data-title='Some title' data-content='../../../../../assets/images/150.png'>
        <img src="../../../../../assets/images/150.png" class="help-img-thumb__img" alt="Some title">
        <span class="help-img-thumb__title">Some title</span>
      </a>
      <a class="help-img-thumb" (click)="openModalWithComponent($event)" data-title='Some title' data-content='../../../../../assets/images/150.png'>
        <img src="../../../../../assets/images/150.png" class="help-img-thumb__img" alt="Some title">
        <span class="help-img-thumb__title">Some title</span>
      </a>
    </div>
  </accordion-group>
  <!-- This above should be removed once the integration completed -->
  <accordion-group [isOpen]='first' [panelClass]="customClass" #accordionGroup [ngClass]="{ 'help-accordion_last help-accordion_active' : accordionGroup.isOpen }" *ngFor="let accordian of content; let i = index; let first = first;">
    <div accordion-heading class="help-accordion__heading">
        <div class="help-accordion__heading-icon help-accordion__heading-icon_multi-icon" [innerHTML]="accordian.icon | stringDecoder"></div>
        <h5 class="help-accordion__heading-title" [innerHTML]="accordian.title"></h5>
        <div class="help-accordion__heading-arrow">
          <span class="icon icon-ic_dropdown"></span>
        </div>
    </div>
    <ng-template accordionBody></ng-template>
    <div class="help-accordion__body" [innerHTML]="accordian.body | stringDecoder">

    </div>
  </accordion-group>


</accordion>
