<accordion [isAnimated]="true" [closeOthers]="oneAtATime">
  <accordion-group [isOpen]="isFirstOpen" [panelClass]="customClass" #accordionGroup1 [ngClass]="{ 'help-accordion_active' : accordionGroup1.isOpen }">
    <div accordion-heading class="help-accordion__heading" [ngClass]="{ 'help-accordion_active' : accordionGroup1.isOpen }">
      <div class="help-accordion__heading-icon help-accordion__heading-icon_multi-icon">
        <span class="icon icon-ic_motivate_off"><span class="path1"></span><span class="path2"></span><span class="path3"></span></span>
        <span class="icon icon-ic_motivate_on"><span class="path1"></span><span class="path2"></span><span class="path3"></span></span>
      </div>
      <h5 class="help-accordion__heading-title">MOTÍVATE</h5>
      <div class="help-accordion__heading-arrow">
        <span class="icon icon-ic_dropdown"></span>
      </div>
    </div>
    <div class="help-accordion__body">
      <h6 class="help-accordion__body-title">Intenta que tu proyecto conecte varias asignaturas.</h6>
      <p class="help-accordion__body-desc">Cuando vas a comprar el pan, utilizas las matemáticas para saber si el cambio es correcto. También la expresión oral, para pedir exactamente la barra que quieres. En un gesto tan sencillo integras dos áreas. </p>
      <p class="help-accordion__body-desc">Los retos de la vida real no se presentan por compartimentos, sino combinados. El ABP intenta acercar el aprendizaje a los desafíos de la vida real. Por eso, idealmente, los proyectos son transdisciplinares o interdisciplinares. </p>
      <app-help-link [title]="'Los Objetivos de Desarrollo Sostenible y su vínculo con la educación.'" [img]="'../../../../../assets/images/150.png'" [url]=""></app-help-link>
    </div>
  </accordion-group>
  <accordion-group [panelClass]="customClass" #accordionGroup2 [ngClass]="{ 'help-accordion_last help-accordion_active' : accordionGroup2.isOpen }">
    <div accordion-heading class="help-accordion__heading">
      <div class="help-accordion__heading-icon help-accordion__heading-icon_multi-icon">
        <span class="icon icon-ic_inspirate_off"><span class="path1"></span><span class="path2"></span><span class="path3"></span></span>
        <span class="icon icon-ic_inspirate_on"><span class="path1"></span><span class="path2"></span><span class="path3"></span></span>
      </div>
      <h5 class="help-accordion__heading-title">InspÍRATE</h5>
      <div class="help-accordion__heading-arrow">
        <span class="icon icon-ic_dropdown"></span>
      </div>
    </div>
    <div class="help-accordion__body">
      <p class="help-accordion__body-desc">Las Lenguas (Castellana, Catalana, Inglés) son las que mejor conectan conotras áreas.</p>
      <h6 class="help-accordion__body-title">Intenta que tu proyecto conecte varias asignaturas.</h6>
      <p class="help-accordion__body-desc">Las Lenguas (Castellana, Catalana, Inglés) son las que</p>
      <ul class="help-accordion__body-list">
        <li class="help-accordion__body-list-item">Neque porro quisquam est, qui dolorem.</li>
        <li class="help-accordion__body-list-item">Duis aute irure dolor in reprehender in voluptate velit esse cillum dolore eu fugiat nulla pariatur mollit anim.</li>
      </ul>
      <app-help-video-thumb [poster]="'../../../../../assets/images/150.png'" [title]="'Sample Video'" [type]="'video/youtube'" [url]="'https://youtu.be/f4cstWWgOh0'"></app-help-video-thumb>
      <p class="help-accordion__body-desc">Las Lenguas (Castellana, Catalana, Inglés) son las que mejor conectan conotras áreas. Desde cualquier asignatura se puede implicar la expresión oral o escrita en un idioma.</p>
      <img src="../../../../../assets/images/150.png" alt="image" class="help-accordion__body-img">
    </div>
  </accordion-group>
  <accordion-group [panelClass]="customClass" #accordionGroup3 [ngClass]="{ 'help-accordion_last help-accordion_active' : accordionGroup3.isOpen }">
    <div accordion-heading class="help-accordion__heading">
        <div class="help-accordion__heading-icon help-accordion__heading-icon_multi-icon">
          <span class="icon icon-ic_ejemplos_off"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span></span>
          <span class="icon icon-ic_ejemplos_on"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span></span>
        </div>
        <h5 class="help-accordion__heading-title">ejemplos</h5>
        <div class="help-accordion__heading-arrow">
          <span class="icon icon-ic_dropdown"></span>
        </div>
    </div>
    <div class="help-accordion__body">
      <app-help-img-thumb class="help-accordion__body-thumb" [title]="'Ciclo incial primaria'" [thumbImg]="'../../../../../assets/images/150.png'" [content]="'../../../../../assets/images/150.png'"></app-help-img-thumb>
      <app-help-img-thumb class="help-accordion__body-thumb" [title]="'Ciclo incial primaria'" [thumbImg]="'../../../../../assets/images/150.png'" [content]="'../../../../../assets/images/150.png'"></app-help-img-thumb>
      <app-help-img-thumb class="help-accordion__body-thumb" [title]="'Ciclo incial primaria'" [thumbImg]="'../../../../../assets/images/150.png'" [content]="'../../../../../assets/images/150.png'"></app-help-img-thumb>
      <app-help-img-thumb class="help-accordion__body-thumb" [title]="'Ciclo incial primaria'" [thumbImg]="'../../../../../assets/images/150.png'" [content]="'../../../../../assets/images/150.png'"></app-help-img-thumb>
    </div>
  </accordion-group>

  <!-- <accordion-group [isOpen]='first' [panelClass]="customClass" #accordionGroup [ngClass]="{ 'help-accordion_last help-accordion_active' : accordionGroup.isOpen }" *ngFor="let accordian of content; let i = index; let first = first;">
    <div accordion-heading class="help-accordion__heading">
        <div class="help-accordion__heading-icon help-accordion__heading-icon_multi-icon" [innerHTML]="accordian.icon | stringDecoder"></div>
        <h5 class="help-accordion__heading-title" [innerHTML]="accordian.title"></h5>
        <div class="help-accordion__heading-arrow">
          <span class="icon icon-ic_dropdown"></span>
        </div>
    </div>
    <ng-template accordionBody></ng-template>
    <div class="help-accordion__body" [innerHTML]="accordian.body | stringDecoder">

    </div>
  </accordion-group> -->


</accordion>
