<div class="plyr__video-embed" id="player" *ngIf="details['type'] == 'external'">
    <iframe src="{{ details['src'] }}" allowfullscreen allow="autoplay" title="youtube"></iframe>
</div>

<div class="video" *ngIf="details['type'] == 'internal'">
    <video id="player" playsinline controls data-poster="{{ details['poster'] }}">
        <source src="{{ details['src'] }}" type="video/mp4" />

        <!-- Captions are optional -->
        <track kind="captions" label="English captions" src="{{ details['caption'] }}" srclang="en" default />
    </video>
</div>