<div id="player" data-plyr-provider="youtube" data-plyr-embed-id="bTqVqk7FSmY" *ngIf="details['type'] == 'external'">
</div>

<div class="video" *ngIf="details['type'] == 'internal'">
    <video id="player" playsinline controls data-poster="{{ details['poster'] }}">
        <source src="{{ details['src'] }}" type="video/mp4" />

        <!-- Captions are optional -->
        <track kind="captions" label="English captions" src="{{ details['caption'] }}" srclang="en" default />
    </video>
</div>