<accordion [isAnimated]="true" [closeOthers]="oneAtATime">
    <accordion-group [isOpen]="isFirstOpen" [panelClass]="customClass" #accordionGroup1 [ngClass]="{ 'accordion_active' : accordionGroup1.isOpen }">
        <div accordion-heading class="accordion__heading" [ngClass]="{ 'accordion_active' : accordionGroup1.isOpen }">
            <div class="accordion__heading-icon accordion__heading-icon_multi-icon">
                <span class="icon icon-ic_motivate_off"><span class="path1"></span><span class="path2"></span><span class="path3"></span></span>
                <span class="icon icon-ic_motivate_on"><span class="path1"></span><span class="path2"></span><span class="path3"></span></span>
            </div>
            <h5 class="accordion__heading-title">MOTÍVATE</h5>
            <div class="accordion__heading-arrow">
                <span class="icon icon-ic_dropdown"></span>
            </div>
        </div>
        <div class="accordion__body">
            <h6 class="accordion__body-title">Intenta que tu proyecto conecte varias asignaturas.</h6>
            <p class="accordion__body-desc">Cuando vas a comprar el pan, utilizas las matemáticas para saber si el cambio es correcto. También la expresión oral, para pedir exactamente la barra que quieres. En un gesto tan sencillo integras dos áreas. </p>
            <p class="accordion__body-desc">Los retos de la vida real no se presentan por compartimentos, sino combinados. El ABP intenta acercar el aprendizaje a los desafíos de la vida real. Por eso, idealmente, los proyectos son transdisciplinares o interdisciplinares. </p>
        </div>
    </accordion-group>
    <accordion-group [panelClass]="customClass" #accordionGroup2 [ngClass]="{ 'accordion_last accordion_active' : accordionGroup2.isOpen }">
        <div accordion-heading class="accordion__heading">
            <div class="accordion__heading-icon accordion__heading-icon_multi-icon">
                <span class="icon icon-ic_inspirate_off"><span class="path1"></span><span class="path2"></span><span class="path3"></span></span>  
                <span class="icon icon-ic_inspirate_on"><span class="path1"></span><span class="path2"></span><span class="path3"></span></span>
            </div>
            <h5 class="accordion__heading-title">InspÍRATE</h5>
            <div class="accordion__heading-arrow">
                <span class="icon icon-ic_dropdown"></span>
            </div>
        </div>
        <div class="accordion__body">
            <p class="accordion__body-desc">Las Lenguas (Castellana, Catalana, Inglés) son las que mejor conectan con otras áreas. Desde cualquier asignatura se puede implicar la expresión oral o escrita en un idioma. Por eso son muy comunes los proyectos que parten de Ciencias Naturales o Sociales e integran las Lenguas. </p>
        </div>
    </accordion-group>
</accordion>