@import 'variables/_variables-master';

.creator-home {
  display: flex;
  flex-direction: column;
  width: calc(100% - 237px);
  min-height: 100vh;
  background-color: color(background-primary);
  margin-left: auto;
  padding: 115px 30px 0 30px;
  position: relative;

  &__body {
    flex: 1 1 auto;
  }

  &__head-text {
    font-family: font-family(tertiary);
    font-size: font-size(xs);
    line-height: 36px;
    letter-spacing: 0.3px;
    font-weight: 700;
    margin-bottom: 22px;
  }

  &__filters {
    width: 100%;
  }
}
