<div class="creator-home" id="creator-home">
    <app-sidebar id="sidebar"></app-sidebar>
    <app-header id="creator-header"></app-header>
    <h1 class="creator-home__head-text">{{title}}</h1>
    <div class="creator-home__body">
        <div class="project">
            <app-create-project routerLink="../project/create" id="add-project"></app-create-project>
            <app-project-thumbnail *ngFor="let project of (projects$ | async)?.projects; index as i;"
                id="list-project-{{i}}" [project]="project">
            </app-project-thumbnail>
        </div>
        <app-loader *ngIf="loading" variant="block"></app-loader>
    </div>
    <div class="creator-home__pagination">
        <app-pagination *ngIf="loaded"
            [totalItems]="totalItems" 
            [maxSize]="7"
            [itemsPerPage]="10"
            [disabled]="loading"
            (pageChanged)="pageChanged($event)">
        </app-pagination>
    </div>
</div>