@import 'helpers/_helpers-master';

.modal-form{
    $root: &;
    max-width: 460px;

    &__header{
        padding: 30px 30px 0px;
        display: flex;
        margin-bottom: 34px;
    }
    &__title{
        font-size: $font-size-body-s;
        line-height: $line-height-24px;
        letter-spacing: 1px;
        font-family: $font-family-secondary;
        color: $comptency-content-title;
        text-transform: uppercase;
        display: flex;
        width: 100%;
        margin-bottom: 0;
    }
    &__close{
        display: flex;
        background-color: transparent;
        border: none;
        color: $context-close-color;
        font-size: 20px;
        margin-right: -8px;
        cursor: pointer;
    }
    &__body{
        padding: 0 30px;
        margin-bottom: 48px;
    }
    &__footer{
        padding: 0 30px 30px;
        width: 100%;
    }
    &__button-wrapper{
        margin-right: 12px;
        display: inline-flex;
    }
}

