<div class="creation pb-7">
  <p class="mb-8">
    {{ 'ACTIVITY_CREATION.activity_creation_description' | translate }}
  </p>
  <div class="creation__section">
    <h2 class="creation__title mb-4">
      {{
        'ACTIVITY_CREATION.activity_creation_section1_title'
          | translate
          | TranslateCut: 0
      }}
      <span class="creation__optional">
        {{
          'ACTIVITY_CREATION.activity_creation_section1_title'
            | translate
            | TranslateCut: 1
        }}
      </span>
    </h2>
    <app-textarea
      size="medium"
      [maxLength]="1000"
      customClass="mb-0"
      [enableValidator]="true"
      [value]="activity?.instructions"
      [placeholder]="
        'ACTIVITY_CREATION.activity_creation_input_instructions_placeholder'
          | translate
      "
      errorText="PROJECT.Error_textlimit_specified_singleinput"
      (inputChange)="handleTextareaChange($event)"
      (textareaFocusOut)="submitDatachange()"
    ></app-textarea>
  </div>
  <div class="creation__section">
    <h2 class="creation__title mb-1">
      {{ 'ACTIVITY_CREATION.activity_creation_section2_title' | translate }}
    </h2>
    <p class="mb-4">
      {{
        'ACTIVITY_CREATION.activity_creation_materials_description' | translate
      }}
    </p>

    <ng-container *ngIf="activity?.referenceMaterials?.length">
      <div
        *ngFor="let material of activity.referenceMaterials | reverse"
        class="mb-7"
      >
        <app-material-card
          [link]="material.url"
          [thumbnail]="material.previewImageUrl"
          [label]="material.fileType | FiletypeTranslate | translate"
          [title]="material.title | FileName: material.sourceType"
          [draggable]="true"
          [showSwitch]="true"
          [variant]="material.fileType"
          [switchOn]="material.visible"
          [sourceType]="material.sourceType"
          (switch)="changeVisibility(material.id, $event)"
          (delete)="deleteMaterial(material.id)"
        ></app-material-card>
      </div>
    </ng-container>
    <app-button
      theme="primary"
      variant="outlined"
      icon="add"
      size="small"
      (click)="openModal(addMaterial)"
      id="add-material-button"
    >
      {{
        'ACTIVITY_CREATION.activity_creation_materials_button_add'
          | translate
          | TranslateCut: 1
      }}
    </app-button>
  </div>
  <div class="creation__section">
    <h2 class="creation__title mb-1">
      {{
        'ACTIVITY_CREATION.activity_creation_section3_title'
          | translate
          | TranslateCut: 0
      }}
      <span class="creation__optional">
        {{
          'ACTIVITY_CREATION.activity_creation_section3_title'
            | translate
            | TranslateCut: 1
        }}
      </span>
    </h2>
    <p class="mb-4">
      {{
        'ACTIVITY_CREATION.activity_creation_exercises_description' | translate
      }}
    </p>
    <ng-container *ngFor="let excercise of activity?.exercises | reverse">
      <app-exercises-card
        [title]="excercise.name"
        [subtitle]="
          excercise.evaluation
            ? 'EXCERCISE_CARD.exercise_evaluation_calificable'
            : 'EXCERCISE_CARD.exercise_evaluation_noncalificable'
        "
        [evaluation]="excercise.evaluation"
        [subtitleValue]="excercise.deliveryDate"
        [subtitleKey]="getTranslationKey(excercise.delivery)"
        [description]="excercise.statement"
        [selectedExcerciseId]="excercise.id"
        [materials]="getAllExcerciseMaterials(excercise)"
        (editExercise)="handleExerciseEdit(excercise)"
        (updateExerciseTitle)="handleExcerciseTitleUpdate(excercise)"
        (changeExerciseVisibility)="changeExerciseVisibility($event)"
      ></app-exercises-card>
    </ng-container>
    <app-button
      theme="primary"
      variant="outlined"
      icon="add"
      size="small"
      (click)="openModal(excerciseModal)"
      id="add-excercise-button"
    >
      {{
        'ACTIVITY_CREATION.activity_creation_exercises_button_add'
          | translate
          | TranslateCut: 1
      }}
    </app-button>
  </div>
  <div>
    <h2 class="creation__title mb-1">
      {{
        'ACTIVITY_CREATION.activity_creation_section4_title'
          | translate
          | TranslateCut: 0
      }}
      <span class="creation__optional">
        {{
          'ACTIVITY_CREATION.activity_creation_section4_title'
            | translate
            | TranslateCut: 1
        }}
      </span>
    </h2>
    <p class="mb-7">
      {{ 'ACTIVITY_CREATION.activity_creation_image_description' | translate }}
    </p>
    <div class="creation__uploads">
      <app-image-upload
        [imageURL]="imageUrl"
        [maxFileSize]="5242880"
        acceptedType="image/jpeg,image/jpg,image/png"
        [label]="
          'ACTIVITY_CREATION.activity_creation_image_addimage' | translate
        "
        (fileSelect)="onImageSelect($event)"
      ></app-image-upload>
    </div>
  </div>
  <div class="activity__footer">
    <app-activity-editor-footer
      [btnStatus]="!buttonDisabled"
      [isSubmitted]="buttonSubmitted"
      doneButtonlabel="ACTIVITY_FOOTER.activity_footer_button_done"
      submitButtonlabel="ACTIVITY_FOOTER.activity_footer_button_markdone"
      viewButtonLabel="ACTIVITY_FOOTER.activity_footer_button_studentview"
      viewButtonIcon="alumno"
      (submitButtonClick)="handleSubmit('CREATED')"
      (submitLinkClick)="navigateToPreview()"
    ></app-activity-editor-footer>
  </div>
</div>
<ng-template #addMaterial>
  <app-modal-layout
    class="add-material"
    [modalTitle]="
      currentMaterialView === 1 ? 'ADD_MATERIAL.material_add_title' : ''
    "
    [titleLighten]="true"
    [hasClose]="currentMaterialView != 3"
    [buttonSize]="currentMaterialView === 3 ? 'small' : 'default'"
    [confirmLabel]="
      activeMaterialTab == 1 && currentMaterialView !== 3
        ? 'ADD_MATERIAL.material_add_button_add'
        : ''
    "
    [backLabel]="
      currentMaterialView == 2
        ? 'ACTIVITY_HEADER.activity_header_button_back'
        : ''
    "
    [isDisabled]="
      currentMaterialView === 1 &&
      activeMaterialTab === 1 &&
      referenceMaterial.status !== 'success'
    "
    (decline)="closeModal('material')"
    (confirm)="onMaterialConfirm()"
    (backClick)="previousMaterialView()"
  >
    <app-add-material
      entityType="activity"
      (declineModal)="closeModal()"
      [referenceMaterial]="referenceMaterial"
      [activeMaterialTab]="activeMaterialTab"
      [currentMaterialView]="currentMaterialView"
      (setActiveTab)="getActiveMaterialTab($event)"
      (setModalDetails)="getReferenceMaterials($event)"
      (previousMaterialView)="previousMaterialView()"
      (nextMaterialView)="nextMaterialView()"
      (resetTabs)="resetTabs()"
    ></app-add-material>
  </app-modal-layout>
</ng-template>
<ng-template #excerciseModal>
  <app-add-exercise
    (declineModal)="closeModal()"
    (confirmModal)="addExcercise($event)"
    [buttonLoading]="exerciseLoading"
    [exercise]="exercise"
    [exercisePercent]="exercisePercent"
    [isTitleConflict]="isTitleConflict"
  ></app-add-exercise>
</ng-template>

<ng-template #excerciseTitleUpdate>
  <app-modal-form
    variant="input"
    title="ACTIVITIES.activities_header_update"
    label="{{ 'EXCERCISE.exercise_definition_popup_input_title_label' }}"
    confirmLabel="ACTIVITIES.activities_update"
    [innerLabel]=""
    [data]="exerciseTitleObject.name"
    [maxLength]="70"
    placeholder="{{
      'EXCERCISE.exercise_definition_popup_input_title_placehoder' | translate
    }}"
    inputVariant="text"
    [buttonDisabled]="isTitleConflict"
    [buttonLoading]="exerciseLoading"
    [error]="isTitleConflict"
    helperText="PROJECT.project_title_helpertext"
    [errorText]="
      isTitleConflict
        ? ('BUSINESS.Error_activity_title_existing'
          | translate
          | TranslateConcat
            : 1
            : ('VARIABLES.experience_type_variable_1'
                | translate
                | TranslateCut: localExperienceType))
        : 'PROJECT.Error_textlimit_specified_singleinput'
    "
    (decline)="declinEditTitleModal()"
    (confirm)="confirmExerciseTitleUpdate($event)"
    (getInputValue)="getExcerciseTitleValueChange($event)"
    enableValidator="false"
  >
  </app-modal-form>
</ng-template>
