<div class="project-editor__form step-four">

  <app-status [status]='step.state'></app-status>
  <div class="project-form d-flex flex-column justify-content-between">
    <div class="project-form__wrap">
      <h1 class="project-form__title title_s">
        <span class="project-form__title-number">4.</span>
        {{"CONTENT.project_content_title" | translate}}<app-info-tooltip></app-info-tooltip>
      </h1>
      <p class="project-form__description">{{"CONTENT.project_content_description" | translate}}</p>

      <app-loader *ngIf="loading; else loaded"></app-loader>
      <ng-template #loaded>
        <app-step-unlock *ngIf="!(editor.project$|async)?.subjects?.length; else hasSubjects" [StepFour]="{step:'stepFour'}">
        </app-step-unlock>
        <ng-template #hasSubjects>
          <div class="project-form__detail-selector-wrapper"
            *ngFor="let subject of project?.subjects; let i = index; let last = last;"
          >
            <app-details-selector
              [placeholder]="'CONTENT.project_content_placeholder'"
              [subject]="subject"
              [subjectItem]="subject.contents"
              [isLast]="last"
              [project$]="editor.project$"
              [icon]="subject.evaluationCriteria.length ? 'add' : 'locked'"
              (openModal)="openModalWithComponent(!!subject.evaluationCriteria.length, i)"
              (deleteCriteria)="deleteContent($event)"
            ></app-details-selector>
              <div class="project-form__textarea-wrapper">
                <app-textarea-bullets
                  variant="toggle"
                  toggleData="CONTENT.project_content_extracontent"
                  [onInitFocus]="true"
                  [config]='textAreaConfig'
                  label="CONTENT.project_content_extracontent_input"
                  size="small"
                  (inputChange)="textareaDataChange($event, i)"
                  [options$]="subjectTextArea[i].options$"
                >
                </app-textarea-bullets>
              </div>
          </div>
          <ng-container *ngIf="basicSkills?.length">
            <div class="project-form__basic-skill">
              <h3 class="project-form__basic-skill__title">
                {{"CONTENT.project_content_contentwindow_title" | translate}}
              </h3>
              <div class="project-form__basic-skill_row">
                <app-checkbox *ngFor="let basicSkill of basicSkills"
                [checkboxData]="basicSkill.checkData"
                [colOne]="{ value: basicSkill.description }"
                [parentID]="basicSkill.id"
                [checkedOnly]="!!basicSkill.checkData.variant"
                (checked)="handleSkillSelect()"
                ></app-checkbox>
              </div>
            </div>
          </ng-container>
        </ng-template>
      </ng-template>
    </div>

    <app-button
    [disabled] = 'buttonConfig.disabled || !project.subjects?.length'
    [theme] = "buttonConfig.submitted ? 'success':'primary'"
    [icon]="'tick'"
    (click)="handleSubmit('DONE')"
    >
    {{ (buttonConfig.submitted ? buttonConfig.successLabel : buttonConfig.label) | translate }}
    </app-button>
  </div>
</div>

<ng-template #infoModal>
  <app-modal-info
    [variant]="'unlock'"
    [title]="'PROJECT.project_dependancy_title_cv'"
    [description]="'CONTENT.project_content_dependancy_filterbycriteria_description'"
    [confirmLabel]="'CONTENT.project_content_dependancy_filterbycriteria_button'"
    (confirm)="confirmModal()"
    (decline)="declineModal()"
  ></app-modal-info>
</ng-template>