<div class="project-editor__form step-four">
    <app-status [status] = 'status'></app-status>
    <div class="project-form">
        <h1 class="title_s"><span>8. </span>Producto final<app-info-tooltip></app-info-tooltip></h1>
        <p class="project-form__description">
            El producto es el resultado, tangible o no, de los aprendizajes de tu alumnado a través del proyecto. Refleja <em>qué serán</em> capaces de hacer los alumnos con los aprendizajes que adquirirán. 
        </p>
        <app-textarea [value]="projectDescription" (onChange)="handleChange($event)"></app-textarea>
        <app-form-button [config]='buttonConfig' (onClick)="handleSubmit()"></app-form-button>
    </div>
</div>