@import '../../../../../styles/helpers/_helpers-master';
.textarea-bullets{
    width: 100%;
    min-height: 388px;
    border: none;
    outline: 1px solid $creator-border-active;
    border-radius: 3px;
    padding: 22px;
    margin-bottom: 69px;
    &__list{
        padding-left: 0;
    }
    &__item{
        margin-bottom: 0;
    }
    &__textarea{
        background: none;
        border: none;
        width: 100%;
        font-family: $font-family-tertiary;
        font-size: $font-size-body-s;
        color: $blue-whale;
        line-height: 24px;
        padding: 0;
        overflow: hidden;
        resize: none;
        &:placeholder{
            color: $overtitle-grey;
        }
    }
    &_active{
        outline: 2px solid $border-color-active;
    }
}