@import 'helpers/_helpers-master';

.textarea-bullets {
  width: 100%;
  min-height: 300px;
  border: 1px solid $creator-border-active;
  border-radius: 3px;
  padding: 14px 20px;
  margin-bottom: 56px;
  box-shadow: 0 0 0 0 transparent;
  &__list {
    padding-left: 0;
  }

  &__item {
    display: flex;
    margin-bottom: 8px;

    &:before {
      top: 0;
      line-height: 24px;
    }
  }

  &__textarea {
    background: none;
    border: none;
    width: 100%;
    font-family: $font-family-tertiary;
    font-size: $font-size-body-s;
    color: $blue-whale;
    line-height: 24px;
    height: 24px;
    // height: auto;
    padding: 0;
    overflow: hidden;
    resize: none;

    &:placeholder {
      color: rgba($primary-font-color,0.6);
    }
  }

  & .numbered-list &__item:before {
    font-family: $font-family-tertiary !important;;
  }
}
