@import 'variables/_variables-master';

.profile {
  &-sidebar {
    .title_default {
      margin-bottom: spacing(primary);
    }

    &:not(:first-of-type) {
      margin-top: grid-gutter(primary);
    }
  }

  &-main {
    background-color: color(background-primary);
    display: flex;
    flex-direction: column;
    width: calc(100% - 237px);
    min-height: 100vh;
    margin-left: auto;
    padding: 112px grid-gutter(primary) 0 grid-gutter(primary);
    position: relative;
  }

  &-info {
    &-empty {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 389px;
      max-height: 410px;
      padding: 26px 36px;
    }

    &-data {
      @extend .profile-info-empty;
      justify-content: start;
      align-items: flex-start;
    }

    &_transparent {
      background-color: transparent;
      border-radius: 4px;
      border: 1px dashed rgba(color(tertiary), 0.1);
    }

    &_solid {
      background-color: color(quaternary);
      box-shadow: 0 20px 50px -25px rgba(0, 0, 0, 0.1);
    }

    &__footer {
      &-title {
        margin-top: 48px;
        margin-bottom: 17px;
      }
      &-row {
        margin-top: 6px;
      }
      &-modify {
        color: color(tertiary);
        opacity: 0.6;
        &_highlighted {
          font-weight: bold;
          opacity: 1;
        }
      }
    }

    &__description {
      margin-bottom: 30px;
      font-size: font-size(body-s);
      color: pantone(blue-whale);
      line-height: 24px;
    }

    .title_primary {
      margin-bottom: 10px;
      font-size: font-size(xs);
      font-weight: 900;
      color: pantone(blue-whale);
      line-height: 32px;
      letter-spacing: 0.3px;
    }

    .tabs {
      display: inherit;
      flex-direction: row;
      flex-grow: 1;
      width: 100%;

      &-col {
        display: inherit;
        flex: 0 0 50%;
        margin: grid-gutter(primary) 0;
        position: relative;

        &:not(:last-child)::before {
          content: '';
          position: absolute;
          width: 1px;
          background-image: linear-gradient(
            #c2c3c7 33%,
            rgba(255, 255, 255, 0) 0%
          );
          right: 0;
          top: 0;
          bottom: 0;
          background-size: 1px 4px;
          background-repeat: repeat-y;
        }

        &__box {
          display: inherit;
          flex-direction: column;
          width: 124px;
          margin-right: 54px;
          &_second {
            width: 50%;
          }

          :not(:first-child) {
            margin-top: 23px;
          }

          &-items {
            min-height: 24px;
          }
        }

        &__avatar {
          display: inherit;
          flex-grow: 1;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

:host {
  .profile-info__btn {
    align-self: center;
  }
}
