<pagination
  [ngClass]="{
    'pagination_bounder-value': getLastPage() <= maxSize,
    'pagination_hide-first': currentPage == 1 || currentPage == 2,
    'pagination_hide-last':
      currentPage == getLastPage() || currentPage == getLastPage() - 1,
    'pagination_first-dots': currentPage == 3,
    'pagination_last-dots': currentPage == getLastPage() - 2
  }"
  [totalItems]="totalItems"
  [rotate]="rotate"
  [maxSize]="maxSize"
  [itemsPerPage]="itemsPerPage"
  [(ngModel)]="currentPage"
  [disabled]="disabled"
  [customPreviousTemplate]="prevTemplate"
  [customNextTemplate]="nextTemplate"
  [customLastTemplate]="lastTemplate"
  [boundaryLinks]="true"
  [customFirstTemplate]="firstTemplate"
  (ngModelChange)="onPageChanged($event)"
>
  <ng-template
    #firstTemplate
    let-disabled="disabled"
    let-currentPage="currentPage"
  >
    <span class="pagination__first-last"> 1</span>
  </ng-template>

  <ng-template
    #lastTemplate
    let-disabled="disabled"
    let-currentPage="currentPage"
  >
    <span class="pagination__first-last">
      {{ getLastPage() }}
    </span>
  </ng-template>

  <ng-template #prevTemplate let-disabled="disabled">
    <ng-container *ngIf="!disabled">
      <span class="icon icon-ic_paginator_back back_color"
        ><span class="path1"></span><span class="path2"></span
      ></span>
    </ng-container>
    <ng-container *ngIf="disabled">
      <span class="icon icon-ic_paginator_back"
        ><span class="path1"></span><span class="path2"></span>
      </span>
    </ng-container>
  </ng-template>

  <ng-template #nextTemplate let-disabled="disabled">
    <ng-container *ngIf="!disabled">
      <span class="icon icon-ic_paginator_forward"
        ><span class="path1"></span><span class="path2"></span
      ></span>
    </ng-container>
    <ng-container *ngIf="disabled">
      <span class="icon icon-ic_paginator_forward forward_end"
        ><span class="path1"></span><span class="path2"></span
      ></span>
    </ng-container>
  </ng-template>
</pagination>
