@import 'variables/_variables-master';
.sidebar-menu {
  min-height: calc(100vh - 143px);
  $root: &;
  &__item {
    #{$root}__icon {
      opacity: 0.4;
    }
    &_active {
      font-weight: bold;
      #{$root}__icon {
        opacity: 1;
      }
    }
    &_disabled {
      color: pantone(link-water) !important;
    }
  }
  &__item,
  &__help {
    line-height: 28px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  &__icon {
    font-size: font-size(s);
    margin-right: spacing(secondary) / 2;
    margin-left: -5px;
    &_notification {
      position: absolute;
      width: 8px;
      height: 8px;
      border-radius: 4px;
      background: color(secondary);
      top: 5px;
      right: 2px;
    }
  }
}

.icon-ic_cone {
  display: inline-block;
  mask-size: cover;
  mask: url(../../../../../assets/icons/ic_cone.svg);
  background: pantone(link-water);
  width: 20px;
  height: 20px;
  margin-bottom: 7px;
  margin-right: 4px;
}
