<div class="card">
  <div
    class="card-header"
    [ngClass]="{
      'card-header_slide': variant === 'SLIDE',
      'card-header_site': variant === 'WEB',
      'card-header_form': variant === 'FORM',
      'card-header_doc': variant === 'DOC',
      'card-header_sheet': variant === 'SHEET'
    }"
  >
    <img
      class="card-header__image"
      src="./assets/images/background-bg.svg"
      alt=""
    />
    <span
      class="icon card-header__icon"
      [ngClass]="{
        'icon-ic_presentacion': variant === 'SLIDE',
        'icon-ic2': variant === 'WEB',
        'icon-ic_list_w': variant === 'FORM',
        'icon-ic_doc2_w': variant === 'DOC',
        'icon-group': variant === 'SHEET'
      }"
    ></span>
  </div>

  <div class="card-body">
    <div class="card-body__title">
      {{ title | translate }}
    </div>
    <div class="card-body__subtitle">
      {{ subtitle | translate }}
    </div>
  </div>
  <div class="card-footer" (click)="onClick()">
    <span class="card-footer__text">{{ 'GCARD.see' | translate }}</span>
    <span class="icon icon-ic_br_next card-footer__arrow"></span>
  </div>
</div>
