<div class="dropdown dropdown_multiple {{active ? 'active':''}}">
  <div class="dropdown__wrap  {{ config.settings.singleSelection ? 'dropdown_single-select':'' }}" >
    <label class="dropdown__label" for='config.name'>{{label}}</label>
    <ng-multiselect-dropdown
      [placeholder]="placeholder"
      [disabled] ="config.disabled"
      [settings] ="dropdownSettings"
      [data]="config.data"
      [priorityData]="config.priorityData"
      (onSelect)="onItemSelect()"
      (onDeSelect)="onItemDeSelect($event)"
      (onDropDownClose)="onDropDownClose()"
      [(ngModel)]="config.selectedItems">
    </ng-multiselect-dropdown>
  </div>
</div>
