@import 'helpers/_helpers-master';
@import '../loader/loader.component.scss';

.dropdown {
  width: 100%;
  margin-bottom: $m-36px;
  $root: &;
  &__field {
    padding: $padding-input;
    font-size: $font-size-default;
    letter-spacing: 0;
    line-height: $line-height-24px;
    border: none;
    outline: none;
    width: 100%;
    border: 1px solid $creator-border;
    border-radius: 3px;
    z-index: 1;
    box-shadow: 0 0 0 0 transparent;
    box-sizing: border-box;

    &:active,
    &:focus {
      border: 1px solid $primary !important;
      box-shadow: inset 0 0 0 1px $primary !important;
    }
  }

  &__label {
    position: absolute;
    font-size: $font-size-body-input;
    font-weight: 900;
    letter-spacing: 0.2px;
    line-height: $font-size-body-input;
    top: 0;
    transform: translateY(-50%);
    padding: 2px 5px;
    background-color: inherit;
    left: $padding-m;
    z-index: 2;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  .multiselect-dropdown {
    .disabled {
      .dropdown-btn {
        background-color: inherit !important;
        box-shadow: 0 0 0 0 transparent;
      }

      +.dropdown-list {
        display: none !important;
      }

      .dropdown-up,.dropdown-down {
        transform: rotate(0deg) translateY(-50%) !important;
        transform-origin: center;
      }
    }

    &:active,
    &:focus,
    &:focus-within {
      .dropdown-btn {
        border: 1px solid $primary !important;
        box-shadow: inset 0 0 0 1px $primary;
      }
    }

    .dropdown-btn {
      height: 48px;
      display: flex !important;
      flex-wrap: nowrap;
      white-space: nowrap;
      align-items: center;
      border-radius: 3px !important;
      padding: 12px 12px 12px 18px !important;
      border: 1px solid $creator-border-active !important;
      &:active,
      &:focus {
        border: 1px solid $primary !important;
        box-shadow: inset 0 0 0 1px $primary !important;
      }

      >span:first-child {
        opacity: 0.6;
        line-height: 24px;
      }

      >.dropdown__control {
        padding-right: 55px !important;
        right: 10px !important;
        span:not(.dropdown-up):not(.dropdown-down){
          position: absolute;
          right: 40px;
          top: 50%;
          transform: translateY(-50%);
          padding-right: 0px !important;
          &::before{
            content: '(';
          }
          &::after{
            content: ')';
          }
        }
        span.dropdown-up,
        span.dropdown-down{
          &::before {
            content: "\e903";
            display: block;
            width: 14px;
            height: 14px;
            position: absolute;
            top: 0;
            left: -3px;
            line-height: 0.7;
            text-align: center;
          }
          &::after {
            content: none;
          }
        }

      }
      .dropdown-up,
      .dropdown-down {
        border: none !important;
        font-family: $font-icons;
        font-size: 20px;
        font-weight: bold;
        color: $blue-whale;
        width: 14px !important;
        height: 14px !important;
        // display: block !important;
        top: 50% !important;
        position: absolute;
        transform: translateY(-50%);
        right: 6px;
        transition: transform 0.3s ease;
      }

      .dropdown-up {
        transform: rotate(180deg) translateY(50%);
        transform-origin: center;
      }

      .selected-item {
        background: transparent !important;
        border: none !important;
        color: inherit !important;
        padding: 0 !important;
        margin-left: 5px;
        line-height: 24px;
        // position: relative;
        opacity: 1 !important;

        a {
          display: none !important;
        }

        &::before {
          content: ',';
          margin-left: -8px;
          position: absolute;
        }

        &:first-child {
          margin-left: 0 !important;

          &::before {
            content: none;
          }
        }

        &:hover {
          box-shadow: none !important;
        }

        &:nth-child(3){
          white-space: nowrap !important;
          overflow: hidden !important;
          text-overflow: ellipsis !important;
        }
      }
    }

    .dropdown-list {
      border-radius: 0 0 4px 4px;
      background-color: $background-primary;
      box-shadow: 0 20px 50px -10px $transparent-shadow;
      border: none;
      margin-top: 1px;
      padding-bottom: 5px;
      margin-bottom: 5px;

      .multiselect-item-checkbox {
        padding: 10px 15px;

        &:hover {
          background-color: $tag-bg-color;
        }

        input[type=checkbox]+div {
          padding-left: 36px !important;
          letter-spacing: 0.16px !important;

          &:before {
            height: 18px !important;
            width: 18px !important;
            border: 1px solid $desktop-border-color !important;
            border-radius: 2px !important;
            background: $background-primary !important;
            margin-top: -10px !important;
            animation: unset !important;
          }

          &::after {
            content: none !important;
            color: $primary !important;
            font-family: $font-icons;
            transform: unset !important;
            font-size: 20px;
            left: -3px !important;
            width: 18px !important;
            height: 18px !important;
            top: 4px !important;
            background-color: transparent !important;
            border-color: transparent !important;
          }
        }

        input[type=checkbox]:checked+div {
          &::after {
            content: '\e915' !important;
            color: $primary !important;
            font-family: $font-icons;
            transform: unset !important;
          }

          &:before {
            border-color: $link-hover-color !important;
            top: 12px !important;
          }
        }
      }
      .priority-title,.normal-title{
          font-family: $font-family-tertiary;
          font-size: 12px;
          font-weight: bold;
          letter-spacing: 0;
          line-height: 24px;
          padding: 10px 18px 0px;
      }
      .no-data {
        height: 100px;
        width: 100%;
        position: absolute;
        top: 0;
        background-color: $white;
        h5 {
          text-indent: -999999999px;
          color: transparent;
          @extend .spinner;
          @extend .spinner_medium;
          margin: 0;
        }
      }
    }

  }

  & &__wrap {
    position: relative;
    font-family: $font-family-pt-sans;
    color: $primary-font-color;
    background-color: $creator-background;
    &.dropdown_single-select{
      .multiselect-item-checkbox{
        input[type=checkbox] + div{
          padding-left: 4px !important;
          &::before{
            content: none !important;
          }
          &::after{
            left: 2px !important;
          }
        }
        input[type=checkbox]:checked + div{
          &::after{
            position: relative !important;
            margin: 0 !important;
            margin-left:5px;
          }
        }
      }

    }
    &.selected{
      .dropdown-btn{
        border: 1px solid $creator-border !important;
        &:active,
        &:focus,
        &:focus-within{
          border: 1px solid $primary !important;
          box-shadow: inset 0 0 0 1px $primary !important;
        }
      }
    }
  }
  &.active {
    .dropdown-btn{
      border: 1px solid $primary !important;
      box-shadow: inset 0 0 0 1px $primary !important;
    }
    .selected{
      .dropdown-btn {
        border: 1px solid $primary !important;
        box-shadow: inset 0 0 0 1px $primary !important;
      }
    }
  }
}
