<div class="dropdown dropdown_multiple {{active ? 'active':''}}" #dropdown>
  <div class="dropdown__wrap  {{ config.settings.singleSelection ? 'dropdown_single-select':'' }}" 
    [ngClass]="{'selected' : config.selectedItems.length}" >
    <label class="dropdown__label" 
      [ngClass]="{'dropdown__label_disabled' : config.disabled}" 
      for='config.name'>{{label | translate}}</label>
    <ng-multiselect-dropdown
      [placeholder]="placeholder | translate"
      [disabled] ="config.disabled"
      [settings] ="dropdownSettings"
      [data]="config.data"
      [priorityData]="config.priorityData"
      (onSelect)="onItemSelect()"
      (onDeSelect)="onItemDeSelect($event)"
      (onDropDownClose)="onDropDownClose()"
      [(ngModel)]="config.selectedItems">
    </ng-multiselect-dropdown>
  </div>
</div>