@import 'helpers/_helpers-master';
@import '../loader/loader.component.scss';

.dropdown {
  width: 100%;
  margin-bottom: $m-36px;

  &__wrap {
    position: relative;
    font-family: $font-family-pt-sans;
    color: $primary-font-color;
    background-color: $creator-background;
  }

  &__field {
    padding: $padding-input;
    font-size: $font-size-default;
    letter-spacing: 0;
    line-height: $line-height-24px;
    border: none;
    outline: none;
    width: 100%;
    border: 1px solid $creator-border;
    border-radius: 3px;
    z-index: 1;
    box-shadow: 0 0 0 0 transparent;
    &:active,
    &:focus {
      border: 1px solid $primary;
      box-shadow: 0 0 0 1px $primary;
    }
  }

  &__label {
    position: absolute;
    font-size: $font-size-body-input;
    font-weight: bold;
    letter-spacing: 0.2px;
    line-height: $font-size-body-input;
    top: 0;
    transform: translateY(-50%);
    padding: 2px 5px;
    background-color: inherit;
    left: $padding-m;
    z-index: 2;
    &::first-letter{
      text-transform: uppercase;
    }
  }

  .multiselect-dropdown {
    .disabled {
      .dropdown-btn {
        background-color: inherit !important;
        border-color: $creator-border !important;
        box-shadow: 0 0 0 0 transparent;
      }

      +.dropdown-list {
        display: none !important;
      }

      .dropdown-up {
        transform: rotate(0deg) !important;
        transform-origin: center;
      }
    }

    &:active,
    &:focus,
    &:focus-within {
      .dropdown-btn {
        border: 1px solid $primary !important;
        box-shadow: 0 0 0 1px $primary;
      }
    }

    .dropdown-btn {
      height: 48px;
      display: flex !important;
      align-items: center;
      border-radius: 3px !important;
      padding: $padding-input !important;
      border: 1px solid $creator-border !important;

      &:active,
      &:focus {
        border: 1px solid $primary !important;
        box-shadow: 0 0 0 1px $primary;
      }

      >span:first-child {
        opacity: 0.6;
        line-height: 24px;
      }

      >span:last-child {
        justify-self: end;
        margin-left: auto;
      }

      .dropdown-up,
      .dropdown-down {
        border: none !important;
        font-family: $font-icons;
        font-size: 20px;
        font-weight: bold;
        color: $blue-whale;
        width: 14px !important;
        height: 14px !important;
        // display: block !important;
        top: 3px !important;
        position: relative;
        transition: transform 0.3s ease;

        &::before {
          content: "\e903";
          display: block;
          width: 14px;
          height: 14px;
          position: absolute;
          top: 0;
          left: -3px;
          line-height: 0.7;
          text-align: center;
        }
      }

      .dropdown-up {
        transform: rotate(180deg);
        transform-origin: center;
      }

      .selected-item {
        background: transparent !important;
        border: none !important;
        color: inherit !important;
        padding: 0 !important;
        margin-left: 5px;
        line-height: 24px;
        position: relative;
        opacity: 1 !important;

        a {
          display: none !important;
        }

        &::before {
          content: ',';
          margin-left: -8px;
          position: absolute;
        }

        &:first-child {
          margin-left: 0 !important;

          &::before {
            content: none;
          }
        }

        &:hover {
          box-shadow: none !important;
        }
      }
    }

    .dropdown-list {
      border-radius: 0 0 4px 4px;
      background-color: $background-primary;
      box-shadow: 0 20px 50px -10px $transparent-shadow;
      border: none;
      margin-top: 1px;
      padding-bottom: 5px;

      .multiselect-item-checkbox {
        padding: 10px 15px;

        &:hover {
          background-color: $tag-bg-color;
        }

        input[type=checkbox]+div {
          padding-left: 36px !important;

          &:before {
            height: 18px !important;
            width: 18px !important;
            border: 1px solid $desktop-border-color !important;
            border-radius: 2px !important;
            background: $background-primary !important;
            margin-top: -10px !important;
            animation: unset !important;
          }

          &::after {
            content: none !important;
            color: $primary !important;
            font-family: $font-icons;
            transform: unset !important;
            font-size: 20px;
            left: -3px !important;
            width: 18px !important;
            height: 18px !important;
            top: 4px !important;
            background-color: transparent !important;
            border-color: transparent !important;
          }
        }

        input[type=checkbox]:checked+div {
          &::after {
            content: '\e915' !important;
            color: $primary !important;
            font-family: $font-icons;
            transform: unset !important;
          }

          &:before {
            border-color: $link-hover-color !important;
          }
        }
      }

      .no-data {
        height: 100px;
        width: 100%;
        h5 {
          color: transparent;
          @extend .spinner;
          @extend .spinner_medium;
        }
      }
    }
  }

  &.active {
    .dropdown-btn {
      border: 1px solid $primary !important;
      box-shadow: 0 0 0 1px $primary;
    }
  }
}
