<div class="project-editor__form step-seven">
  <app-status [status]='step.state'></app-status>
  <div class="project-form d-flex flex-column justify-content-between">
    <div>
      <h2 class="project-form__title title_s"><span class="project-form__title-number">7.</span>{{'DRIVING_QUESTIONS.project_drivingquestions_title' | translate}}
        <app-info-tooltip></app-info-tooltip>
      </h2>
      <p class="project-form__description"
        [innerHTML]="'DRIVING_QUESTIONS.project_drivingquestions_description' | translate"></p>
      <app-textarea-bullets [config]='textAreaConfig' (inputChange)="textAreaUpdate($event)"
        [options$]="drivingQuestions$">
      </app-textarea-bullets>
    </div>
    <app-button
      [disabled] = 'buttonConfig.disabled'
      [theme] = "buttonConfig.submitted ? 'success':'primary'"
      [icon]="'tick'"
      (click)='handleSubmit("DONE")'>
      {{ (buttonConfig.submitted ? buttonConfig.successLabel : buttonConfig.label) | translate }}
    </app-button>
  </div>
</div>
