<div class="project-editor__form step-seven">
    <app-status [status] = 'step.state'></app-status>
    <div class="project-form">
        <h1 class="project-form__title title_s"><span>7. </span>{{'DRIVING_QUESTIONS.project_drivingquestions_title' | translate}}<app-info-tooltip></app-info-tooltip></h1>
        <p class="project-form__description" [innerHTML]="'DRIVING_QUESTIONS.project_drivingquestions_description' | translate"></p>
        <app-textarea-bullets [config]='textAreaConfig' (onUpdate)='textAreaUpdate($event)' (onEnter)='addTheme($event)' (onDelete)='deleteTheme($event)'></app-textarea-bullets>
        <app-form-button  scrollTo scrollToId="stepEight"  [config]='buttonConfig'  (onClick)='handleSubmit()'></app-form-button>
    </div>
</div>

