<div
  *ngIf="validPreviewLink && !loading"
  class="material-card {{ customClass }}"
  [ngClass]="{
    'material-card_large': size === 'large',
    'material-card_small': size === 'small',
    'material-card_video': variant === 'VIDEO',
    'material-card_image': variant === 'IMAGE',
    'material-card_form': variant === 'FORM',
    'material-card_web': variant === 'WEB',
    'material-card_preview': variant === 'PREVIEW',
    'material-card_shadow': enableShadow,
    'material-card_border': enableBorder
  }"
>
  <div
    class="material-card__icon material-card__icon_draggable"
    *ngIf="draggable && variant !== 'PREVIEW'"
    (click)="onDragg($event)"
  >
    <span class="icon icon-ic_drag"></span>
  </div>
  <div class="material-card__icon material-card__close" *ngIf="canDelete">
    <button
      type="button"
      class="close material-card__close-button"
      aria-label="Close"
      (click)="onDelete()"
    >
      <span class="icon icon-ic_share_close"></span>
    </button>
  </div>
  <div
    class="material-card__content material-card__content_left {{
      variant === 'IMAGE' || thumbnail
        ? ''
        : variant === 'PRESENTATION'
        ? 'material-card__content_presentation'
        : variant === 'WEB'
        ? 'material-card__content_web'
        : variant === 'DOCUMENT'
        ? 'material-card__content_document'
        : variant === 'SHEET'
        ? 'material-card__content_sheet'
        : variant === 'OTHER'
        ? 'material-card__content_other'
        : variant === 'FORM'
        ? 'material-card__content_form'
        : variant === 'INSTRUMENTUPLOAD'
        ? 'material-card__content_instrument-upload'
        : variant === 'RUBRICA'
        ? 'material-card__content_rubrica'
        : variant === 'CHECKLIST'
        ? 'material-card__content_checklist'
        : variant === 'DIANA'
        ? 'material-card__content_diana'
        : variant === 'PREVIEW' && entityType === 'instrument'
        ? 'material-card__content_instrument-upload'
        : 'material-card__content_other'
    }}"
  >
    <a
      [href]="link"
      target="_blank"
      [ngClass]="{
        'material-card__link_disable': !link
      }"
    >
      <img
        class="material-card__image"
        alt=""
        src="{{
          thumbnail
            ? thumbnail
            : (size === 'small' &&
                variant !== 'VIDEO' &&
                variant !== 'IMAGE') ||
              variant === 'PREVIEW'
            ? './assets/images/background_small.svg'
            : variant !== 'VIDEO' && variant !== 'IMAGE'
            ? './assets/images/background_big.svg'
            : './assets/images/background_big.svg'
        }}"
      />
      <span class="icon__circle" *ngIf="thumbnail && variant === 'VIDEO'">
        <span class="icon__circle_triangle-right"></span>
      </span>
      <span
        class="icon material-card__icon {{
          variant === 'FORM'
            ? 'icon-ic_list_w material-card__icon_list'
            : variant === 'OTHER' || (variant === 'VIDEO' && thumbnail === '')
            ? 'icon-ic_attach material-card__icon_star'
            : variant === 'PRESENTATION'
            ? 'icon-ic_presentacion material-card__icon_list'
            : variant === 'WEB'
            ? 'icon-ic2 material-card__icon_list'
            : variant === 'DOCUMENT'
            ? 'icon-ic_doc2_w material-card__icon_list'
            : variant === 'SHEET'
            ? 'icon-group material-card__icon_list'
            : variant === 'INSTRUMENTUPLOAD'
            ? 'icon-ic_doc2 material-card__icon_instrument'
            : variant === 'PREVIEW' && entityType === 'instrument'
            ? 'icon-ic_doc2 material-card__icon_instrument'
            : 'icon-ic_attach material-card__icon_star'
        }}"
        *ngIf="
          (variant !== 'IMAGE' && variant !== 'VIDEO' && !thumbnail) ||
          (variant === 'VIDEO' && !thumbnail)
        "
      ></span>
    </a>
  </div>

  <div class="material-card__content material-card__content_right">
    <div class="material-card__typename" *ngIf="variant !== 'PREVIEW'">
      <span class="icon__triangle-right"></span>
      <span class="material-card__typename_text">
        <span *ngIf="entityType == 'instrument'">
          {{ 'ADD_INSTRUMENT.instrument_label' | translate }}
        </span>
        {{
          variant === 'INSTRUMENTUPLOAD'
            ? ''
            : entityType === 'instrument'
            ? ' | ' +
              label.charAt(0).toUpperCase() +
              label.toLowerCase().slice(1)
            : label.charAt(0).toUpperCase() + label.toLowerCase().slice(1)
        }}
      </span>
    </div>
    <div class="material-card__title">
      {{ title }}
    </div>
    <div class="material-card__typename" *ngIf="variant === 'PREVIEW'">
      <span class="icon__triangle-right"></span>
      <span class="material-card__typename_text" *ngIf="!displayFiletype">
        <a [href]="link" target="_blank">
          {{ link }}
        </a>
      </span>
      <span class="material-card__typename_text" *ngIf="displayFiletype">
        {{ 'MATERIAL.material_file' | translate }} {{ label }}
      </span>
    </div>
    <div
      class="material-card__switchbox"
      *ngIf="showSwitch && variant !== 'PREVIEW'"
    >
      <app-switch
        [switchOn]="switchOn"
        textOn="MATERIAL.activity_material_switch_forstudent"
        textOff="MATERIAL.activity_material_switch_forteacher"
        [disabled]="false"
        (changeSwitch)="onSwitch($event)"
      >
      </app-switch>
    </div>
  </div>
</div>
<div
  class="material-card material-card_preview material-card_error"
  *ngIf="!validPreviewLink"
  [ngClass]="{
    'material-card_small': size === 'small',
    'material-card_border': enableBorder
  }"
>
  <div class="material-card__title">
    {{ 'ADD_MATERIAL.material_add_link_error_title' | translate }}
  </div>
  <div class="material-card__typename">
    <span class="material-card__typename_text">
      {{ 'ADD_MATERIAL.material_add_link_error_description' | translate }}
    </span>
  </div>
</div>
