@import 'helpers/_helpers-master';
@import 'variables/_variables-master';
.material-card {
  $root: &;
  width: auto;
  border-radius: 3px;
  background-color: color(quaternary);
  position: relative;
  display: flex;
  &_video {
    box-shadow: 0px 0px 20px 0px rgba(color(shadow-color), 0.1);
  }
  &_image {
    box-shadow: 0px 0px 20px 0px rgba(color(shadow-color), 0.1);
  }
  &_form {
    border: 1px solid color(border-tertiary);
  }
  &_evaluation {
    border: 1px solid color(border-tertiary);
  }
  &_preview {
    border: 1px solid color(border-tertiary);

    .material-card__content_left {
      width: 182px;
    }
    .material-card__content_right {
      padding-top: 24px;
    }
    .icon__triangle-right {
      margin-top: 4px;
    }
    #{$root}__close {
      top: 14px;
      right: 13px;
    }
    #{$root}__typename {
      font-weight: bold;
      margin-top: 0;
      line-height: 24px;
      &_text {
        margin-left: 16px;

        a {
          text-decoration: none;
          color: color(background-secondary);
          text-decoration: underline;
          letter-spacing: 0.16px;
          line-height: 14px;
        }
      }
    }
    #{$root}__title {
      line-height: 28px !important;
    }
  }
  &_web {
    border: 1px solid rgba(color(tertiary), 0.1);
    #{$root}__content_left {
      height: unset !important;
      width: 180px;
      flex: 0 0 auto;
    }
    #{$root}__content_right {
      padding: 25px 50px 25px grid-gutter(primary) !important;
      width: 100%;
    }
    #{$root}__typename {
      font-weight: bold;
      letter-spacing: 0.2px !important;
    }
    #{$root}__title {
      letter-spacing: 0.2px !important;
      line-height: 22px;
      margin-bottom: 0 !important;
    }
    #{$root}__close {
      top: 15px;
      right: 15px;
    }
  }
  &_error {
    padding: 24px;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    .material-card__title {
      font-size: font-size(body-s);
    }
    .material-card__typename {
      margin-top: 0px;
      font-weight: unset;
      &_text {
        font-size: font-size(body-s);
        margin-left: 0;
        line-height: 14px;
        letter-spacing: 0.16px;
        color: rgba(color(tertiary), 0.6);
      }
    }
  }

  &_medium {
    height: 173px;
    #{$root}__content_right {
      padding: 24px 55px 24px 32px;
    }
  }
  &_small {
    height: 104px;
    #{$root}__content_left {
      height: 104px;
    }
    #{$root}__content_right {
      height: 104px;
      padding: 20px 35px 12px;
    }
    #{$root}__typename {
      height: 20px;
      letter-spacing: 0.16px;
    }
    #{$root}__title {
      font-size: font-size(default);
      font-weight: bold;
      letter-spacing: 0.16px;
    }
  }

  &__icon {
    position: absolute;

    &_draggable {
      left: -36px;
      top: calc(50% - 12px);
      font-size: font-size(xs);
      color: color(background-secondary);
      cursor: pointer;
    }
    &_list {
      font-size: 33px;
      left: calc(50% - 19px);
      top: calc(50% - 16px);
      color: color(quaternary);
    }
    &_star {
      font-size: 40px;
      left: calc(50% - 20px);
      top: calc(50% - 20px);
      color: color(quaternary);
    }
  }
  &__close {
    right: 26px;
    top: 26px;
    z-index: 1;
    &-button {
      font-size: 18px !important;
      cursor: pointer;
    }
  }
  &__content {
    display: inline-block;

    &_left {
      width: 260px;
      vertical-align: top;
      position: relative;
      ::ng-deep {
        .icon-ic_doc2 {
          font-size: 40px;
          left: calc(50% - 19px);
          top: calc(50% - 16px);
        }
        .icon-ic_doc2:before {
          color: color(quaternary);
          background-color: color(secondary);
        }
      }
    }
    &_right {
      width: calc(100% - 260px);
      height: 173px;
      padding: 24px 24px 24px 32px;
      display: inline-flex;
      flex-direction: column;
    }
  }
  &__video {
    width: 100%;
    height: 100%;
    border-radius: 3px 0 0 3px;
  }
  &__image {
    width: 100%;
    height: 100%;
    border-radius: 3px 0 0 3px;
    object-fit: cover;
  }
  &__typename {
    color: color(background-teritiary);
    font-size: font-size(body-s);
    font-weight: 600;
    height: 30px;
    line-height: 15px;
    letter-spacing: 0.5px;
    position: relative;

    &_text {
      margin-left: 16px;
    }
  }
  &__title {
    font-size: font-size(body);
    font-weight: 600;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
  &__switchbox {
    color: $black;
    font-size: font-size(icon);
    font-weight: 300;
    height: 20px;
    bottom: 24px;
    flex-direction: row;
    margin-top: auto;
  }

  &__link {
    &_disable {
      pointer-events: none;
      cursor: default;
    }
  }
}
.icon {
  &__circle {
    height: 46px;
    width: 46px;
    background-color: color(secondary);
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: calc(50% - 23px);
    margin-left: calc(50% - 23px);
  }
  &__circle_triangle-right {
    position: absolute;
    top: 18px;
    left: 21px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 9px solid color(quaternary);
  }
  &__triangle-right {
    position: absolute;
    width: 0;
    height: 0;
    top: 2px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 7px solid color(background-teritiary);
  }
}
