@import 'helpers/_helpers-master';
.input{
    margin-bottom: 43px;
    &__field{
        min-height: 48px;
        padding: 12px 20px;
        width: 100%;
        border: 1px solid $creator-border-active;
        border-radius: 3px;
    }
}