<div class="input" [ngClass]="{'input_focus':focus , 'input_border' : value}">
    <input class="form-control input__field" [placeholder]="!focus ? placeholder : ''" (focus)="setFocus()" (blur)="onBlur()"
        [maxlength]="maxlength" [ngModel]="value" (ngModelChange)="onValueChange($event)">
</div>

<!-- <div class="input" [ngClass]="focus?'input_focus':''">
    <input class="form-control input__field" [placeholder]="!focus ? placeholder : ''" (focus)="setFocus()" (blur)="onBlur()"
        [maxlength]="maxlength" [ngModel]="value" (ngModelChange)="onValueChange($event)">
</div> -->