<div class="input" [ngClass]="{
	'input_focus':focus ,
	'input_border' : value ,
	'input_error' : (titleInput.value.length == 70)}">
	<label class="input__label" *ngIf="label">
		{{label | translate}}
	</label>
	<input class="form-control input__field" 
		[placeholder]="!focus ? placeholder : ''" 
		[attr.maxlength]="maxlength"
		[ngModel]="value" 
		(ngModelChange)="onValueChange($event)" 
		(focus)="setFocus()" 
		(blur)="onBlur()" 
		#titleInput />
	<div class="input__counter-wrapper">
		<app-counter 
			*ngIf="(titleInput.value.length == 0)" 
			helperText="PROJECT.project_title_helpertext"
			[titleInput]="titleInput.value.length">
		</app-counter>
		<app-counter 
			*ngIf="(titleInput.value.length > 0) && !(titleInput.value.length == 70)" 
			helperText=""
			[titleInput]="titleInput.value.length">
		</app-counter>
			<!-- WIP Localization Not updated in the Sheet -->
		<app-counter 
			*ngIf="(titleInput.value.length == 70)" 
			helperText="PROJECT.Error_textlimit_specified_singleinput"
			[titleInput]="titleInput.value.length">
		</app-counter>
	</div>
</div>