<div class="input" [ngClass]="{
	'input_focus':focus ,
	'input_border' : value ,
	'input_error' : (titleInput.value.length == maxlength)}">
	<label class="input__label" *ngIf="label">
		{{label | translate}}
	</label>
	<input class="form-control input__field" 
		[placeholder]="!focus ? placeholder : ''" 
		[attr.maxlength]="maxlength"
		[ngModel]="value" 
		(ngModelChange)="onValueChange($event)" 
		(focus)="setFocus()" 
		(blur)="onBlur()" 
		#titleInput />
	<div class="input__counter-wrapper">
		<app-validator [value]="titleInput.value.length"></app-validator>
	</div>
</div>