@import 'helpers/_helpers-master';
.textarea{
    width: 100%;
    min-height: 388px;
    border: 1px solid $creator-textarea-border;
    border-radius: 3px;
    padding: 22px;
    margin-bottom: 69px;
    position: relative;
    &__description{
        background: none;
        border: none;
        width: 100%;
        font-family: $font-family-tertiary;
        font-size: $font-size-body-s;
        color: $blue-whale;
        line-height: 24px;
        padding: 0;
        height:-webkit-fill-available;
        overflow: hidden;
        resize: none;
        &:placeholder{
            color: $overtitle-grey;
        }
    }
    &:active, &:focus, &:focus-within{
        border: 1px solid transparent;
        box-shadow: 0 0 0 3px $primary;
    }
}
