<div
  class="presentation-card d-flex flex-column position-relative"
  [ngClass]="{
    'presentation-card_disabled': disabled,
    'presentation-card__size': variant === 'project',
    'presentation-card__coming-soon': isComingSoon
  }"
  (click)="!disabled ? onCardSelect() : null"
>
  <figure
    class="presentation-card__figure mb-3 m-0 position-relative"
    [ngClass]="{
      'presentation-card__figure_create': variant === 'create',
      'presentation-card_disabled': disabled,
      'presentation-card__figure_projecttype': variant === 'project'
    }"
  >
    <img
      src="{{
        imageURL
          ? imageURL
          : variant === 'create'
          ? './assets/images/presentation-cards/create-bg-shapes.png'
          : './assets/images/presentation-cards/create-bg-shapes.png'
      }}"
      alt="presentation image"
      class="presentation-card__image h-100 w-100"
    />
    <span
      class="icon icon-ic_folder_add presentation-card__icon presentation-card__icon_add"
      *ngIf="variant === 'create' && !loading"
      ><span class="path1"></span><span class="path2"></span
      ><span class="path3"></span
    ></span>
    <app-loader *ngIf="loading"></app-loader>
    <div
      class="presentation-card__premium d-flex align-items-center justify-content-center"
      *ngIf="isPremium || isComingSoon"
      [ngClass]="{
        'presentation-card__premium_color': isComingSoon,
        'presentation-card__premium_project': variant === 'project'
      }"
    >
      <span
        class="icon icon-think_small presentation-card__icon presentation-card__icon_premium"
        *ngIf="variant != 'project'"
      ></span
      >{{ premiumLabel | translate }}
    </div>
  </figure>
  <div
    class="presentation-card__title"
    [ngClass]="{
      'presentation-card__title_project': variant === 'project',
      'presentation-card_disabled': disabled
    }"
  >
    {{ title | translate }}
  </div>
  <div class="presentation-card__description" *ngIf="description">
    {{ description | translate }}
  </div>
  <div class="presentation-card__bgimage" *ngIf="imageURL"></div>
</div>
