@import 'helpers/_helpers-master';
@import 'helpers/_bt-mixins';
@import 'variables/_variables-master';

.exercise {
  &__info {
    width: 676px;
    padding: spacing(secondary) grid-gutter(secondary) grid-gutter(primary)
      grid-gutter(secondary);
    background-color: color(quaternary);
    @include common-card-box-shadow();
    &_material {
      margin-top: 6px;
    }
    &-content {
      font-family: font-family(default);
      font-size: font-size(default);
      line-height: 24px;
    }
  }
  &__cards {
    &-container {
      display: flex;
      flex-flow: row;
      flex-wrap: wrap;
      margin-left: -10px;
      margin-right: -10px;
      &-single {
        margin-top: 10px;
        width: 185px;
        margin-left: 12px;
      }
    }
  }
  &__feedback {
    margin-top: 6px;
  }
}
