<div class="project-editor__form step-two">
    <app-status [status] = 'step.state'></app-status>
    <div class="project-form d-flex flex-column justify-content-between">
      <div>
      <h2 class="project-form__title title_s"><span>2. </span>{{'THEMATIC.project_thematic_title' | translate}}<app-info-tooltip></app-info-tooltip></h2>
      <p class="project-form__description" [innerHTML]="'THEMATIC.project_thematic_description' | translate"></p>
      <app-textarea-bullets
        [(config)]='textAreaConfig'
        (onChange)="textAreaUpdate($event)"
      >
    </app-textarea-bullets>
  </div>
      <app-form-button
        scrollTo
        scrollToId="stepThree"
        [config]='buttonConfig'
        (onClick)='handleSubmit("DONE")'
      >
      </app-form-button>
    </div>
</div>
