<div class="project-editor" id="project-editor" *ngIf="!notFound || projectUrl == 'create'">
    <div class="project-editor__bg"></div>
    <app-editor-header [projectData]="titleData" id="project-editor-header" (titleBlur)="handleSubmit($event)"></app-editor-header>
    <app-editor-sidebar id="project-editor-sidebar" title="{{ 'STEPS_MENU.project_structure_stepsmenu_title' | translate }}" view="{{'STEPS_MENU.project_structure_stepsmenu_output' | translate}}"
     [items]="items" [status]="status" [selected]="selected" (childClick)="handleScroll($event)"></app-editor-sidebar>
    <div class="app">
      <div class="project-editor__form {{status === 'done' ? 'project-editor__form' : ''}}">
        <app-status [isDone] = false></app-status>
        <app-start-point id="step-0" class="step-section" [project$]="project$" (onSubmit)='handleFormSubmit($event)' (inProgress)='updateInProgress($event)'></app-start-point>
      </div>
    </div>
</div>
<div *ngIf="notFound">
    Project not found
</div>
