@import '../../../../../assets/helpers/_helpers-master';
.project-editor{
  width: 100%;
  padding: 75px 15px 0 236px;
  margin: 0;
  &__form{
    display: flex;
    width: 55%;
    padding: $grid-gutter-width/2;
    padding-left: 40px;
  }
}

