<div class="project-editor" id="project-editor" *ngIf="(notFound$ | async) > 0 || projectUrl == 'create'">
    <app-project-editor-header [projectTitle]="project?.title" [projectId]="project?.id" id="project-editor-header" (titleBlur)="handleTitleBlur($event)"></app-project-editor-header>
    <app-project-editor-sidebar id="project-editor-sidebar" [title]="title" [view]="view" [items]="items" [status]="status"></app-project-editor-sidebar>
    <div class="app">
      <div class="project-editor__form">
        <app-start-point></app-start-point>
      </div>
    </div>
</div>
<div *ngIf="(notFound$ | async) == 0">
    Project not found
</div>
