<div class="project-editor" id="project-editor" *ngIf="(notFound$ | async) > 0 || projectUrl == 'create'">
    <div class="project-editor__bg"></div>
    <app-editor-header [project]="project$ | async" id="project-editor-header"></app-editor-header>
    <app-editor-sidebar id="project-editor-sidebar" title="{{ 'STEPS_MENU.project_structure_stepsmenu_title' | translate }}" view="{{'STEPS_MENU.project_structure_stepsmenu_output' | translate}}"
     [items]="items" [status]="status" [selected]="selected" (notifyGrandParent)="grandmaHandleClick($event)"></app-editor-sidebar>
    <div class="app">
      <div class="project-editor__form">
        <div class="status-indicator">
          <div class="status-indicator__ball"></div>
          <div class="status-indicator__bar"></div>
          <div class="status-indicator__ball status-indicator__ball_bottom"></div>
          <div class="status-indicator__bar status-indicator__bar_bottom"></div>
        </div>
        <app-start-point id="step-0" class="step-section"  (formSubmit)='updateProject($event)' (statusUpdate)='updateStatus($event)'></app-start-point>
      </div>

    </div>
</div>
<div *ngIf="(notFound$ | async) == 0">
    Project not found
</div>
