@import 'helpers/_helpers-master';
.sidebar{
  width: 187px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: $color-quaternary;
  border-right:1px solid $color-border-primary;
}
