@import 'helpers/_helpers-master';
.counter {
  $root: &;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-top: 3px;
  padding-left: 20px;
  &__wrap {
    letter-spacing: normal;
    color: rgba($color-tertiary, 0.4);
    line-height: 24px;
    font-size: $font-size-body-s;
  }
  &__helper-text {
    font-size: $font-size-body-label;
    letter-spacing: 0.2px;
    line-height: 12px;
    color: rgba($color-tertiary, 0.5);
    display: inline-block;
  }
  &__error {
    #{$root}__helper-text,
    #{$root}__wrap {
      color: $color-quinary;
    }
  }
}
.error {
  &__text {
    display: flex;
    width: 100%;
    margin-top: 7px;
    padding-left: 20px;
    font-family: $font-family-tertiary;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.2px;
    color: $color-quinary;
  }
}
