<!-- Info, open the link in a new tab when the url is not a thinkö url -->
<div class="custom-carousel">
  <carousel interval="7000" [isAnimated]="true">
    <slide>
      <span
        class="hs-cta-wrapper"
        id="hs-cta-wrapper-34968fa1-ce91-4fae-8258-d24ad53733d5"
        ><span
          class="hs-cta-node hs-cta-34968fa1-ce91-4fae-8258-d24ad53733d5"
          id="hs-cta-34968fa1-ce91-4fae-8258-d24ad53733d5"
          ><a
            href="https://cta-redirect.hubspot.com/cta/redirect/6022192/34968fa1-ce91-4fae-8258-d24ad53733d5"
            rel="noopener noreferrer"
            ><img
              class="hs-cta-img"
              id="hs-cta-img-34968fa1-ce91-4fae-8258-d24ad53733d5"
              style="border-width: 0px;"
              height="100%"
              width="100%"
              src="https://no-cache.hubspot.com/cta/default/6022192/34968fa1-ce91-4fae-8258-d24ad53733d5.png"
              alt="Estructura paso a paso unidades didácticas y proyectos ABP" /></a
        ></span>
        <script
          charset="utf-8"
          src="https://js.hscta.net/cta/current.js"
        ></script>
        <script type="text/javascript">
          hbspt.cta.load(6022192, '34968fa1-ce91-4fae-8258-d24ad53733d5', {})
        </script></span
      >
    </slide>
    <slide>
      <span
        class="hs-cta-wrapper"
        id="hs-cta-wrapper-34968fa1-ce91-4fae-8258-d24ad53733d5"
        ><span
          class="hs-cta-node hs-cta-34968fa1-ce91-4fae-8258-d24ad53733d5"
          id="hs-cta-34968fa1-ce91-4fae-8258-d24ad53733d5"
          ><a
            href="https://cta-redirect.hubspot.com/cta/redirect/6022192/34968fa1-ce91-4fae-8258-d24ad53733d5"
            rel="noopener noreferrer"
            ><img
              class="hs-cta-img"
              id="hs-cta-img-34968fa1-ce91-4fae-8258-d24ad53733d5"
              style="border-width: 0px;"
              height="100%"
              width="100%"
              src="https://no-cache.hubspot.com/cta/default/6022192/34968fa1-ce91-4fae-8258-d24ad53733d5.png"
              alt="Estructura paso a paso unidades didácticas y proyectos ABP" /></a
        ></span>
        <script
          charset="utf-8"
          src="https://js.hscta.net/cta/current.js"
        ></script>
        <script type="text/javascript">
          hbspt.cta.load(6022192, '34968fa1-ce91-4fae-8258-d24ad53733d5', {})
        </script></span
      >
    </slide>
    <slide>
      <!--HubSpot Call-to-Action Code --><span
        class="hs-cta-wrapper"
        id="hs-cta-wrapper-34968fa1-ce91-4fae-8258-d24ad53733d5"
        ><span
          class="hs-cta-node hs-cta-34968fa1-ce91-4fae-8258-d24ad53733d5"
          id="hs-cta-34968fa1-ce91-4fae-8258-d24ad53733d5"
          ><!--[if lte IE 8]><div id="hs-cta-ie-element"></div><!
          [endif]--><a
            href="https://cta-redirect.hubspot.com/cta/redirect/6022192/34968fa1-ce91-4fae-8258-d24ad53733d5"
            rel="noopener noreferrer"
            ><img
              class="hs-cta-img"
              id="hs-cta-img-34968fa1-ce91-4fae-8258-d24ad53733d5"
              style="border-width: 0px;"
              height="100%"
              width="100%"
              src="https://no-cache.hubspot.com/cta/default/6022192/34968fa1-ce91-4fae-8258-d24ad53733d5.png"
              alt="Estructura paso a paso unidades didácticas y proyectos ABP" /></a
        ></span>
        <script
          charset="utf-8"
          src="https://js.hscta.net/cta/current.js"
        ></script>
        <script type="text/javascript">
          hbspt.cta.load(6022192, '34968fa1-ce91-4fae-8258-d24ad53733d5', {})
        </script></span
      ><!-- end HubSpot Call-to-Action Code -->
    </slide>
    <slide>
      <!--HubSpot Call-to-Action Code --><span
        class="hs-cta-wrapper"
        id="hs-cta-wrapper-34968fa1-ce91-4fae-8258-d24ad53733d5"
        ><span
          class="hs-cta-node hs-cta-34968fa1-ce91-4fae-8258-d24ad53733d5"
          id="hs-cta-34968fa1-ce91-4fae-8258-d24ad53733d5"
          ><!--[if lte IE 8]><div id="hs-cta-ie-element"></div><!
          [endif]--><a
            href="https://cta-redirect.hubspot.com/cta/redirect/6022192/34968fa1-ce91-4fae-8258-d24ad53733d5"
            rel="noopener noreferrer"
            ><img
              class="hs-cta-img"
              id="hs-cta-img-34968fa1-ce91-4fae-8258-d24ad53733d5"
              style="border-width: 0px;"
              height="100%"
              width="100%"
              src="https://no-cache.hubspot.com/cta/default/6022192/34968fa1-ce91-4fae-8258-d24ad53733d5.png"
              alt="Estructura paso a paso unidades didácticas y proyectos ABP" /></a
        ></span>
        <script
          charset="utf-8"
          src="https://js.hscta.net/cta/current.js"
        ></script>
        <script type="text/javascript">
          hbspt.cta.load(6022192, '34968fa1-ce91-4fae-8258-d24ad53733d5', {})
        </script></span
      ><!-- end HubSpot Call-to-Action Code --></slide
    >
  </carousel>
</div>
