<div class="filter-wrapper" (click)="openFilterModal()">
  <span class="icon-ic_preferences filter-wrapper__icon mr-1"> </span>
  <span class="filter-wrapper__content filter-count">
    {{ 'PRIVATEHOME_HEADER.home_filter' | translate }}</span
  >
  <figure class="=figure figure_circle mr-2 ml-0 my-0" *ngIf="filterSum">
    <span class="figure_count">
      {{ filterSum }}
    </span>
  </figure>
</div>

<!-- Teaching Startegy Modal View  -->
<ng-template #filterModal>
  <app-modal-layout
    modalTitle="FILTERS.experience_filter_title"
    confirmLabel="FILTERS.experience_filter_button_apply"
    [isDisabled]="false"
    [titleLighten]="true"
    buttonVariant="block"
    customClass="modal-layout_fixed"
    (decline)="declineModal($event)"
    (confirm)="confirmModal()"
  >
    <div class="filter-block">
      <accordion [isAnimated]="true" [closeOthers]="oneAtATime">
        <accordion-group
          [isOpen]="true"
          panelClass="filter-accordion__content"
          class="filter-accordion"
          [ngClass]="{
            'filter-accordion_active': accordionGroupOne.isOpen
          }"
          #accordionGroupOne
        >
          <div accordion-heading class="filter-accordion__heading">
            <h5 class="filter-accordion__title">
              {{ 'FILTERS.experience_filter_stage' | translate }}
              <span
                class="filter-item-count"
                *ngIf="filterData.stage | checkCount"
              >
                ({{ filterData.stage | checkCount }})
              </span>
            </h5>
            <div class="filter-accordion__arrow">
              <span class="icon icon-ic_dropdown"></span>
            </div>
          </div>
          <div class="filter-accordion__body">
            <div class="filter-accordion__body-content" #accordionBody>
              <ul class="filter-accordion__list">
                <ng-container *ngFor="let item of filterData.stage">
                  <li class="filter-accordion__list-item">
                    <app-checkbox
                      [isChecked]="item.checked"
                      (changeEvent)="item.checked = $event.checked"
                      >{{ item.value | translate }}</app-checkbox
                    >
                  </li>
                </ng-container>
              </ul>
            </div>
          </div>
        </accordion-group>
        <accordion-group
          [isOpen]="false"
          panelClass="filter-accordion__content"
          class="filter-accordion"
          [ngClass]="{
            'filter-accordion_active': accordionGroupTwo.isOpen
          }"
          #accordionGroupTwo
        >
          <div accordion-heading class="filter-accordion__heading">
            <h5 class="filter-accordion__title">
              {{ 'FILTERS.experience_filter_experiencetype' | translate }}
              <span
                class="filter-item-count"
                *ngIf="filterData.type | checkCount"
              >
                ({{ filterData.type | checkCount }})
              </span>
            </h5>
            <div class="filter-accordion__arrow">
              <span class="icon icon-ic_dropdown"></span>
            </div>
          </div>
          <div class="filter-accordion__body">
            <div class="filter-accordion__body-content" #accordionBody>
              <ul class="filter-accordion__list">
                <ng-container *ngFor="let item of filterData.type">
                  <!-- temporarly hiding the item for  FILTERS.experience_activity type -->
                  <li
                    class="filter-accordion__list-item"
                    *ngIf="item.value !== 'FILTERS.experience_activity'"
                  >
                    <app-checkbox
                      [isChecked]="item.checked"
                      (changeEvent)="item.checked = $event.checked"
                      >{{ item.value | translate }}</app-checkbox
                    >
                  </li>
                </ng-container>
              </ul>
            </div>
          </div>
        </accordion-group>
        <accordion-group
          [isOpen]="false"
          panelClass="filter-accordion__content"
          class="filter-accordion"
          [ngClass]="{
            'filter-accordion_active': accordionGroupThree.isOpen
          }"
          #accordionGroupThree
        >
          <div accordion-heading class="filter-accordion__heading">
            <h5 class="filter-accordion__title">
              {{ 'FILTERS.experience_filter_subjects' | translate }}
              <span
                class="filter-item-count"
                *ngIf="filterData.subjects | checkCount"
              >
                ({{ filterData.subjects | checkCount }})
              </span>
            </h5>
            <div class="filter-accordion__arrow">
              <span class="icon icon-ic_dropdown"></span>
            </div>
          </div>
          <div class="filter-accordion__body">
            <div class="filter-accordion__body-content" #accordionBody>
              <div class="filter-accordion__search mb-4">
                <app-search
                  customClass="w-100"
                  placeholder="{{
                    'FILTERS.experience_filter_subjects_browse_placeholder'
                      | translate
                  }}"
                  [text]="searchText"
                  (searchText)="handleSearch($event)"
                ></app-search>
              </div>

              <ul class="filter-accordion__list">
                <li
                  class="filter-accordion__list-item"
                  *ngFor="
                    let item of filterData.subjects | listFilter: searchText
                  "
                >
                  <app-checkbox
                    [isChecked]="item.checked"
                    (changeEvent)="item.checked = $event.checked"
                    >{{ item.name | translate }}</app-checkbox
                  >
                </li>
              </ul>
            </div>
          </div>
        </accordion-group>
        <accordion-group
          [isOpen]="false"
          panelClass="filter-accordion__content"
          class="filter-accordion"
          [ngClass]="{
            'filter-accordion_active': accordionGroupFour.isOpen
          }"
          #accordionGroupFour
        >
          <div accordion-heading class="filter-accordion__heading">
            <h5 class="filter-accordion__title">
              {{ 'FILTERS.experience_filter_academicyear' | translate }}
              <span
                class="filter-item-count"
                *ngIf="filterData.academicYears | checkCount"
              >
                ({{ filterData.academicYears | checkCount }})
              </span>
            </h5>
            <div class="filter-accordion__arrow">
              <span class="icon icon-ic_dropdown"></span>
            </div>
          </div>
          <div class="filter-accordion__body">
            <div class="filter-accordion__body-content" #accordionBody>
              <ul class="filter-accordion__list">
                <li
                  class="filter-accordion__list-item"
                  *ngFor="let item of filterData.academicYears"
                >
                  <app-checkbox
                    [isChecked]="item.checked"
                    (changeEvent)="item.checked = $event.checked"
                    >{{ item.value | translate }}</app-checkbox
                  >
                </li>
              </ul>
            </div>
          </div>
        </accordion-group>
      </accordion>
    </div>
  </app-modal-layout>
</ng-template>
