@import 'variables/_variables-master';

.chipset {
  $root: &;
  border: 1px solid rgba(color(tertiary), 0.1);
  box-shadow: inset 0 0 0 0 transparent;
  box-sizing: border-box;
  border-radius: 3px;
  height: 104px;
  padding: 10px 0 5px 0;

  &__wrapper {
    letter-spacing: 0;
    padding: 5px 15px;
    overflow: auto;
    height: 100%;
  }
  &__field {
    padding: 12px 18px;
    font-size: font-size(body-s);
    line-height: 24px;
    width: 100%;
    border: none;
    background: transparent;
    caret-color: color(primary);
    &::placeholder {
      color: rgba(color(tertiary), 0.6);
      font-size: font-size(body-s);
      line-height: 24px;
    }
    &::-ms-reveal,
    &::-ms-clear {
      display: none;
    }
  }
  &_border {
    border: 1px solid rgba(color(tertiary), 0.1);
  }
  &__label {
    position: absolute;
    font-size: font-size(label);
    font-weight: 900;
    letter-spacing: 0.2px;
    line-height: 12px;
    top: 0;
    transform: translateY(-50%);
    padding: 2px 5px;
    background-color: color(quaternary);
    left: 14px;
    z-index: 2;
    color: color(tertiary);
    background-color: color(quaternary);
  }
  &__chip-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  &__chip {
    display: inline-flex;
    align-items: center;
    background-color: rgba(color(tertiary), 0.05);
    border-radius: 15px;
    margin-bottom: 5px;
    margin-right: 8px;
    padding-left: 12px;
    padding-right: 5px;
  }
  &__input {
    border: none;
    flex: 1 1 auto;
    min-width: 150px;
    caret-color: color(primary);
  }
  &_focus {
    border: 2px solid color(primary);
    border-radius: 3px;
  }
  &_focus {
    border: 1px solid color(primary);
    box-shadow: inset 0 0 0 1px color(primary);
  }
}
.chip {
  max-width: 250px;
  &__text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
  }
  &__icon {
    color: color(tertiary);
    font-size: 12px;
    font-weight: bold;
    opacity: 0.4;
    padding-left: 5px;
    cursor: pointer;
    margin-top: 2px;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
