@import 'variables/_variables-master';
@import 'helpers/_helpers-master';
.statistics-box {
  border-radius: 4px;
  background-color: color(quaternary);
  min-width: 226px;
  position: relative;
  height: 100%;
  margin-bottom: 20px;
  @include common-card-box-shadow();
  &__upper-icon {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    position: absolute;
    right: 24px;
    top: -22px;
    background-color: color(quaternary);
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    @include card-box-shadow();

    .icon-ic {
      font-size: font-size(s);
      &_actividades {
        font-size: font-size(body);
      }
    }
  }

  &__status-icon {
    width: 20px;
    display: inline-block;
    height: 20px;
    margin-left: 6px;
    margin-top: -2px;
    vertical-align: top;
    background-image: url('/assets/icons/ic_edit_small.png');
    cursor: pointer;
  }

  &__body {
    display: flex;
    position: relative;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    line-height: 24px;
    &_resume {
      margin-bottom: -21px;
    }
    &_chart {
      margin-bottom: 15px;
    }

    &_supertitle {
      font-weight: 900;
      text-transform: uppercase;
      font-family: font-family(secondary);
      letter-spacing: 1px;
    }
    &_main {
      text-transform: none;
      width: 70%;
    }
  }

  &__content {
    font-size: font-size(default);
    &-firstRow {
      text-transform: uppercase;
      &-separator {
        width: 1px;
        background-image: linear-gradient(
          color(tertiary) 33%,
          rgba(pantone(nobel), 0) 0
        );
        background-position: 100%;
        background-size: 1px 4px;
        background-repeat: repeat-y;
        height: 13px;
        margin-left: 9px;
      }
    }
    &-row {
      width: 45%;
      &-link {
        color: color(primary);
        font-weight: 600;
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
  &__report {
    display: inline-block;

    &-number {
      width: 20px;
      height: 20px;
      border-radius: 10px;
      background: rgba(color(tertiary), 0.1);
      text-align: center;
      line-height: 20px;
    }
    &-completed {
      background-color: color(secondary);
    }
    &-text {
      line-height: 28px;
      font-weight: 900;
      margin-left: 18px;
      font-family: font-family(secondary);
      letter-spacing: 1px;
    }
  }
  &__status {
    cursor: default;
    &-link {
      color: color(primary);
      font-weight: 600;
      cursor: pointer;
      text-decoration: underline;
      line-height: 24px;
    }

    &-result {
      font-weight: 900;
      float: left;
    }
    &-total {
      font-weight: 900;
      float: left;
    }
  }
  &__chart {
    border: 1px solid pantone(white-lilac);
    background-color: color(background-primary);
    position: absolute;
    width: 144px;
    height: 144px;
    border-top-right-radius: 100%;
    transform: rotate(-90deg);
    bottom: -31px;
    right: -35px;
    overflow: hidden;

    &-filled-box {
      background-color: transparent;
      width: 200%;
      height: 200%;
      position: absolute;
      right: 0px;
      bottom: -140px;
      transform: rotate(-180deg);
    }
    &-quarter {
      background-color: color(secondary);
      width: 144px;
      height: 144px;
      top: 0;
      right: 0;
      position: absolute;
      transform: rotate(-91deg);
    }
    &-ball {
      background-color: color(secondary);
      width: 31px;
      height: 31px;
      border-radius: 16px;
      top: 121px;
      right: 0px;
      position: absolute;
    }

    &-cover {
      background-color: color(quaternary);
      position: absolute;
      width: 116px;
      height: 116px;
      border-top-right-radius: 100%;
      transform: rotate(-90deg);
      bottom: -31px;
      right: -35px;
      overflow: hidden;
    }

    &-content {
      width: 120px;
      height: 120px;
      position: absolute;
      bottom: 0;
      right: 0;
      margin-bottom: 4px;
      text-align: right;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    &-total {
      font-family: font-family(tertiary);
      color: pantone(mischika);
      font-size: font-size(body-s);
      font-weight: 600;
      line-height: 24px;
    }

    &-data {
      position: absolute;
      bottom: 5px;
      right: -25px;
      width: 100px;
      text-align: center;
      font-family: font-family(primary);
      font-size: font-size(s);
      font-weight: 900;
      line-height: 32px;
    }
  }
}
