<app-header
  [filename]="fileName"
  [currentPage]="pageVariable"
  [totalPages]="totalPages"
  [zoomAmt]="zoom"
  [zoomMax]="zoomMax"
  [zoomMin]="zoomMin"
  [loading]="loading"
  (setZoom)="setZoom($event)"
  (download)="download()"
  (print)="print()"
  ></app-header>
<div class="output-view__section">
  <app-sidebar
    [outline]="outline"
    (navigateTo)="navigateTo($event)"></app-sidebar>
  <div class="output-view__content">
    <pdf-viewer
    [src]="pdfSrc"
    [render-text]="true"
    [show-all]="true"
    [show-borders]="true"
    [zoom]="zoom"
    [original-size]="false"
    [autoresize]="true"
    [fit-to-page]="true"
    [zoom-scale]="zoomScale"
    [(page)]="pageVariable"
    (after-load-complete)="afterLoadComplete($event)"
    #pdfViewer
  ></pdf-viewer>
  <app-loader *ngIf="loading"></app-loader>
  </div>
</div>
