@import 'helpers/_helpers-master';
@import 'variables/_variables-master';

.evaluation-card {
  @include presentation-card-box-shadow;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 18px;
  border-radius: 0 0 4px 4px;
  background-color: color(quaternary);
  box-sizing: content-box;

  &_average {
    width: 130px;
  }

  &_qualifying {
    position: relative;
    width: 188px;
  }

  &__box {
    display: inherit;
    width: 100%;

    &_row1 {
      flex-direction: column;
      align-items: flex-start;
    }

    &_row2 {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 87px;
    }
  }

  &__head {
    display: inherit;
    width: 100%;
    height: 40px;
  }

  &__title {
    width: 84%;
    font-size: font-size(default);
    font-weight: bold;
    line-height: spacing(secondary);
  }

  &__dropdown {
    position: absolute;
    top: 15px;
    right: 9px;
    display: inherit;
    justify-content: flex-end;
    width: 30px;
    height: 30px;
  }

  &__main {
    display: inherit;
    width: 100%;
    height: 24px;
    margin-top: 10px;

    [class^='icon-'],
    [class*=' icon-'] {
      margin-right: 8px;
      line-height: 24px;
      vertical-align: bottom;

      &::before {
        font-size: 1rem;
        opacity: 0.3;
      }
    }
  }

  &__clickacable {
    border-bottom: 1px solid color(primary);
    line-height: 20px;
  }

  &__percentage {
    margin-left: 3px;
    font-family: font-family(default);
    font-size: font-size(label);
    font-weight: bold;
    letter-spacing: 0;
    top: -0.6em;
  }

  &__calificable {
    font-weight: bold;
    opacity: 0.3;
  }

  .icon-ic_warning::before,
  .warning {
    color: color(primary);
    opacity: 1;
    font-weight: 900;
  }

  .icon-ic_warning::before {
    font-size: 0.9rem;
  }

  &__item {
    font-size: font-size(sub-s);
    line-height: 18px;
    letter-spacing: 0.2px;
    opacity: 0.3;
  }

  &__separator {
    width: 100%;
    margin: 16px 0 0;
    border-top: 1px solid color(magnolia);
  }

  .title_s {
    letter-spacing: 0.3px;
    line-height: 24px;
    vertical-align: bottom;
  }

  .icon-ic_star-no {
    margin-right: 4px;

    &::before {
      font-size: 1.5rem;
    }
  }
}

:host::ng-deep {
  app-dropdown {
    text-align: center;
  }
  .span-dropdown {
    &.show [aria-haspopup='true'] {
      border-radius: 50%;
      background-color: color(white-smoke);
    }

    .icon-ic_more {
      width: 30px;
      height: 30px;
      opacity: 0.4;

      &::before {
        font-size: 1.2rem;
        line-height: 30px;
      }
    }

    .arrow {
      top: 34px;
      height: 8px;
    }

    .dropdown-menu {
      top: 42px;
    }

    .icon-tooltip:before {
      font-size: 1.6rem;
      margin-right: 5px;
    }

    .span-dropdown-menu__text {
      line-height: 20px;
    }
  }
  .tooltip_custom .tooltip-inner {
    padding: 9px;
    width: 153px;
  }
}
