<div class="span-dropdown" dropdown (isOpenChange)="isOpenChange()">
  <div id="basic-link" dropdownToggle data-toggle="dropdown" autoClose="true">
    <ng-content></ng-content>
  </div>
  <div class="arrow" *ngIf="showDropdown"></div>
  <ul
    id="basic-link-dropdown"
    class="dropdown-menu"
    role="menu"
    aria-labelledby="basic-link"
    [ngClass]="{
      'span-dropdown-menu_hide': !showDropdown,
      'dropdown-menu_right': position === 'right',
      'dropdown-menu_left': position === 'left',
      'dropdown-menu_center': position === 'center'
    }"
  >
    <li
      class="dropdown-menu-item"
      (click)="onSelect(dropdownElement, dropdownElement?.disabled)"
      *ngFor="let dropdownElement of list"
      [ngClass]="{
        'span-dropdown-menu-item_disabled': dropdownElement?.disabled
      }"
    >
      <span
        class="icon icon-tooltip {{
          dropdownElement.icon ? dropdownElement.icon : ''
        }}"
        *ngIf="dropdownElement.icon"
      ></span>
      <a class="span-dropdown-menu__text">{{
        dropdownElement.text | translate
      }}</a>
    </li>
  </ul>
</div>
