@import 'helpers/_helpers-master';
.draggable-row {
  width: 100%;
  background-color: #ffffff;
  font-family: $font-family-default;
  font-weight: bold;
  padding: 24px 12px;
  margin-bottom: 16px;
  @include common-card-box-shadow();
  &__col {
    display: inline-block;
    vertical-align: middle;
    border-left: 1px dotted $mischika;
    text-align: center;
    text-transform: uppercase;

    &_disabled {
      color: $link-water;
    }

    &-one {
      display: inline-flex;
      align-items: center;
      text-transform: none;
      width: 40%;
      font-size: $font-size-body;
      border-left: 0;
      text-align: left;
      line-height: 32px;

      &-wrap-icon {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-bottom: 3px;
      }
      &-text {
        font-size: $font-size-body;
        margin-left: 16px;
      }
    }
    &-two {
      width: 10%;
      line-height: 20px;
      letter-spacing: 0.39px;
    }
    &-three {
      width: 15%;
      line-height: 20px;
      letter-spacing: 0.39px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    &-four {
      width: 15%;
      line-height: 20px;
      letter-spacing: 0.39px;
    }
    &-five {
      width: 20%;
      position: relative;
      &-text {
        padding-right: 53px;
        line-height: 20px;
        letter-spacing: 0.39px;
      }
    }
    &-text {
      cursor: pointer;
      padding: 0 32px 0 10px;
      letter-spacing: 0.2px;
    }
  }
}

.icon {
  color: $link-water;
  font-size: $font-size-sub-m;
  vertical-align: sub;
  margin-right: 4px;

  &-ic {
    &_actividades {
      vertical-align: text-top;
      font-size: $font-size-icon;

      &-draggable {
        vertical-align: text-top;
        font-size: 24px;
        margin: 0;
      }
    }
  }
  &-tooltip {
    color: $black;
    margin-right: 15px;
  }
}

.span {
  &-steps {
    display: inline-block;
    width: 12px;
    height: 6px;
    margin: 1px 2px;
    background-color: $magnolia;

    &-container {
      vertical-align: top;
      width: auto;
      height: auto;
      margin-right: 12px;
    }
    &-first {
      border-radius: 4px 0 0 4px;
    }
    &-third {
      border-radius: 0 4px 4px 0;
    }
    &-active {
      background-color: $medium-turquoise;
      width: 13px;
      height: 8px;
      margin: 0 1px;
    }
  }
  &-dropdown {
    position: absolute;
    right: 0;
    top: -4px;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    padding: 0px 10px;
    display: block;
    cursor: pointer;

    &-menu {
      &__text {
        line-height: 32px;
      }
      &_hide {
        display: none;
      }
    }

    &:hover {
      background-color: $white-smoke;
    }

    div {
      writing-mode: vertical-rl;
      text-orientation: mixed;
      font-size: 26px;
      letter-spacing: 1px;
      margin-top: 4px;
      margin-left: 1px;
    }
    ul {
      z-index: 10;
      position: absolute;
      text-align: left;
      text-transform: none;
      margin-top: 0;
      margin-left: -100px;
      padding: 12px 16px;
      list-style-type: none;
      font-size: $font-size-default;
      background-color: $white;
      min-width: 144px;
      font-weight: 300;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      border-radius: 4px;
      margin-bottom: 10px;
    }
  }
}
