<div class="draggable-row">
  <div class="draggable-row__col draggable-row__col-one">
    <div class="draggable-row__col-one-wrap-icon">
      <span class="icon icon-ic_drag"></span>
    </div>
    <div
      class="draggable-row__col-text"
      [routerLink]="[element.url, element.id]"
    >
      {{ element.columnOne.text }}
    </div>
  </div>
  <div
    class="draggable-row__col draggable-row__col-two"
    [ngClass]="element.columnTwo.disabled ? 'draggable-row__col_disabled' : ''"
  >
    <span class="icon icon-ic_{{ element.columnTwo.icon }}"></span>
    {{ element.columnTwo.text }}
  </div>
  <div
    class="draggable-row__col draggable-row__col-three"
    [ngClass]="{ 'draggable-row__col_disabled': element.columnThree.disabled }"
  >
    <span class="icon icon-ic_{{ element.columnThree.icon }}"></span>
    <span class="dashboard__activities-components-fase-header-numactivities">
      {{ element.columnThree.text }}
    </span>
  </div>
  <div
    class="draggable-row__col draggable-row__col-four"
    [ngClass]="{ 'draggable-row__col_disabled': element.columnFour.disabled }"
  >
    <span class="icon icon-ic_{{ element.columnFour.icon }}"></span>
    <span class="dashboard__activities-components-fase-header-numactivities">
      {{ element.columnFour.text }}
    </span>
  </div>
  <div class="draggable-row__col draggable-row__col-five">
    <span class="span-steps-container">
      <span
        class="span-steps span-steps-first"
        [ngClass]="{
          'span-steps-active': element.columnFive.step > 0
        }"
      >
      </span>
      <span
        class="span-steps span-steps-second"
        [ngClass]="{
          'span-steps-active': element.columnFive.step > 1
        }"
      >
      </span>
      <span
        class="span-steps span-steps-third"
        [ngClass]="{
          'span-steps-active': element.columnFive.step > 2
        }"
      >
      </span>
    </span>
    <span class="draggable-row__col-five-text">{{
      element.columnFive.text
    }}</span>
    <span class="span-dropdown" dropdown (isOpenChange)="isOpenChange()">
      <div
        id="basic-link"
        dropdownToggle
        data-toggle="dropdown"
        autoClose="true"
      >
        ...
      </div>
      <ul
        id="basic-link-dropdown"
        *dropdownMenu
        class="dropdown-menu"
        role="menu"
        aria-labelledby="basic-link"
        [ngClass]="{ 'span-dropdown-menu_hide': !showDropdown }"
      >
        <li
          (click)="executeAction(element, dropdownElement.action)"
          *ngFor="let dropdownElement of element.dropdownElements"
        >
          <span
            class="icon icon-tooltip icon-ic_{{ dropdownElement.icon }}"
          ></span>
          <a class="span-dropdown-menu__text">{{ dropdownElement.text }}</a>
        </li>
      </ul>
    </span>
  </div>
</div>
