@import 'helpers/_helpers-master';

.creation {
  &__title {
    font-weight: 900;
    font-size: font-size(body);
    letter-spacing: 0.2px;
    line-height: 28px;
  }
  &__exercises {
    background-color: color(quaternary);
    width: 100%;
    border-radius: 3px;
    @include card-box-shadow();
    padding: 20px 32px 11px 32px;
    position: relative;
  }
  &__icon {
    &_star {
      opacity: 0.4;
      margin-right: 11px;
      font-size: 16px;
      font-size: 24px;
      margin-left: -6px;
    }
    &_draggable {
      position: absolute;
      left: -36px;
      top: calc(50% - 12px);
      font-size: font-size(xs);
      color: color(background-secondary);
      cursor: pointer;
    }
    &_size {
      font-size: 20px;
      color: color(tertiary);
    }
    &_custom {
      font-size: 24px;
    }
  }
  &__subtitle {
    line-height: 14px;
    letter-spacing: 0.16px;
    font-weight: 900;
    opacity: 0.5;
  }
  &__description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    text-align: justify;
    -webkit-box-orient: vertical;
  }
}
