@import 'helpers/_helpers-master';

.creation {
  $root: &;
  &__title {
    font-weight: 900;
    font-size: font-size(body);
    letter-spacing: 0.2px;
    line-height: 28px;
    overflow: hidden;
    word-break: break-word;
    word-wrap: break-word;
    width: 100%;
  }
  &__icon-wrapper {
    display: flex;
    align-items: center;
    height: 30px;
  }
  &__exercises {
    background-color: color(quaternary);
    width: 100%;
    border-radius: 3px;
    @include card-box-shadow();
    padding: 20px 32px 11px 32px;
    position: relative;
    &-dropdown {
      &-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        padding: 3px;
        margin-right: -10px;

        &:hover {
          background-color: rgba(color(tertiary), 0.05);
          border-radius: 50%;
        }

        .icon {
          font-size: 20px;
          letter-spacing: 1px;
          color: $black;
          margin-right: 0;
        }
      }
      ::ng-deep {
        .span-dropdown .dropdown-menu_right {
          right: -32px;
        }
        .span-dropdown .arrow {
          right: -8px;
        }
        .span-dropdown.open.show #{$root}__exercises-dropdown-btn {
          background-color: rgba(color(tertiary), 0.05);
          border-radius: 50%;
        }
      }
    }
  }
  &__icon {
    &_star {
      opacity: 0.4;
      margin-right: 11px;
      font-size: 16px;
      font-size: 24px;
      margin-left: -6px;
    }
    &_draggable {
      position: absolute;
      left: -36px;
      top: calc(50% - 12px);
      font-size: font-size(xs);
      color: color(background-secondary);
      cursor: pointer;
    }
    &_size {
      font-size: 20px;
      color: color(tertiary);
    }
    &_custom {
      font-size: 24px;
      cursor: pointer;
    }
  }
  &__subtitle {
    line-height: 14px;
    letter-spacing: 0.16px;
    font-weight: 700;
    opacity: 0.5;
  }
  &__description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    text-align: justify;
    -webkit-box-orient: vertical;
  }
  &__custom-btn {
    cursor: pointer;
    margin-right: -6px;
  }
}
