<div class="activity-header position-relative" #header>
  <div
    class="activity-header__wrap d-flex justify-content-center pt-7 px-6 w-100 position-relative"
  >
    <div class="mr-5 activity-header__back position-absolute">
      <app-button
        theme="teritiary"
        variant="back"
        icon="back"
        [routerLink]="[backUrl]"
      >
        {{ 'ACTIVITY_HEADER.activity_header_button_back' | translate }}
      </app-button>
    </div>
    <div
      class="container_s text-white d-flex flex-column activity-header__content"
    >
      <div class="activity-header__overtitle mb-1">
        {{ 'ACTIVITY_HEADER.activity_header_overtitle' | translate }}
      </div>
      <h1 class="text-white title_l mb-8">{{ title }}</h1>
      <div
        class="d-flex justify-content-between mt-auto w-100"
        *ngIf="isDefinition; else preview"
      >
        <div class="activity-header__tabs d-flex align-items-end">
          <div
            class="activity-header__tab-item pb-5"
            [ngClass]="{
              'activity-header__tab-item_active':
                currentlyActive === 'definition'
            }"
            [routerLink]="[tabUrl + 'definition']"
          >
            {{ 'ACTIVITY_HEADER.activity_header_tab_definition' | translate }}
          </div>
          <div
            class="activity-header__tab-item pb-5"
            [ngClass]="{
              'activity-header__tab-item_active': currentlyActive === 'creation'
            }"
            [routerLink]="[tabUrl + 'creation']"
          >
            {{ 'ACTIVITY_HEADER.activity_header_tab_creation' | translate }}
          </div>
        </div>

        <div class="text-white pb-3 d-flex">
          <div class="mr-2">
            <app-button
              variant="text"
              theme="teritiary"
              icon="calender"
              size="small"
              >{{
                'ACTIVITY_HEADER.activity_header_button_schedule' | translate
              }}</app-button
            >
          </div>
          <div class="mr-1">
            <app-button [theme]="'success'" [icon]="'locked'" [size]="'small'">
              {{
                'ACTIVITY_HEADER.activity_header_button_publicate' | translate
              }}
            </app-button>
          </div>
          <div class="activity-header__button align-self-center">
            <app-button theme="teritiary" icon="three-dots" variant="icon">
            </app-button>
          </div>
        </div>
      </div>
      <ng-template #preview>
        <div class="d-flex mt-auto w-100">
          <div class="activity-header__state align-items-end" *ngIf="status">
            {{ status }}
          </div>

          <div class="text-white pb-3 d-flex">
            <div class="mr-2 ml-4">
              <app-button
                *ngIf="initDate && endDate"
                variant="text"
                theme="teritiary"
                icon="calender"
                size="small"
                [disabled]="true"
              >
                {{ initDate | date: 'dd.MM.yyyy' }} -
                {{ endDate | date: 'dd.MM.yyyy' }}</app-button
              >
              <app-button
                *ngIf="modality"
                variant="text"
                theme="teritiary"
                icon="objetivos"
                size="small"
                [disabled]="true"
                >{{ modality }}
              </app-button>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
  <div
    class="activity-header__figure activity-header__figure_left"
    [ngClass]="{ 'activity-header__figure_left-definition': !isDefinition }"
    [ngStyle]="{ top: header.offsetHeight - (isDefinition ? 134 : 164) + 'px' }"
  >
    <img
      [src]="
        isDefinition
          ? '../assets/images/bg-shape-left@2x.png'
          : '../assets/images/ShapesLeft@2x.png'
      "
      class="activity-header__image"
      alt="bacground-shapes"
    />
  </div>
  <div class="activity-header__figure activity-header__figure_right">
    <img
      [src]="
        isDefinition
          ? '../assets/images/bg-shape-right@2x.png'
          : '../assets/images/ShapeRightPreview@2x.png'
      "
      class="activity-header__image"
      alt="bacground-shapes"
    />
  </div>
</div>
<div class="activity-header__figure activity-header__figure_top">
  <img
    src="../assets/images/bg-shape-top@2x.png"
    class="activity-header__image"
    alt="bacground-shapes"
  />
</div>
