<div class="textarea d-flex" [ngClass]="{'textarea_focus': focus}" *ngIf="variant=='default'; else otherVariants">
  <textarea
    class="textarea__description"
    [attr.maxlength]="maxlength"
    [placeholder]="focus?'':placeholder"
    [ngModel]="value"
    (ngModelChange)="onValueChange($event)"
    (blur)="onBlur()"
    (focus)="setFocus()"
    (keydown)="onKeyDown($event)"
  ></textarea>
</div>
<ng-template #otherVariants> 
<app-textarea-list 
  [placeholder]="placeholder"
  [label]="label"
  [maxlength]="maxlength"
  [limit]="limit"
  [value$]="value$"
  [size]="size"
  [variant]="variant"
  [toggleData] = "toggleData"
  [onInitFocus] = "onInitFocus"
  (inputChange)="inputChange.emit($event)"
  ></app-textarea-list>
</ng-template>