<div
  class="textarea-wrapper {{ customClass }}"
  *ngIf="variant == 'default' || variant == 'listItem'"
>
  <div
    class="textarea d-flex"
    [ngClass]="{
      textarea_focus: focus,
      textarea__list: variant == 'listItem',
      textarea_error: enableValidator
        ? validator.limitExceeds && !(value?.length == 0)
        : null,
      textarea_active: value,
      textarea_small: size == 'small',
      textarea_medium: size == 'medium'
    }"
  >
    <label
      class="textarea__label"
      [ngClass]="{
        textarea__label_white: background === 'white',
        'textarea__label_white-lilac': background === 'white-lilac'
      }"
      *ngIf="label"
      >{{ label | translate | TranslateOptions: 0 }}
      <span class="textarea__label_optional" *ngIf="optionalLabel"
        >({{ label | translate | TranslateOptions: 1 }})
      </span>
    </label>

    <textarea
      class="textarea__description"
      id="textarea"
      [attr.maxlength]="maxLength"
      [placeholder]="focus ? '' : placeholder"
      background="background"
      [ngModel]="value"
      (ngModelChange)="onValueChange($event)"
      (blur)="onBlur($event)"
      (focus)="setFocus()"
      value="{{ value }}"
      (keydown)="onKeyDown($event, validator.limitExceeds)"
      (keyup)="onKeyUp($event, validator)"
      (paste)="onPaste($event, validator)"
      (drop)="onDrop($event, validator)"
      (focusout)="setFocusOut($event)"
      #textarea
    ></textarea>
    <span
      *ngIf="variant == 'listItem'"
      class="textarea__enter icon-ic_enter"
      [ngClass]="{
        textarea__enter_active:
          (focus && value && !validator.limitExceeds) || (!focus && value)
      }"
      tabindex="0"
      (click)="handleClick()"
    ></span>
  </div>
  <div class="textarea-wrapper__counter-wrapper">
    <app-validator
      [value]="textarea.value"
      [maxlength]="maxLength"
      [helperText]="focus ? helperText : ''"
      [errorText]="errorText"
      [isEnabled]="enableValidator"
      #validator
    >
    </app-validator>
  </div>
</div>
