<ng-container *ngIf="isEnabled">
  <div
    class="counter"
    [ngClass]="{
      counter__error: limitExceeds && !(value.length == 0),
      counter__error_text: error
    }"
    *ngIf="variant === 'counter'"
  >
    <div class="pt-1 pr-2">
      <div
        class="counter__helper-text"
        *ngIf="value.length === 0 && helperText"
        [ngClass]="{
          'counter__helper-text_multiple':
            helperText | translate | TranslateCut: 1
        }"
      >
        {{ helperText | translate | TranslateCut: 0 }}
      </div>
      <div
        class="counter__helper-text counter__helper-text_multiple"
        *ngIf="value.length === 0 && (helperText | translate | TranslateCut: 1)"
      >
        {{ helperText | translate | TranslateCut: 1 }}
      </div>
      <div
        class="counter__helper-text"
        *ngIf="(value.length !== 0 && limitExceeds) || error"
      >
        {{ errorText | translate }}
      </div>
    </div>
    <div class="counter__wrap" *ngIf="maxlength">
      <span class="counter__count">{{ value.length }}</span>
      <span class="counter__bar">/</span>
      <span class="counter__max-count">{{ maxlength }}</span>
    </div>
  </div>
  <div *ngIf="variant === 'text'">
    <div class="error__text" *ngIf="error || (!error && limitExceeds)">
      {{ errorText | translate }}
    </div>
  </div>
  <div *ngIf="passwordValidator && complexityControl">
    <div class="complexity-control counter">
      <div
        class="complexity-control__helper-text counter__helper-text d-flex w-100"
      >
        <div class="counter__helper-text-title">
          {{
            'RESET_PASSWORD_PAGE.login_reset-password_helpertext_newpassword'
              | translate
              | TranslateCut: 0
          }}
        </div>
        <div class="counter__helper-text-content">
          <div class="d-flex d-md-inline-block">
            <div
              class="complexity-control__item d-inline-flex"
              [ngClass]="{
                'complexity-control__item_error':
                  !complexityControl.hasMinLength && complexityControl.isTouched
              }"
            >
              <span
                class="complexity-control__icon"
                [ngClass]="{
                  'icon icon-ic_cross':
                    complexityControl.isTouched &&
                    !complexityControl.hasMinLength,
                  'icon icon-ic_check1 ':
                    complexityControl.isTouched &&
                    complexityControl.hasMinLength,
                  'icon icon-ic_bullet': !complexityControl.isTouched
                }"
              ></span>
              <div class="d-inline-block">
                {{
                  'RESET_PASSWORD_PAGE.login_reset-password_helpertext_newpassword'
                    | translate
                    | TranslateCut: 1
                }}
              </div>
            </div>
            <div
              class="complexity-control__item d-inline-flex"
              [ngClass]="{
                'complexity-control__item_error':
                  !complexityControl.hasNumber && complexityControl.isTouched
              }"
            >
              <span
                class="complexity-control__icon"
                [ngClass]="{
                  'icon icon-ic_cross':
                    complexityControl.isTouched && !complexityControl.hasNumber,
                  'icon icon-ic_check1 ':
                    complexityControl.isTouched && complexityControl.hasNumber,
                  'icon icon-ic_bullet': !complexityControl.isTouched
                }"
              ></span>
              <div class="d-inline-block">
                {{
                  'RESET_PASSWORD_PAGE.login_reset-password_helpertext_newpassword'
                    | translate
                    | TranslateCut: 2
                }}
              </div>
            </div>
          </div>
          <div class="d-flex d-md-inline-block">
            <div
              class="complexity-control__item d-inline-flex"
              [ngClass]="{
                'complexity-control__item_error':
                  !complexityControl.hasUpperCase && complexityControl.isTouched
              }"
            >
              <span
                class="complexity-control__icon"
                [ngClass]="{
                  'icon icon-ic_cross':
                    complexityControl.isTouched &&
                    !complexityControl.hasUpperCase,
                  'icon icon-ic_check1 ':
                    complexityControl.isTouched &&
                    complexityControl.hasUpperCase,
                  'icon icon-ic_bullet': !complexityControl.isTouched
                }"
              ></span>
              <div class="d-inline-block">
                {{
                  'RESET_PASSWORD_PAGE.login_reset-password_helpertext_newpassword'
                    | translate
                    | TranslateCut: 3
                }}
              </div>
            </div>
            <div
              class="complexity-control__item d-inline-flex"
              [ngClass]="{
                'complexity-control__item_error':
                  !complexityControl.hasLowerCase && complexityControl.isTouched
              }"
            >
              <span
                class="complexity-control__icon"
                [ngClass]="{
                  'icon icon-ic_cross':
                    complexityControl.isTouched &&
                    !complexityControl.hasLowerCase,
                  'icon icon-ic_check1 ':
                    complexityControl.isTouched &&
                    complexityControl.hasLowerCase,
                  'icon icon-ic_bullet': !complexityControl.isTouched
                }"
              ></span>
              <div class="d-inline-block">
                {{
                  'RESET_PASSWORD_PAGE.login_reset-password_helpertext_newpassword'
                    | translate
                    | TranslateCut: 4
                }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
