@import '../../../../../assets/helpers/_helpers-master';
.projectEditor-sidebar{
  background:$background-primary;
  border-right:1px solid $creator-border;
  top: 75px;
  width: 236px;
  position: fixed;
  left: 0;
  height: 100%;
  padding: 24px 20px 24px 30px;
  &__title, &__view{
    font-family: $font-family-tertiary;
    font-size: $font-size-body-s;
    color: $sidebar-text;
    font-weight: bold;
    letter-spacing: 0.16px;
    line-height: 32px;
    margin-bottom: 15px;
  }
  &__view{
    display: inline;
    color:$sidebar-text-active;
    border-bottom:1px solid $sidebar-text-active;
  }
}

