<div class="dropdown dropdown_multiple {{active ? 'active':''}}">
  <div class="dropdown__wrap" >
    <label class="dropdown__label" for='config.name'>{{config.label}}</label>
    <ng-multiselect-dropdown 
      [placeholder]="config.placeholder" 
      [settings] ="dropdownSettings" 
      [data]="config.options" 
      (onSelect)="onItemSelect($event)" 
      (onDeSelect)="onItemDeSelect($event)"
      (onSelectAll)="onSelectAll($event)" 
      (onDropDownClose)="onDropDownClose()" 
      [(ngModel)]="config.selectedItems">
    </ng-multiselect-dropdown>
  </div>
</div>
