<div class="dropdown dropdown_multiple {{active ? 'active':''}}" [formGroup]="group">
  <div class="dropdown__wrap" >
    <label class="dropdown__label" for='config.name'>{{config.label}}</label>
    <ng-multiselect-dropdown [placeholder]="config.placeholder" [settings] ="dropdownSettings" [data]="config.options" [disabled]="config.disabled" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)" [formControlName]='config.name' (onDropDownClose)="onDropDownClose()">
    </ng-multiselect-dropdown>
    <!-- <angular2-multiselect [settings] ="dropdownSettings"  [data]="config.options" [formControlName]='config.name'
    (onSelect)="onItemSelect($event)"
    (onSelectAll)="onSelectAll($event)" (onClose)="onDropDownClose()"></angular2-multiselect> -->
  </div>
</div>
