<nav class="sidebar">
  <h2 class="sidebar__title" *ngIf="outline?.length">
    {{ title | translate }}
  </h2>
  <ng-scrollbar>
    <ul class="sidebar__list" *ngIf="outline?.length">
      <li
        *ngFor="let item of outline; let index = index"
        class="sidebar__item"
        [ngClass]="{
          active:
            (currentPage > item.pageNumber || currentPage == item.pageNumber) &&
            (currentPage == item.lastPageNumber ||
              currentPage < item.lastPageNumber)
        }"
      >
        <!-- index === linkId || -->
        <a class="sidebar__link" (click)="anchorClick(index, item.pageNumber)">
          {{ item.title | translate }}
        </a>
        <!-- Keep below lines only if needed after finishing the whole pdf-->
        <ul class="sidebar__sub" *ngIf="item.items?.length">
          <li
            *ngFor="let child of item.items; let innerIndex = index"
            class="sidebar__item"
            [ngClass]="{
              active:
                (currentPage > child.pageNumber ||
                  currentPage == child.pageNumber) &&
                (currentPage == child.lastPageNumber ||
                  currentPage < child.lastPageNumber)
            }"
          >
            <a
              (click)="anchorClick(index, child.pageNumber)"
              class="sidebar__link"
            >
              {{ child.title | translate }}
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </ng-scrollbar>
</nav>
