<nav class="sidebar">
  <h2 class="sidebar__title" *ngIf="outline?.length">
    {{ title | translate }}
  </h2>
  <ng-scrollbar>
    <ul class="sidebar__list" *ngIf="outline?.length">
      <li
        *ngFor="let item of outline; let index = index"
        class="sidebar__item"
        [ngClass]="{ active: index === linkId }"
      >
        <a class="sidebar__link" (click)="anchorClick(index, item[1])">
          {{ item.title | translate }}
        </a>
        <!-- Keep below lines only if needed after finishing the whole pdf-->
        <ul class="sidebar__sub" *ngIf="item.items?.length">
          <li
            *ngFor="let child of item.items; let innerIndex = index"
            class="sidebar__item"
            [ngClass]="{ active: innerIndex === linkId }"
          >
            <a (click)="anchorClick(index, item[1])" class="sidebar__link">
              {{ child.title | translate }}
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </ng-scrollbar>
</nav>
