<div class="help-modal__header">
  <h4 class="help-modal__header-title">{{title}}</h4>
  <button type="button" class="close help-modal__header-close" aria-label="Close" (click)="bsModalRef.hide()">
    <span class="icon icon-ic_share_close"></span>
  </button>
</div>
<div class="help-modal__body">
  <img src='{{img}}' alt='image' class='help-modal__body-img' *ngIf='!video && !pdf'>
  <app-video-player [videoOptions]='videoOptions'  *ngIf='video'></app-video-player>
  <div class="help-modal__body-pdf" *ngIf='pdf'>
    <div class="help-modal__body-pdf-content">
      <pdf-viewer 
        [src]='pdfContent'
        [render-text]="true"
        [original-size]="false"
        [autoresize]="true"
      ></pdf-viewer>
    </div>
  </div>
</div>
