<div class="modal-layout">
  <div class="modal-layout__header">
    <app-button
      *ngIf="backLabel"
      theme="primary"
      variant="back"
      icon="back"
      (click)="onBackClick()"
    >
      {{ backLabel | translate }}
    </app-button>
    <h4
      class="modal-layout__title"
      [ngClass]="{
        'modal-layout__title_lighten': titleLighten,
        'modal-layout__title_secondary': titleSecondary
      }"
    >
      {{ modalTitle | translate }}
    </h4>
    <button
      *ngIf="hasClose"
      class="close modal-layout__close"
      type="button"
      aria-label="Close"
      (click)="onDecline()"
    >
      <span class="icon icon-ic_share_close d-flex align-self-center"></span>
    </button>
  </div>
  <div class="modal-layout__content">
    <ng-content></ng-content>
  </div>
  <div class="modal-layout__footer" *ngIf="confirmLabel">
    <app-button
      class="ml-auto"
      icon="tick"
      [size]="buttonSize"
      [disabled]="isDisabled"
      [loading]="loading"
      (click)="onConfirm()"
    >
      {{ confirmLabel | translate }}
    </app-button>
  </div>
</div>
