@import 'helpers/_helpers-master';

.list-project {
  background: $color-quaternary;
  @include card-box-shadow();
  padding: $padding;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 209px;
  width: 194px;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  margin: 0 30px 30px 0px;

  &__figure {
    background-color: $color-background-secondary;
    width: 100%;
    height: 130px;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    overflow-wrap: break-word;
    line-height: 24px;
    overflow: hidden;
    flex: 1 1 auto;
  }

  &__addIcon {
    position: relative;
    top: 70px;
    margin: 0 auto;
    width: 26px;
    height: 26px;
    margin-bottom: 44px;

    &:before,
    &:after {
      position: absolute;
      content: '';
      background: $color-quaternary;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:before {
      width: 100%;
      height: 2px;
    }

    &:after {
      width: 2px;
      height: 100%;
    }
  }

  &__addText {
    width: 100%;
    color: $color-quaternary;
    font-family: $font-family-tertiary;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.2px;
    line-height: 32px;
    text-align: center;
    position: absolute;
    bottom: 23px;
    left: 50%;
    transform: translateX(-50%);
  }
}