<div class="competency-modal__content">
    <div class="competency-modal__header">
        <h4 class="competency-modal__header-title">{{ 'OBJECTIVES.project_objectives_criteriawindow_curriculum' | translate }}</h4>
        <button type="button" class="close competency-modal__header-close" aria-label="Close" (click)="bsModalRef.hide()">
          <span class="icon icon-ic_share_close"></span>
        </button>
    </div>
    <div class="competency-modal__body">
        <h6 class="competency-modal__body-title">{{ 'OBJECTIVES.project_objectives_criteriawindow_title' | translate }}</h6>
        <div class="competency-modal__body-block">
            <div class="competency-modal__body-block-grade">
                <app-dropdown [config]='gradeDropdown' (onSelect)='onDropdownSelect($event)'></app-dropdown>
                <ng-scrollbar>
                    <div class="competency-modal__body-scroll" [ngStyle]="{ 'max-height' : leftContentHeight }">
                        <div class="custom-tab">
                            <button class="custom-tab__links active" (click)="openTab($event,'custom-tab__content1')">
                                <strong class="custom-tab__links-index">1.</strong>
                                <span class="custom-tab__links-label">Tecnologías de la información y de la comunicación</span>
                                <strong class="custom-tab__links-selected">3</strong>
                                <span class="custom-tab__links-icon icon-ic_check"></span>
                            </button>
                            <button class="custom-tab__links" (click)="openTab($event,'custom-tab__content2')">
                                <strong class="custom-tab__links-index">2.</strong>
                                <span class="custom-tab__links-label">Control y robótica</span>
                            </button>
                            <button class="custom-tab__links" (click)="openTab($event,'custom-tab__content3')">
                                <strong class="custom-tab__links-index">3.</strong>
                                <span class="custom-tab__links-label">Control y robótica</span>
                            </button>
                            <button class="custom-tab__links" (click)="openTab($event,'custom-tab__content4')">
                                <strong class="custom-tab__links-index">4.</strong>
                                <span class="custom-tab__links-label">Control y robótica</span>
                            </button>
                            <button class="custom-tab__links" (click)="openTab($event,'custom-tab__content5')">
                                <strong class="custom-tab__links-index">5.</strong>
                                <span class="custom-tab__links-label">Neumática e hidráulica</span>
                            </button>
                            <button class="custom-tab__links" (click)="openTab($event,'custom-tab__content6')">
                                <strong class="custom-tab__links-index">6.</strong>
                                <span class="custom-tab__links-label">Tecnología y sociedad</span>
                                <strong class="custom-tab__links-selected">3</strong>
                                <span class="custom-tab__links-icon icon-ic_check"></span>
                            </button>
                            <button class="custom-tab__links" (click)="openTab($event,'custom-tab__content7')">
                                <strong class="custom-tab__links-index">7.</strong>
                                <span class="custom-tab__links-label">Tecnología y sociedad</span>
                                <strong class="custom-tab__links-selected">3</strong>
                                <span class="custom-tab__links-icon icon-ic_check"></span>
                            </button>
                            <button class="custom-tab__links" (click)="openTab($event,'custom-tab__content8')">
                                <strong class="custom-tab__links-index">8.</strong>
                                <span class="custom-tab__links-label">Tecnología y sociedad</span>
                                <strong class="custom-tab__links-selected">3</strong>
                                <span class="custom-tab__links-icon icon-ic_check"></span>
                            </button>
                        </div>
                    </div>
                </ng-scrollbar>
            </div>
            <div class="competency-modal__body-criteria">
                <div id="custom-tab__content1" class="custom-tab__content active">
                    <div class="custom-tab__content-body">
                        <app-table-row [isHead]="true" [checkbox]="false" [cellData]="rowHeadData"></app-table-row>
                        <ng-scrollbar>
                            <div class="custom-tab__content-body-scroll" [ngStyle]="{ 'height' : contentHeight }">
                                <app-table-row [checkbox]="true" [cellData]="rowData" [parentID]="'custom-tab__content1'" (count)="getStatus($event)"></app-table-row>
                                <app-table-row [checkbox]="true" [cellData]="rowData" (count)="getStatus($event)"></app-table-row>
                                <app-table-row [checkbox]="true" [cellData]="rowData" (count)="getStatus($event)"></app-table-row>
                                <app-table-row [checkbox]="true" [cellData]="rowData" (count)="getStatus($event)"></app-table-row>
                                <app-table-row [checkbox]="true" [cellData]="rowData" (count)="getStatus($event)"></app-table-row>
                                <app-table-row [checkbox]="true" [cellData]="rowData" (count)="getStatus($event)"></app-table-row>
                                <app-table-row [checkbox]="true" [cellData]="rowData" [isLastRow]="true" (count)="getStatus($event)"></app-table-row>
                            </div>
                        </ng-scrollbar>
                    </div>
                </div>
                <div id="custom-tab__content2" class="custom-tab__content">
                    <div class="custom-tab__content-body">
                        <app-table-row [isHead]="true" [checkbox]="false" [cellData]="rowHeadData"></app-table-row>
                        <ng-scrollbar>
                            <div class="custom-tab__content-body-scroll" [ngStyle]="{ 'height' : contentHeight }">
                                <app-table-row [checkbox]="true" [cellData]="rowData"></app-table-row>
                                <app-table-row [checkbox]="true" [cellData]="rowData"></app-table-row>
                                <app-table-row [checkbox]="true" [isLastRow]="true" [cellData]="rowData"></app-table-row>
                            </div>
                        </ng-scrollbar>
                    </div>
                </div>
                <div id="custom-tab__content3" class="custom-tab__content">
                    <div class="custom-tab__content-body">
                        <h3>4</h3>
                        <p>London is the capital city of England.</p>
                    </div>
                </div>
                <div id="custom-tab__content4" class="custom-tab__content">
                    <div class="custom-tab__content-body">
                        <h3>4</h3>
                        <p>London is the capital city of England.</p>
                    </div>
                </div>
                <div id="custom-tab__content5" class="custom-tab__content">
                    <div class="custom-tab__content-body">
                        <h3>5</h3>
                        <p>London is the capital city of England.</p>
                    </div>
                </div>
                <div id="custom-tab__content6" class="custom-tab__content">
                    <div class="custom-tab__content-body">
                        <h3>6</h3>
                        <p>London is the capital city of England.</p>
                    </div>
                </div>
                <div id="custom-tab__content7" class="custom-tab__content">
                    <div class="custom-tab__content-body">
                        <h3>7</h3>
                        <p>London is the capital city of England.</p>
                    </div>
                </div>
                <div id="custom-tab__content8" class="custom-tab__content">
                    <div class="custom-tab__content-body">
                        <h3>8</h3>
                        <p>London is the capital city of England.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="competency-modal__footer">
        <div class="competency-modal__footer-btn-group">
            <a href="javascript:void(0);" class="competency-modal__footer-btn-link">{{ 'OBJECTIVES.project_objectives_criteriawindow_showall' | translate }} (6)</a>
            <button class="btn btn-primary competency-modal__footer-btn-submit"> <span class="icon icon-ic_check"></span>{{ 'OBJECTIVES.project_objectives_criteriawindow_add' | translate }}</button>
        </div>
    </div>
</div>
