<div class="project-editor__form step-eight">
    <app-status [status]='step.state'></app-status>
    <div class="project-form">
        <h1 class="title_s"><span>8. </span>Producto final<app-info-tooltip></app-info-tooltip>
        </h1>
        <p class="project-form__description">
            El producto es el resultado, tangible o no, de los aprendizajes de tu alumnado a través del proyecto.
            Refleja <em>qué serán</em> capaces de hacer los alumnos con los aprendizajes que adquirirán.
        </p>
        <app-textarea [(value)]="finalProduct" (onChange)="onValueChange($event)"></app-textarea>
        <app-form-button scrollTo scrollToId="stepNine" [config]='buttonConfig' (onClick)='handleSubmit("DONE")'>
        </app-form-button>
    </div>
</div>