<div class="project-editor__form step-eight" id="step-eight">
  <app-step-status
    id="step-eight-status"
    [status]="step.state"
  ></app-step-status>
  <div class="project-form d-flex flex-column justify-content-between">
    <div>
      <h1 class="project-form__title title_s">
        <span class="project-form__title-number">8.</span
        >{{ 'FINAL_PRODUCT.project_finalproduct_title' | translate }}
        <app-info-tooltip id="step-eight-info-tool-tip"></app-info-tooltip>
      </h1>
      <p
        class="project-form__description"
        [innerHTML]="
          'FINAL_PRODUCT.project_finalproduct_description' | translate
        "
      ></p>
      <app-textarea
        id="step-eight-textarea"
        placeholder="{{
          'FINAL_PRODUCT.project_finalproduct_placeholder' | translate
        }}"
        [maxLength]="500"
        [value$]="finalProduct$"
        (inputChange)="onValueChange($event)"
      ></app-textarea>
    </div>
    <app-button
      id="step-eight-button"
      [disabled]="buttonConfig.disabled"
      [theme]="buttonConfig.submitted ? 'success' : 'primary'"
      [icon]="'tick'"
      (click)="handleSubmit('DONE')"
    >
      {{
        (buttonConfig.submitted
          ? buttonConfig.successLabel
          : buttonConfig.label
        ) | translate
      }}
    </app-button>
  </div>
</div>
