<div class="principal-modal__content">
  <div class="principal-modal__header">
    <h4 *ngIf="showPrimaryView else return" class="principal-modal__header-title">
      {{ subjectTitle | translate }}
      {{ subject.name }}
    </h4>
    <ng-template #return>
      <div class="principal-modal__header__summary-title">
        <h4 class="principal-modal__header-title" (click)="togglePrimaryView()">
          <span class="icon icon-ic_back principal-modal__header__icon"></span>
          {{ summaryTitle | translate }}
        </h4>
      </div>
    </ng-template>
    <button
      *ngIf="showPrimaryView"
      class="close principal-modal__header-close"
      type="button"
      aria-label="Close"
      (click)="onDecline()"
    >
      <span class="icon icon-ic_share_close"></span>
    </button>
  </div>
  <app-loader *ngIf="serviceData?.loading$ | async"></app-loader>
  <div *ngIf="showPrimaryView else summary" class="principal-modal__body">
    <h6 class="principal-modal__body-title">
      {{ bodyTitle | translate }}
    </h6>
    <div class="principal-modal__body-block">
      <div class="principal-modal__body-block-grade">
        <app-dropdown
          [config]='gradeDropdownConfig'
          [label]='gradeDropdownConfig.label | translate'
          (dropdownSelect)='serviceData.getBlocks($event.val[0]);changeCurrentBlock(0)'
          [canDeselect]="false"
        ></app-dropdown>
        <ng-scrollbar class="custom-scrollbar">
          <div class="principal-modal__body-scroll">
            <div *ngIf="!(serviceData.blocks?.length === 1 && serviceData.blocks[0]?.virtual)" class="custom-tab">
              <button
                *ngFor="let block of serviceData.blocks; let index = index;"
                class="custom-tab__links"
                [ngClass]="{ active: this.currentBlockIndex === index }"
                (click)="changeCurrentBlock(index)"
              >
                <strong class="custom-tab__links-index">{{ block.blockIndex }}. </strong>
                <span class="custom-tab__links-label">{{ block.name }}</span>
                  <span *ngIf="block[serviceData.modalColumns.colOneHead?.key] | checkCount" class="d-flex ml-auto" >
                    <strong class="custom-tab__links-selected">
                      {{ block[serviceData.modalColumns.colOneHead?.key] | checkCount }}
                    </strong>
                  <span class="custom-tab__links-icon icon-ic_check"></span>
                </span>
              </button>
            </div>
          </div>
        </ng-scrollbar>
      </div>
      <div class="principal-modal__body-criteria">
        <div
          *ngFor="let block of serviceData.blocks; let index = index;"
          class="custom-tab__content"
          [ngClass]="{ active: currentBlockIndex === index }"
        >
          <div class="custom-tab__content-body">
            <app-checkbox
              [isHead]="true"
              [checkboxData]="false"
              [colOne]="{value: serviceData.modalColumns.colOneHead?.value }"
              [colTwo]="block.colTwoHead === serviceData.modalColumns.colTwoHead?.value ? {
                value: block.colTwoHead,
                size: 'sm'
              } : null"
            >
            </app-checkbox>
            <ng-scrollbar class="custom-scrollbar">
              <div class="custom-tab__content-body-scroll">
                <app-checkbox
                *ngFor="let column of block[serviceData.modalColumns.colOneHead?.key]"
                [checkboxData]="column"
                [colOne]="{ value: column.colOneData }"
                [colTwo]="block.colTwoHead === serviceData.modalColumns.colTwoHead?.value ?
                { value: column.colTwoData, size: 'sm' } : null"
                [parentID]="block.id"
                ></app-checkbox>
              </div>
            </ng-scrollbar>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Summary view -->
  <ng-template #summary>
    <app-secondary-view
      [blockData]="serviceData.blockData"
      [heading]="serviceData.heading"
      [modalColumns]="modalColumns"
      [selectedItemText]="selectedItemText"
      [emptyTitle]="emptyTitle"
      [emptyDescription]="emptyDescription"
      [emptyButtonText]="emptyButtonText"
      (getPrimary)="togglePrimaryView()"
    ></app-secondary-view>
  </ng-template>
  <div class="principal-modal__footer">
    <div class="principal-modal__footer-btn-group">
      <div class="principal-modal__footer-btn-link" (click)="togglePrimaryView()" *ngIf="showPrimaryView">
        {{ countText | translate }}
        ({{ (serviceData.blockData | checkCount: serviceData.modalColumns?.colOneHead?.key) || 0 }})
      </div>
      <app-button
        class="ml-auto"
        icon="tick"
        [disabled]="!(blockData | checkCount: serviceData.modalColumns?.colOneHead?.key)"
        (click)="handleButtonClick()"
      >
        {{ addButtonText | translate }}
      </app-button>
    </div>
  </div>
</div>
