<div
  class="card-experience p-5 mb-6 d-flex flex-column"
  [routerLink]="'../../project/' + data.id + '/1'"
  [attr.data-project-id]="data.id"
>
  <div
    class="card-experience__figure mb-3"
    [ngClass]="{
      'card-experience__figure_empty bg-light': !data.creativeImage
    }"
  >
    <img
      *ngIf="data.creativeImage"
      class="card-experience__image"
      [src]="data.creativeImage"
      alt="{{ data.title }}"
    />
  </div>

  <span
    class="icon icon-ic_notification card-experience__notification"
    *ngIf="notification"
    ><span class="path1"></span><span class="path2"> </span>
  </span>

  <div class="card-experience__title-section">
    <div class="card-experience__type mb-1">
      {{
        data?.type === 'PROJECT'
          ? 'PROYECTO'
          : data?.type === 'ACTIVITY'
          ? 'ACTIVIDAD'
          : 'UNIDAD DIDACTICA'
      }}
    </div>
    <div class="card-experience__title">
      {{ data.title }}
    </div>
  </div>

  <div class="card-experience__bottom-wrapper d-flex align-items-center">
    <div
      class="card-experience__status mr-3 mt-2"
      [ngClass]="{
        'card-experience__status_inprogress': status === 'inprogress',
        'card-experience__status_draft': status === 'draft',
        'card-experience__status_readonly': status === 'readonly',
        'card-experience__status_done': status === 'done'
      }"
    >
      {{
        (status === 'inprogress'
          ? 'PRIVATEHOME_CARD.home_card_experience_state_inprogress'
          : status === 'draft'
          ? 'PRIVATEHOME_CARD.home_card_experience_state_draft'
          : status === 'readonly'
          ? 'PRIVATEHOME_CARD.home_card_experience_state_readonly'
          : status === 'done'
          ? 'PRIVATEHOME_CARD.home_card_experience_state_done'
          : ''
        ) | translate
      }}
    </div>
    <span class="icon-ic_musica card-experience__icon mt-2"></span>
    <span class="icon-ic_matemticas card-experience__icon mt-2"></span>
    <span class="icon-ic_tecnologa card-experience__icon mt-2"></span>
  </div>
</div>
