@import 'helpers/_helpers-master';
@import 'variables/_variables-master';

.card-experience {
  background: color(quaternary);
  @include card-box-shadow;
  border-radius: 4px;
  width: 100%;
  position: relative;
  cursor: pointer;
  padding: 24px;
  &__figure {
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
    position: relative;

    &:after {
      display: block;
      content: '';
      padding-bottom: 44.73%;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title-section {
    margin-bottom: 8px;
    flex: 1 0 auto;
    overflow-wrap: break-word;
  }

  &__title {
    overflow: hidden;
    font-size: font-size(body);
    line-height: 28px;
    font-weight: 900;
    letter-spacing: 0.2px;
    min-height: 56px;
  }

  &__type {
    font-weight: 700;
    font-family: font-family(secondary);
    line-height: 24px;
    letter-spacing: 1px;
    opacity: 0.5;
    text-transform: uppercase;
  }

  &__status {
    font-family: font-family(secondary);
    font-weight: 700;
    letter-spacing: 0.39px;
    line-height: 20px;
    border-radius: 15.5px;
    text-transform: uppercase;
    padding: 5px 12px;
    max-width: 140px;
    overflow: hidden;
    overflow-wrap: break-word;

    &_inprogress {
      background-color: rgba(pantone(hollywood-Cerise), 0.2);
    }

    &_draft {
      background-color: rgba(pantone(cerulean-Blue), 0.2);
    }

    &_readonly {
      background-color: rgba(pantone(orange-Peel), 0.2);
    }

    &_done {
      background-color: rgba(pantone(Deep-Sky-Blue), 0.3);
    }
  }

  &__notification {
    position: absolute;
    top: 26px !important;
    right: 26px !important;
    font-size: font-size(s);
    transform: translate(50%, -50%);
  }

  &__icon {
    font-size: font-size(s);
    margin-right: 8px;
  }

  &__bottom-wrapper {
    flex-wrap: wrap;
  }
}

:host {
  display: flex;
}
