@import '../../../../../assets/helpers/_helpers-master';

.project-title{
    padding: 0px 30px;
    &__input,&__text{
    color:$blue-whale;
    font-family: $font-family-pt-sans;
    font-size: $font-size-default;
    font-weight: bold;
    letter-spacing: 0;
    line-height: $line-height-24px;
    padding: 6px 0;
    border: none;
    border-bottom: 1px solid $black;
    }
  
  &__input {
    max-width: 212px;
  }
  
  &__text {
    float: left;
    margin:0;
    border-color: transparent;
  }
  &__edit{
    font-size: $font-size-large;
    margin: 0 24px;
    opacity: 0.4;
  }
}
