<div class="project-title d-flex align-items-center">
  <div class="project-title__input">
    {{this.projectData?.title || tempTitle}}
  </div>
  <div class="icon-ic_edit_small project-title__edit" (click)="openModal()" *ngIf="projectData">
  </div>
</div>
<ng-template #titleModal>
  <app-modal-form 
    [variant]="'input'"
    [title]="modalTitle"
    [confirmLabel]="modalConfirmLabel"
    [data]="projectData?.title ? this.projectData?.title : ''"
    [maxLength]="maxLength"
    (decline)="declineModal()"
    (confirm)="confirmModal($event)"
  ></app-modal-form>
</ng-template>