//unordered list styles
.bullet-list{
    list-style: none;
    padding-left: $padding;
    margin-bottom: 44px;
    font-size: $font-size-body;
    & > li{
        padding-left: 20px;
        margin-bottom: 16px;
        position: relative;
        &:before{
            content: "\e905";
            position:absolute;
            font-family: 'icomoon' !important;
            font-size: 1.6rem;
            left: -10px;
            top: -5px;
            color: $color-primary;
        }
    }
}