//Common body content styles
p,
p em,
a {
  font-family: font-family(tertiary);
  font-size: font-size(default);
  letter-spacing: 0;
  line-height: 24px;
}

p {
  margin-bottom: grid-gutter(primary) / 2;
}

//Highlight content
blockquote {
  position: relative;
  padding-left: 24px;
  margin: 24px 0;
  @extend .title_xs;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: $primary;
  }

  @include media-breakpoint-down(md) {
    margin: 28px 0;
  }
}
