.title {
  &_l {
    font-family: font-family(primary);
    font-size: font-size(l);
    line-height: 48px;
    letter-spacing: 0.2px;
    font-weight: 900;
  }

  &_m {
    font-family: font-family(primary);
    font-size: font-size(m);
    line-height: 34px;
    letter-spacing: 0.3px;
    font-weight: 900;
  }

  //Font size and styles common for both Mobile and Desktop
  &_s {
    font-family: font-family(primary);
    font-size: font-size(s);
    line-height: 32px;
    letter-spacing: 0.3px;
    font-weight: 900;
  }

  &_xs {
    font-family: font-family(tertiary);
    font-size: font-size(xs);
    line-height: 36px;
    letter-spacing: 0.3px;
    font-weight: 700;
  }

  &_default {
    font-family: font-family(secondary);
    font-size: font-size(default);
    color: color(blue-whale);
    font-weight: 900;
    opacity: 0.6;
    letter-spacing: 1px;
    line-height: 24px;
    text-transform: uppercase;
  }

  &_primary {
    font-family: font-family(primary);
  }

  &_secondary {
    font-family: font-family(secondary);
    font-weight: 700;
  }

  &_grey {
    color: rgba(color(tertiary), 0.6);
  }

  &_upper-case {
    text-transform: uppercase;
  }

  &_inline {
    display: inline;
  }
}
