@mixin button-style($color :$primary-font-color) {
    letter-spacing: 1px;
    line-height: 24px;
    font-size: $font-size-button;
    color: $color;
    text-transform: uppercase;
    font-weight: 700;
    font-family: $font-family-secondary;
}

@mixin mobile-m($color :$primary-font-color) {
    font-size: $font-size-m-mob;
    font-family: $font-family-primary;
    font-weight: 900;
    line-height: 36px;
    color: $color;
    letter-spacing: normal;
}

@mixin link-style($type:"normal") {
    font-weight: 900;

    @if $type=="normal" {
        color: $link-color;
        border-bottom: 1px solid $link-color;

        @include hover() {
            border-bottom: 1px solid $link-hover-color;
            color: $link-hover-color;
        }
    }
    @else if $type=="footer" {
        color: $footer-link-color;
        border-bottom: 1px solid $footer-link-color;
    }
}

$site-sizes: 10;

@mixin margin-classes {
  @for $i from 1 through $site-sizes {
     $margin: $i * 5px;
    /* margin #{$margin} */
    .m-#{$i}  {margin: $margin;}
    .ml-#{$i} {margin-left: $margin;}
    .mr-#{$i} {margin-right: $margin;}
    .mt-#{$i} {margin-top: $margin;}
    .mb-#{$i} {margin-bottom: $margin;}
    .mx-#{$i} {margin-left: $margin; margin-right: $margin;}
    .my-#{$i} {margin-top: $margin; margin-bottom: $margin;}
  }
}
@include margin-classes;


@mixin padding-classes {
  @for $i from 1 through $site-sizes {
    $padding: $i * 5px;
    /* padding #{$padding} */
    .p-#{$i} {padding: $padding;}
    .pl-#{$i} {padding-left: $padding;}
    .pr-#{$i} {padding-right: $padding;}
    .pt-#{$i} {padding-top: $padding;}
    .pb-#{$i} {padding-bottom: $padding;}
    .px-#{$i} {padding-left: $padding; padding-right: $padding;}
    .py-#{$i} {padding-top: $padding; padding-bottom: $padding;}
  }
}







 
