<div class="creation__exercises mb-7">
  <div class="d-flex justify-content-between align-items-center mb-2">
    <h2 class="creation__title">
      {{ title | translate }}
    </h2>
    <span (click)="onClick()" class="icon icon-ic_more creation__icon"></span>
  </div>
  <div class="d-flex align-items-center mb-4">
    <span class="icon icon-ic_doc2 creation__icon_star"></span>
    <span class="creation__subtitle mr-2">
      {{ subtitle | translate }}
    </span>
    <span class="icon icon-ic_separador mr-2"></span>
    <span class="creation__subtitle">
      {{ subtitleKey | translate }}
      <em> {{ subtitleValue | translate }}</em></span
    >
  </div>
  <p class="mb-5">
    {{ description | translate }}
  </p>
  <div class="mb-5" *ngIf="materials?.length">
    <ng-container *ngFor="let material of materials">
      <app-material-card
        [label]="material.fileType"
        [title]="material.title"
        variant="FORM"
        size="medium"
        [canDelete]="false"
      ></app-material-card>
    </ng-container>
  </div>
</div>
