@import 'helpers/_helpers-master';

.creation {
  &__title {
    font-weight: 900;
    font-size: $font-size-body;
    letter-spacing: 0.2px;
    line-height: 28px;
  }
  &__exercises {
    background-color: $color-quaternary;
    width: 100%;
    border-radius: 3px;
    @include card-box-shadow();
    padding: 20px 32px 11px 32px;
    position: relative;
  }
  &__icon {
    opacity: 0.5;
    &_star {
      opacity: 0.4;
      margin-right: 11px;
    }
  }
  &__subtitle {
    line-height: 14px;
    letter-spacing: 0.16px;
    font-weight: 900;
    opacity: 0.5;
    position: relative;
    &:not(:last-child):after {
      content: '';
      position: absolute;
      height: 20px;
      width: 1px;
      border-left: 1px dotted #bbbbbb;
      right: -15px;
    }
  }
}
