<header class="header">
  <div class="container-fluid header__wrapper">
    <div class="header__file">
      <span class="header__file-name">{{ filename }}</span>
    </div>
    <div class="header__page" *ngIf="!loading">
      <span class="header__page-current">{{ currentPage }}</span>/<span class="header__page-total">{{ totalPages }}</span>
    </div>
    <div class="header__toolbar">
      <div class="header__toolbar-zoom">
        <app-button [variant]="'icon'" [icon]="'zoomIn'" (click)="zoom('increment')" [disabled]="zoomAmt >= zoomMax"></app-button>
        <app-button [variant]="'icon'" [icon]="'zoomOut'" (click)="zoom('decrement')" [disabled]="zoomMin >= zoomAmt"></app-button>
      </div>
      <app-button [size]="'small'" [theme]="'success'" [icon]="'download'" (click)="onDownload($event)" [disabled]="loading">{{ "PROGRAMACION.output_button_download" | translate}}</app-button>
      <app-button [size]="'small'" [theme]="'success'" [icon]="'print'" (click)="onPrint($event)" [disabled]="loading">{{ "PROGRAMACION.output_button_print" | translate}}</app-button>
    </div>
  </div>
</header>
