<div class="menu" [ngClass]="{
    'menu_inprocess' : this.step.state === 'INPROCESS',
    'menu_done': this.step.state == 'DONE'}" [routerLink]="[this.step.stepid]" [routerLinkActive]="['menu_active']">
  <div class="menu__wrapper" *ngIf="this.step.state === 'DONE'">
    <span class="menu__step">
      <span class="icon icon-ic_check"></span>
    </span>
  </div>
  <div class="menu__wrapper" *ngIf="this.step.state !== 'DONE'">
    <span class="menu__step">
      {{this.step.stepid}}.
    </span>
  </div>
  {{this.step.name}}
</div>