@import 'helpers/_helpers-master';
.menu{
  font-family: $font-family-tertiary;
  font-size: $font-size-body-s;
  color: rgba($color-tertiary,0.5);
  font-weight: normal;
  letter-spacing: 0.16px;
  line-height: 34px;
  position: relative;
  margin-bottom: 10px;
  cursor: pointer;
  &__step{
    position: absolute;
    left: 50%;
    transform:translateX(-50%);
    top:3px;
  }
  &_inprocess,&_done{
    color: $color-tertiary;
    font-weight: normal;
  }
  &_active{
    color: $color-tertiary;
    font-weight: bold;
  }
  .icon-ic_check{
    position: absolute;
    color: $color-secondary;
    font-size: $font-size-xs;
    left: -10px;
    top: 4px;
  }
  &__wrapper{
    position: relative;
    width: 15px;
    height: 25px;
    margin-right: 4px;
    display: inline-flex;
  }
}


