<div class="editable-list" *ngIf="list?.length">
  <ul
    class="editable-list__list"
    [ngClass]="{
      'numbered-list': variant == 'number'
    }"
  >
    <ng-container *ngFor="let item of list; let i = index">
      <li class="editable-list__item">
        <div
          class="editable-list__text"
          [ngClass]="{ 'ml-2': variant === 'number' }"
        >
          {{ item.name }}
        </div>
        <div class="editable-list__icon d-flex align-items-center">
          <div
            class="editable-list__icon-edit"
            (click)="openEditModal(item.name, i)"
          >
            <span class="icon icon-ic_edit_small"></span>
          </div>
          <div class="editable-list__icon-close" (click)="openDeleteModal(i)">
            <span class="icon icon-ic_share_close"></span>
          </div>
        </div>
      </li>
    </ng-container>
  </ul>
</div>

<ng-template #editModal>
  <app-modal-form
    variant="textarea"
    [title]="editModalTitle"
    [label]="editModalLabel"
    [confirmLabel]="editModalbuttonLabel"
    [helperText]="helperText"
    [errorText]="errorText"
    [data]="editString"
    [maxLength]="maxLength"
    (decline)="declineEditModal()"
    (confirm)="confirmEditModal($event)"
  ></app-modal-form>
</ng-template>

<ng-template #deleteModal>
  <app-modal-info
    variant="delete"
    theme="secondary"
    [appearance]="'default'"
    [modalTitle]="deleteModalTitle"
    [description]="deleteModalDescription"
    [confirmLabel]="deleteModalbuttonLabel"
    (decline)="declineDeleteModal()"
    (confirm)="confirmDeleteModal()"
  ></app-modal-info>
</ng-template>
