<div
  *ngIf="colOne"
  class="table-row"
  [ngClass]="{ 'table-row__head' : isHead, 'selected' : checkboxData.checked && !checkedOnly}"
  (click)="onCheck()"
>
  <div class="table-row__cell" [ngClass]="{
    'table-row__cell_xs' : colOne.size === 'xs',
    'table-row__cell_m' : colOne.size === 'm',
    'table-row__cell_sm' : colOne.size === 'sm',
    'table-row__cell_s' : colOne.size === 's'}">
    <div *ngIf="checkboxData" class="table-row__box">
      <input class="table-row__checkbox" type="checkbox" [(ngModel)]="checkboxData.checked" (click)="onCheck()">
      <span class="icon-ic_check table-row__checkmark"></span>
    </div>
    <span class="table-row__desc">{{colOne.value | translate}}</span>
  </div>
  <div *ngIf="colTwo" class="table-row__cell" [ngClass]="{
    'table-row__cell_xs' : colTwo.size === 'xs',
    'table-row__cell_m' : colTwo.size === 'm',
    'table-row__cell_sm' : colTwo.size === 'sm',
    'table-row__cell_s' : colTwo.size === 's'}">
    <span class="table-row__desc">{{colTwo.value | translate}}</span>
  </div>
  <div *ngIf="colThree" class="table-row__cell" [ngClass]="{
    'table-row__cell_xs' : colThree.size === 'xs',
    'table-row__cell_m' : colThree.size === 'm',
    'table-row__cell_sm' : colThree.size === 'sm',
    'table-row__cell_s' : colThree.size === 's'}">
    <span class="table-row__desc">{{colThree.value | translate}}</span>
  </div>
  <div *ngIf="colFour" class="table-row__cell" [ngClass]="{
    'table-row__cell_xs' : colFour.size === 'xs',
    'table-row__cell_m' : colFour.size === 'm',
    'table-row__cell_sm' : colFour.size === 'sm',
    'table-row__cell_s' : colFour.size === 's'}">
    <span class="table-row__desc">{{colFour.value | translate}}</span>
  </div>
</div>
