<div
  class="table-row table-row-{{colCount}}"
  [ngClass]="{ 'table-row__head' : isHead, 'selected' : isChecked, 'last-row' : isLastRow}"
>
  <div
    *ngFor='let data of cellData; let indexVal = index;let isFirst = first;'
    class="table-row__cell"
  >
    <div *ngIf="checkbox && isFirst" class="table-row__box">
      <label>
        <input
          class="table-row__checkbox"
          type="checkbox"
          [(ngModel)]="isChecked"
          (change)="onChange(inputCheck.checked)"
          #inputCheck
        >
        <span class="icon-ic_check table-row__checkmark"></span>
      </label>
    </div>
    <span class="table-row__desc">{{ data.list }}</span>
  </div>
</div>
