@import 'helpers/_bt-mixins';
@import 'variables/_variables-master';

.project-editor-sidebar {
  background: color(quaternary);
  top: 75px;
  width: 236px;
  min-width: 236px;
  position: fixed;
  left: 0;
  height: 100%;
  padding: 28px spacing(primary) * 2;
  overflow: hidden;
  &__title,
  &__view {
    font-family: font-family(tertiary);
    font-size: font-size(body-s);
    color: rgba(color(tertiary), 0.5);
    font-weight: bold;
    letter-spacing: 0.16px;
    line-height: 32px;
    margin-bottom: 15px;
  }
  &__view {
    color: color(tertiary);
    position: relative;
    padding-left: 24px;
    &::after {
      content: '';
      position: absolute;
      width: 120px;
      bottom: 2px;
      left: 25px;
      height: 1px;
      background: color(tertiary);
    }
  }
  &__icon {
    font-size: 24px;
    position: absolute;
    left: -3px;
    top: 50%;
    transform: translateY(-50%);
  }

  @include media-breakpoint-up(xxl) {
    width: 14.5%;
    max-width: 280px;
  }
}
