<div class="profile" *ngIf="!loading">
  <app-curious-sidebar
    [title]="'PROFILE.profile_setup_menu_title'"
    [stepData]="userService.profileStepdata"
  ></app-curious-sidebar>
  <div class="profile__form">
    <div class="profile__step" *ngIf="!userService.profileCompleted">
      <app-user-details-form
        *ngIf="userService.currentStep.value === 'USER_DETAILS'"
      ></app-user-details-form>
      <app-education-center-form
        *ngIf="userService.currentStep.value === 'EDUCATIONAL_CENTER'"
      ></app-education-center-form>
      <app-workplace-form
        *ngIf="userService.currentStep.value === 'WORKPLACE'"
      ></app-workplace-form>
      <div
        class="profile__submit"
        [class]="
          userService.currentStep.stepIndex === firstStepIndex
            ? 'justify-content-end'
            : 'justify-content-between'
        "
      >
        <app-button
          *ngIf="userService.currentStep.stepIndex != firstStepIndex"
          theme="primary"
          variant="back"
          icon="left"
          class="profile__back-button"
          (click)="goToStep(userService.currentStep.stepIndex - 1)"
        >
          {{ 'PROFILE.Previous' | translate }}
        </app-button>
        <app-button
          buttonType="submit"
          theme="primary"
          variant="block"
          class="profile__submit-button"
          [loading]="buttonLoading"
          [disabled]="
            !userService.profileStepdata[userService.currentStep.stepIndex]
              .valid
          "
          (click)="handleCurrentFormSubmit()"
        >
          {{
            (userService.currentStep.stepIndex === lastStepIndex
              ? 'PROFILE.Finish'
              : 'PROFILE.Next'
            ) | translate
          }}
        </app-button>
      </div>
    </div>
    <div *ngIf="userService.profileCompleted">
      <app-profile-confirm></app-profile-confirm>
      <app-button
        buttonType="submit"
        theme="primary"
        variant="contained"
        class="profile__confirm-button"
        [routerLink]="['/']"
      >
        {{ 'PROFILE.profile_setup_confirmpage_button' | translate }}
      </app-button>
    </div>
  </div>
  <picture class="profile__layout">
    <img
      src="../assets/images/profile-edit-top-left@2x.png"
      alt="top-left-shape"
      class="profile__layout__mask profile__layout__mask_top-left"
    />
    <img
      src="../assets/images/profile-edit-top-right@2x.png"
      alt="top-right-shape"
      class="profile__layout__mask profile__layout__mask_top-right d-md-none d-lg-block"
    />
    <img
      src="../assets/images/profile-edit-bottom@2x.png"
      alt="bottom-shape"
      class="profile__layout__mask profile__layout__mask_bottom"
    />
    <img
      src="../assets/images/thinko_logo.svg"
      alt="mask-logo"
      class="profile__layout__mask profile__layout__mask_logo"
    />
  </picture>
</div>
<app-loader *ngIf="loading"></app-loader>
