<header class="project-editor-header">
  <div class="container-fluid d-flex align-items-center">
    <div class="app-logo">
      <a class="app-logo__link" (click)="onListClick('home')">
        <img
          class="app-logo__img"
          src="../assets/images/thinko_logo.svg"
          alt="thinko"
        />
      </a>
    </div>
    <app-project-title
      id="project-title"
      [maxLength]="70"
      [projectData]="projectData"
      (titleSubmit)="handleTitleSubmit($event)"
    ></app-project-title>
    <div class="project-editor-header__collapse">
      <nav class="project-editor-header__nav">
        <!-- navigation list -->
        <ul class="project-editor-header__menu-list">
          <li
            class="project-editor-header__menu-item"
            (click)="onListClick('/1')"
            [ngClass]="getActiveRoute() === 'editor' ? 'active' : ''"
          >
            <span class="project-editor-header__menu-link">
              {{ labels.structure | translate }}
            </span>
          </li>
          <li
            class="project-editor-header__menu-item"
            (click)="onListClick('/activities')"
            [ngClass]="getActiveRoute() === 'activities' ? 'active' : ''"
          >
            <span class="project-editor-header__menu-link">
              {{ labels.activities | translate }}
            </span>
          </li>
          <li
            class="project-editor-header__menu-item"
            (click)="onListClick('/calendar', env.name === 'prd')"
          >
            <span
              class="project-editor-header__menu-link"
              [ngClass]="{
                'project-editor-header__menu-link_disabled': env.name === 'prd'
              }"
              ><span class="cone_icon" *ngIf="env.name === 'prd'"></span>
              {{ labels.calendar | translate }}
            </span>
          </li>
          <li
            class="project-editor-header__menu-item"
            (click)="onListClick('/people', env.name === 'prd')"
            [ngClass]="getActiveRoute() === 'people' ? 'active' : ''"
          >
            <span
              class="project-editor-header__menu-link"
              [ngClass]="{
                'project-editor-header__menu-link_disabled': env.name === 'prd'
              }"
              ><span class="cone_icon" *ngIf="env.name === 'prd'"></span>
              {{ labels.people | translate }}
            </span>
          </li>
          <li
            class="project-editor-header__menu-item"
            (click)="onListClick('/evaluation', env.name === 'prd')"
            [ngClass]="getActiveRoute() === 'evaluation' ? 'active' : ''"
          >
            <span
              class="project-editor-header__menu-link"
              [ngClass]="{
                'project-editor-header__menu-link_disabled': env.name === 'prd'
              }"
            >
              <span class="cone_icon" *ngIf="env.name === 'prd'"></span>
              {{ labels.evaluation | translate }}
            </span>
          </li>
        </ul>
      </nav>
    </div>
    <div class="project-editor-header__toolbar">
      <app-button
        [size]="'small'"
        [theme]="'success'"
        [icon]="stepOneStatus === 'DONE' ? 'three-shape' : 'locked'"
        (click)="onClick(projectData.id, $event)"
        >{{ labels.buttonLabel | translate }}</app-button
      >
    </div>
  </div>
</header>

<ng-template #modalUnlock>
  <app-modal-info
    id="step-four-modal-info"
    [variant]="'unlock'"
    modalTitle="PROGRAMACION.output_dependancy_title"
    [description]="'PROGRAMACION.output_dependancy_description'"
    [confirmLabel]="'PROGRAMACION.output_dependancy_button'"
    (confirm)="confirmModalUnlock()"
    (decline)="declineModal()"
  ></app-modal-info>
</ng-template>

<ng-template #modalSoon>
  <app-modal-info
    id="step-four-modal-info"
    [variant]="'info'"
    icon="cone"
    [modalTitle]="soonTitle"
    [description]="soonDescription"
    [confirmLabel]="'ENTIENDO'"
    (confirm)="declineModal()"
  ></app-modal-info>
</ng-template>
