@import 'helpers/_helpers-master';
@import 'helpers/_bt-mixins';

.editor{
  $root: &;
  width: 100%;
  padding: 75px 15px 0 236px;
  margin: 0;
  position: relative;
  height: 100%;
  z-index: 1;
  &__forms{
    width: 100%;
    // flex-direction: column;
    max-width: 672px;
    min-width: 430px;
    @include transitions(all, 0.5s, ease-in-out);
  }
  &_short{
    #{$root}__forms{
      @include media-breakpoint-down(xl) {
        max-width: 672px;
        padding-right: 0;
        width: calc(100% - 517px);
      }
    }
  }
  .step-section{
    scroll-margin-top: 110px;
    display: block;
  }

  @include media-breakpoint-up(xl) {
    &__bg{
      background-image:url('../../../../../../images/img_background_shapes.png');
      background-repeat: no-repeat;
      background-position: right center;
      position: fixed;
      top: 75px;
      right: 0;
      width: 100%;
      min-height: 1200px;
      overflow: hidden;
      z-index: -1;
    }
  }

  @include media-breakpoint-up(xxl) {
    &__forms{
      min-width: 672px;
      width: 49.5%;
      max-width: 800px;
    }
  }
}