<div class="editor" id="editor" [ngClass]="{ 'editor_short' : contextualStatus}">
  <div class="editor__bg"></div>
  <app-editor-header
    id="editor-header"
    [projectData]="editor.titleData"
    (titleBlur)="editor.handleSubmit($event)"
  ></app-editor-header>
  <div *ngIf="(loaded$ | async)" class="editor-aside">
    <app-editor-sidebar
    id="editor-sidebar"
    title="{{ 'STEPS_MENU.project_structure_stepsmenu_title' | translate }}"
    view="{{'STEPS_MENU.project_structure_stepsmenu_output' | translate}}"
    [steps]="steps"
    ></app-editor-sidebar>
  </div>
  <div *ngIf="(loaded$ | async)" class="editor__forms">
    <router-outlet></router-outlet>
  </div>
  <app-contextual-help (status)="getContextualStatus($event)"></app-contextual-help>
  <app-loader *ngIf="(loaded$ | async) === false"></app-loader>
</div>