@import 'variables/_variables-master';
.project-form {
  &__title {
    &_criterion {
      font-size: font-size(body);
      font-weight: bold;
      line-height: 28px;
      letter-spacing: 0.2px;
    }
  }
}
