<div class="project-editor__form step-three">
    <div class="project-form">
        <h1 class="title_s"><span>3. </span>Objetivos competenciales<app-info-tooltip></app-info-tooltip>
        </h1>
        <p class="project-form__description">Son las metas de conocimiento, acción y comportamiento que quieres que tus
            alumn@s alcancen durante el proyecto. Para que tus intenciones respondan a lo que pide la normativa,
            partirás de los criterios de evaluación.</p>
        <button (click)="openModalWithComponent($event)" class="btn btn-primary">Modal</button>
    </div>
</div>