<div class="project-editor__form step-three">
  <app-status [status]='step.state'></app-status>
  <div class="project-form d-flex flex-column justify-content-between">
    <div>
      <h1 class="title_s">
        <span>3. </span>{{'OBJECTIVES.project_objectives_title' | translate}}
        <app-info-tooltip></app-info-tooltip>
      </h1>
      <p class="project-form__description">{{'OBJECTIVES.project_objectives_description'  | translate}}</p>
      <ng-template #loaded>
        <app-step-unlock *ngIf="!(editor.project$|async)?.subjects?.length; else hasSubjects"></app-step-unlock>
        <ng-template #hasSubjects>
          <div class="project-editor__subject-wrapper">
            <app-details-selector
              *ngFor="let subject of (editor.project$|async).subjects; let i = index; let last = last;"
              [data]="subject"
              [subjectId]="subject.id"
              [criterias]="criterias"
              [isLast]="last" (addCriteria)="addItem($event)"
              (deleteCriteria)="removeItem($event)"
              (openModal)="openModalWithComponent()"
              [project$]="editor.project$">
            </app-details-selector>
            <div class="project-editor__goto-step">
              {{'OBJECTIVES.project_objectivies_add_more_subjects.one' | translate}}
              <span class="project-editor__point" [routerLink]="'stepOne'">
                {{'OBJECTIVES.project_objectivies_add_more_subjects.two' | translate}}
              </span>
              {{'OBJECTIVES.project_objectivies_add_more_subjects.three' | translate}}
            </div>
          </div>
          <div class="project-editor__transevaluation">
            <h2 class="title_xs project-editor__title">
              {{'OBJECTIVES.project_objectives_objectives_subtitle.subtitle' | translate}}
            </h2>
            <p class="project-form__sub-description mb-5">
              {{'OBJECTIVES.project_objectives_objectives_subtitle.description' | translate}}
            </p>
            <app-textarea-bullets [config]='textAreaConfig' (inputChange)="textAreaUpdate($event)"
              [options$]="competencyObjectives$" [variant]="'number'">
            </app-textarea-bullets>
          </div>
        </ng-template>
      </ng-template>
      <app-loader *ngIf="loading; else loaded"></app-loader>
    </div>
    <app-button *ngIf="!loading" [config]='buttonConfig' (click)='handleSubmit("DONE")'>
    </app-button>
  </div>
