@import 'helpers/_helpers-master';
@import 'variables/_variables-master';

.sidebar {
  position: absolute;
  left: 0;
  top: 235px;
  width: 257px;
  padding-left: 44px;
  padding-right: spacing(secondary);

  &-menu {
    &__title {
      font-weight: bold;
      letter-spacing: 0.39px;
      line-height: 0px;
    }

    &__element {
      display: flex;
      cursor: pointer;
      flex-direction: row;
      margin-top: 37px;
      align-items: center;

      &-circle {
        height: 50px;
        width: 58px;
        display: flex;
        background-color: color(quaternary);
        border-radius: 50%;
        justify-content: center;
        align-items: center;
      }

      .icon {
        font-size: font-size(s);
        color: color(tertiary);
      }

      &-label {
        font-family: font-family(default);
        color: color(tertiary);
        font-size: font-size(default);
        font-weight: bold;
        letter-spacing: 0;
        margin-left: spacing(primary);
        letter-spacing: 0;
        line-height: 20px;
      }
    }
  }
}
