<div class="tabset">
  <div
    *ngFor="let tab of tabs; let index = index"
    class="tabset__tab"
    [ngClass]="{
      'tabset__tab-material': variant === 'material',
      'tabset__tab-profile': variant === 'profile',
      'tabset__tab-material_active': variant === 'material' && index === active,
      'tabset__tab-profile_active': variant === 'profile' && index === active,
      tabset__tab_disabled: disabledTabs.includes(index)
    }"
    (click)="changeActiveTab(index)"
  >
    {{ tab | translate }}
  </div>
</div>
