@import 'helpers/_helpers-master';

.project-editor-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 75px;
  display: flex;
  background: $background-primary;
  border-bottom: 1px solid $creator-border;
  z-index: 99999;

  &__collapse,
  &__nav,
  &__menu-list,
  &__menu-item,
  &__menu-link{
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
  }
  &__collapse,
  &__nav,
  &__menu-list{
    flex: 1;
    justify-content: flex-start;
  }

  &__menu{
    &-list{
      list-style: none;
      padding-left: 0;
    }
    &-item{
      padding-left: 24px;
      padding-right: 24px;
      &:first-child{
        padding-left: 4px;
      }
    }
    &-link{
      font-family: $font-family-tertiary;
      font-size: $font-size-body-s;
      line-height: $line-height-24px;
      letter-spacing: normal;
      font-weight: 700;
      color: rgba($primary-font-color, 0.6);
      position: relative;
      cursor: pointer;
    }
    &-item.active &-link{
      color: $primary-font-color;
      &::after{
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        border-bottom: 2px solid $primary-font-color;
        width: 100%;
      }
    }
  }
  &__toolbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    &-link{
      display: flex;
      align-items: center;
      cursor: pointer;
      font-family: $font-family-tertiary;
      font-size: $font-size-body-s;
      line-height: $line-height-24px;
      letter-spacing: normal;
      font-weight: 700;
      color: $primary-font-color;
      padding: 6px 14px 6px 6px;
      margin-left: 0;
      max-height: 36px;
      max-width: 136px;
      border: 2px solid $btn-color;
      border-radius: 4px;
      background-color: $btn-color;
    }
    &-icon{
      padding-top: 1px;
      font-size: 24px;
      margin-right: 5px;
    }
  }
}

.app-logo {
  height: 26px;
  width: 88px;

  &__link{
    display: block;
  }
}
