<div class="project-editor-header">
  <div class="container-fluid d-flex align-items-center">
    <div class="app-logo">
      <a class="app-logo__link" routerLink="/">
        <img
          class="app-logo__img"
          src="../../../../../assets/images/thinko_logo.svg"
          alt="thinko"
        />
      </a>
    </div>
    <app-project-title
      id="project-title"
      [maxLength]="70"
      [projectData]="projectData"
      (titleSubmit)="handleTitleSubmit($event)"
    ></app-project-title>
  </div>
</div>
