/* Custom styes starts */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
*{
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
html,
.zfr3Q,h2.JYVBee {
  font-family: 'PT Sans', sans-serif !important;
  font-size: 14px !important;
  line-height: 24px !important;
  letter-spacing: 0 !important;
  color: #141c3a !important;
}
.wHaque{
  padding-bottom: 0 !important;
}
.Pvc6xe{
  padding: 0 ;
}
.wHaque .tyJCtd.mGzaTb.baZpAe p{
  font-weight: 700;
  text-align: left !important;  
  padding-left: 10px !important;
}
.t3iYD{
  margin-left: -24px !important;
  margin-right: -24px !important;
}
.LS81yb, .oKdM2c{
  max-width: unset;
}
.JNdkSc-SmKAyb .OjCsFc {
  padding-top: 0 !important;
}
h2.JYVBee {
  font-weight: 700 !important;
  font-size: 18px !important;
  line-height: 28px !important;
  letter-spacing: 0.2px !important;
  margin-bottom: 15px !important;
}
.TlfmSc .QTKDff{
  max-width: unset;
}
.VLoccc{
  padding-left: 50px !important;
  padding-right: 40px !important;
}
img.CENy8b{
  margin: 0 !important;
}
ul{
  padding-left: 25px !important;
  list-style: none !important;
}
li{
  position: relative;
}
li::after{
  content: '';
  position: absolute;
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 3px solid #6400e4;
  background-color: #ffffff;
  left: -23px;
  top: 6px;
}

body{
  padding-left: 50px !important;
  padding-right: 40px !important;
}

@media (max-width: 470px){
  body{
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
  .VLoccc{
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
}
/* Custom styes ends */