@import '../../../../../styles/helpers/_helpers-master';
.form-button{
  margin: $m-36px*2 0 $m-36px 0;
  .btn{
    display: flex;
  }
  &__icon{
    font-size: 24px;
    line-height: 1;
    margin-left: -2px;
  }
  .btn-primary{
    padding-left: $padding-m;
    padding-right: $padding-m;
  }
}
