@import '../../../../../styles/helpers/_helpers-master';
.form-button{
  margin: $m-36px*2 0 $m-36px 0;
  .btn{
    display: flex;
    align-items: center;
  }
  &__icon{
    font-size: 24px;
    line-height: 1;
    margin-left: -2px;
  }
  .btn-primary{
    padding-left: $padding-m;
    padding-right: $padding-m;
  }
  .btn-success{
    padding-left: 20px;
    padding-right: 20px;
    min-width: unset;
    .form-button__icon{
      margin-left: -8px;
    }
  }
}
