@import 'helpers/_bt-mixins';

.cover {
  width: 43.06%;
  height: 100vh;
  right: 0;
  top: 0;
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__mask {
    position: absolute;
    display: block;
    &_upper {
      right: 4%;
      top: 0px;
      z-index: -1;
    }
    &_lower {
      width: 118%;
      right: 0;
      bottom: 0;
    }
    &_logo {
      width: 16%;
      right: 60px;
      top: 45px;
    }
  }
}

@include media-breakpoint-up(md) {
  .cover {
    position: fixed;
    &__mask_upper {
      z-index: 1;
      width: 118%;
      right: 0;
      top: 0;
    }
  }
}
