<div
  class="reset-password d-flex align-items-center justify-content-between"
  *ngIf="!loading"
>
  <div class="reset-password__left-layout m-auto">
    <div class="container-fluid">
      <div class="col d-flex align-items-center justify-content-center">
        <div class="reset-password__wrap">
          <h1 class="title_m mb-4">
            {{
              'RESET_PASSWORD_PAGE.login_reset-password_title_newpassword'
                | translate
            }}
          </h1>
          <h2 class="reset-password__description mb-8">
            {{
              'RESET_PASSWORD_PAGE.login_reset-password_description_newpassword'
                | translate
            }}
          </h2>
          <form
            class="reset-password__form-group"
            [formGroup]="resetPasswordForm"
            (ngSubmit)="resetPassword()"
          >
            <div class="reset-password__input-wrapper">
              <app-input
                variant="password"
                formControlName="password"
                [isForm]="true"
                [placeholder]="
                  'RESET_PASSWORD_PAGE.login_reset-password_input_newpassword'
                    | translate
                "
                label="RESET_PASSWORD_PAGE.login_reset-password_label_newpassword"
                [passwordValidator]="true"
                [control]="resetPasswordForm"
              ></app-input>
            </div>

            <div class="reset-password__button-wrapper mb-4">
              <app-button
                [theme]="'primary'"
                [variant]="'block'"
                [size]="'medium'"
                buttonType="submit"
                [disabled]="resetPasswordForm.invalid"
                [loading]="buttonLoading"
              >
                {{
                  'GENERAL.platform_button-primary_restorepassword' | translate
                }}
              </app-button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="reset-password__right-layout">
    <app-layout-cover
      [img]="'../assets/images/reset-password-cover@1x.png'"
    ></app-layout-cover>
  </div>
</div>
<app-loader *ngIf="loading"></app-loader>

<ng-template #sendModal>
  <app-modal-info
    id="reset-password-modal"
    variant="primary"
    [appearance]="'medium'"
    overTitle="GENERAL.platform_popup-done_headline"
    modalTitle="PASSWORD_CHANGED_POP_UP.login_password-changed_title"
    confirmLabel="GENERAL.platform_button-primary_login"
    (confirm)="confirmModal()"
  >
    <p>
      {{
        'PASSWORD_CHANGED_POP_UP.login_password-changed_description' | translate
      }}
    </p>
  </app-modal-info>
</ng-template>
