@import 'variables/_variables-master';

.output-view {
  display: flex;
  width: 100%;
  justify-content: center;

  &__section {
    display: flex;
    flex-wrap: wrap;
    padding-top: 75px;
    flex-direction: row;
  }

  &__content {
    height: calc(100vh - 75px);
    width: 100%;
    max-width: calc(100% - 235px);
    background-color: color(background-primary);
    overflow: auto;
    position: relative;

    ::ng-deep {
      .pdfViewer {
        padding: grid-gutter(primary);
        position: absolute;
        min-width: 100%;
        padding-right: 23px;
        .page {
          border: none;
          border-image: none;
          -webkit-border-image: none;
          box-shadow: 1px 0 5px -3px rgba(color(tertiary), 0.2);
          margin-bottom: spacing(secondary);
        }
      }
    }
  }
}
