<div class="project-editor__form step-eight">
    <div class="project-form d-flex flex-column justify-content-between">
        <div>
            <h1 class="title_s"><span>6. </span>{{'RETHINK_TITLE.project_rethinktitle_creativetitle' | translate}}
                <app-info-tooltip></app-info-tooltip>
            </h1>
            <p class="project-form__description"
                [innerHTML]="'RETHINK_TITLE.project_rethinktitle_description' | translate"></p>
            <app-input placeholder="{{'RETHINK_TITLE.project_rethinktitle_creativetitle_placeholder' | translate }}">
            </app-input>
            <h2 class="title_xs project-form__subtitle">{{'RETHINK_TITLE.project_rethinktitle_addimage' | translate}}
            </h2>
            <app-image-upload></app-image-upload>
        </div>
        <app-form-button scrollTo scrollToId="stepNine" [config]='buttonConfig' >
        </app-form-button>
    </div>
</div>
<!-- (onClick)='handleSubmit("DONE")' -->