<div class="project-editor__form step-six">
    <div class="project-form">
        <h1 class="title_s"><span>6. </span>Título creativo<app-info-tooltip></app-info-tooltip>
        </h1>
        <p class="project-form__description">¿Mantienes el nombre que le has dado a tu proyecto o prefieres cambiarlo?
            Ahora puedes repensar el título inicial y darle un plus de creatividad. Si no se te ocurre nada, sigue
            nuestros consejos de la guía pedagógica. También puedes subir una imagen que te inspire. </p>
    </div>
</div>